<div class="short-overview">
  <h2 class="section-header-heading mb-0">
    {{ categoryName }}
    {{ 'fscommon.application.title' | cxTranslate }}
  </h2>
  <ng-container *ngIf="product$ | async as product">
    <div class="short-overview-content">
      <ng-container *ngIf="pricingData; else emptyConfigurationMiniCart">
        <div
          *ngFor="
            let priceAttribute of pricingData.priceAttributeGroups[0]
              ?.priceAttributes
          "
          class="short-overview-item row"
        >
          <ng-container
            *ngIf="
              getTranslation('configureProduct', priceAttribute.key) as label
            "
          >
            <div class="short-overview-title col-7">{{ label }}:</div>
            <div class="short-overview-value col-5">
              {{
                detectCurrencyAndFormatValue(
                  priceAttribute,
                  currentCurrency$ | async
                )
              }}
            </div>
          </ng-container>
        </div>
        <div class="highlighted border-top border-color-3 row">
          <div class="short-overview-title col-6">
            {{ 'fscommon.totalPrice' | cxTranslate }}:
          </div>
          <div class="short-overview-value col-6">
            {{ getPaynowFormattedPrice(product.price?.oneTimeChargeEntries) }}
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<ng-template #emptyConfigurationMiniCart>
  <p>
    {{ 'configureProduct.emptyConfigurationDetails' | cxTranslate }}
  </p>
</ng-template>
