<ng-container *ngIf="changeRequest$ | async as changeRequest">
  <ng-container
    *ngIf="getChangedPolicyObjects(changeRequest) as changedPolicyObjects"
  >
    <div class="box-shadow d-none d-md-block">
      <div class="container-fluid">
        <div
          class="row p-3 background-color-4 border-top-3 border-color-primary"
        >
          <div class="col-1 text-uppercase semi-bold">
            {{ 'fscommon.no' | cxTranslate }}.
          </div>
          <div class="col-4 text-uppercase semi-bold">
            {{ 'changeRequest.description' | cxTranslate }}
          </div>
          <div class="col-4 text-uppercase semi-bold">
            {{ 'changeRequest.currentSelection' | cxTranslate }}
          </div>
          <div class="col-3 text-uppercase semi-bold">
            {{ 'changeRequest.newSelection' | cxTranslate }}
          </div>
        </div>
        <ng-container
          *ngFor="let changedPolicyObject of changedPolicyObjects; index as i"
        >
          <div class="row p-3 font-weight-bold">
            <div class="col-1">{{ i + 1 }}.</div>
            <div class="col-4">
              {{ changedPolicyObject?.label }}
            </div>
            <div class="col-4">
              {{ changedPolicyObject?.oldValue }}
            </div>
            <div class="col-3 notice">
              {{ changedPolicyObject?.newValue }}
            </div>
          </div>
        </ng-container>
        <div class="row p-3 background-color-4">
          <div class="offset-1 col-4 pb-3 text-uppercase semi-bold">
            {{ 'forms.effectiveDate' | cxTranslate }}:
          </div>
          <div class="col-4 pb-3 text-uppercase semi-bold">
            {{ 'changeRequest.currentPremium' | cxTranslate }}:
          </div>
          <div class="col-3 pb-3 text-uppercase semi-bold">
            {{ 'changeRequest.newPremium' | cxTranslate }}:
          </div>
          <div class="offset-1 col-4 semi-bold">
            {{ currentDate | cxFormatDate }}
          </div>
          <div class="col-4 semi-bold">
            {{ changeRequest.insurancePolicy?.policyPremium?.formattedValue }} /
            {{ changeRequest.insurancePolicy?.paymentFrequency }}
          </div>
          <div class="col-3 semi-bold">
            {{ changeRequest.changedPolicy?.policyPremium?.formattedValue }} /
            {{ changeRequest.changedPolicy?.paymentFrequency }}
          </div>
        </div>
      </div>
    </div>

    <div class="box-shadow d-block d-md-none border-top-3 border-color-primary">
      <div class="container-fluid">
        <ng-container
          *ngFor="let changedPolicyObject of changedPolicyObjects; index as i"
        >
          <div class="row p-2 border-bottom border-color-4">
            <div class="col-6 py-1 semi-bold">
              {{ 'fscommon.no' | cxTranslate }}.:
            </div>
            <div class="col-6 py-1 text-right text-sm-left">{{ i + 1 }}.</div>
            <div class="col-6 py-1 semi-bold">
              {{ 'changeRequest.description' | cxTranslate }}
            </div>
            <div class="col-6 text-right text-sm-left">
              {{ changedPolicyObject?.label }}
            </div>
            <div class="col-6 py-1 semi-bold">
              {{ 'changeRequest.currentSelection' | cxTranslate }}
            </div>
            <div class="col-6 text-right text-sm-left">
              {{ changedPolicyObject?.oldValue }}
            </div>
            <div class="col-6 py-1 semi-bold">
              {{ 'changeRequest.newSelection' | cxTranslate }}
            </div>
            <div class="col-6 text-right text-sm-left">
              {{ changedPolicyObject?.newValue }}
            </div>
          </div>
        </ng-container>
        <div class="row p-2 background-color-4">
          <div class="col-6 py-1 text-uppercase semi-bold">
            {{ 'forms.effectiveDate' | cxTranslate }}:
          </div>
          <div class="col-6 py-1 text-right semi-bold text-sm-left">
            {{ currentDate | date: 'dd-MM-yyyy' }}
          </div>
          <div class="col-6 py-1 text-uppercase semi-bold">
            {{ 'changeRequest.currentPremium' | cxTranslate }}
          </div>
          <div class="col-6 py-1 text-right semi-bold text-sm-left">
            {{ changeRequest.insurancePolicy?.policyPremium?.formattedValue }} /
            {{ changeRequest.insurancePolicy?.paymentFrequency }}
          </div>
          <div class="col-6 py-1 text-uppercase semi-bold">
            {{ 'changeRequest.newPremium' | cxTranslate }}:
          </div>
          <div class="col-6 py-1 text-right semi-bold text-sm-left">
            {{ changeRequest.changedPolicy?.policyPremium?.formattedValue }} /
            {{ changeRequest.changedPolicy?.paymentFrequency }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="row mt-5">
    <div class="col-12 col-md-5 mb-3">
      <button
        class="action-button btn-block"
        (click)="cancelChangeRequest(changeRequest.requestId)"
      >
        {{ 'common.cancel' | cxTranslate }}
      </button>
    </div>
    <div class="col-12 col-md-5 ml-auto">
      <button
        class="primary-button btn-block"
        (click)="updateChangeRequest(changeRequest)"
      >
        {{ 'fscommon.submit' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-container>
