<div class="cx-multi-step-checkout">
  <div class="row">
    <div class="col-12">
      <div class="progress-wrapper my-2">
        <div class="d-flex flex-wrap my-4">
          <div
            class="progress-inner-wrapper flex-grow-1 flex-shrink-1 text-center"
            *ngFor="let step of steps; let i = index"
          >
            <div
              class="d-flex progress-node"
              [ngClass]="{
                ' is-active': i + 1 === activeStepIndex,
                ' is-disabled': i + 1 > activeStepIndex
              }"
              [routerLink]="
                {
                  cxRoute: step.pageLabelOrId
                } | cxUrl
              "
            >
              <div
                class="step"
                [ngClass]="[
                  activeStepIndex > i + 1 ? 'fs-icon visited' : 'step-number'
                ]"
                [attr.data-step]="i + 1"
              ></div>
              <p class="label position-relative mb-2">
                {{ step.name }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
