@import '../mixins-fsa';
@import '../variables-fsa';

.modal-content {
    border-radius: 5px;
    margin: 30px;
    .popup-content-wrapper {
        padding: 30px;
    }
    .close {
        width: 28px;
        height: 28px;
        position: relative;
        border: 3px solid $color-dark-grey;
        border-radius: 50%;
        &:before {
            content: '+';
            position: absolute;
            transform: rotate(45deg);
            top: -4px;
            left: 4px;
            font-size: 28px;
            color: $color-dark-grey;
            overflow: hidden;
            line-height: 1;
            font-weight: 700;
        } 
        &:hover{
            border-color: $color-blue; 
            &:before {
                color: $color-blue;
            }
        }
    }
}
