@import '../mixins-fsa';
@import '../variables-fsa';

body {
  font-size: 1rem;
  color: var(--cx-g-color-text);
}

h1, .h1 { font-size: var(--cx-g-h1-font-size) }
h2, .h2, .test { font-size: var(--cx-g-h2-font-size) }
h3, .h3 { font-size: var(--cx-g-h3-font-size) }
h4, .h4 { font-size: var(--cx-g-h4-font-size) }
h5, .h5 { font-size: var(--cx-g-h5-font-size) }
h6, .h6 { font-size: var(--cx-g-h6-font-size) }
p {
  font-size: var(--cx-g-text-font-size);
}
.center1400 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.contentPadding {
  padding: 20px 10px 0 10px;
}
//CSS Reset
button[disabled], html input[disabled] {
  cursor: default;
}
button:focus {
  outline: none;
}
a {
  @include transition();
  &:hover {
    text-decoration: none;
  }
}
.loader {
  overflow: hidden;
}
// Stand-alone building blocks
.info-container {
  background-color: var(--cx-g-color-4);
  border: $border-grey;
}
.heading-headline {
  line-height: 35px;
  padding: 20px 0;
  text-align: left;
  margin-bottom: 30px;
  color: var(--cx-g-color-secondary);
  font-size: 24px;
  font-weight: 700;
  border-bottom: $border-grey;
}
.section-header__heading {
  @include linear-gradient-background (var(--cx-g-color-primary), var(--cx-g-color-9), 50%, 100%);
  border: none;
  color: var(--cx-g-color-1);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  padding: 15px; 
  text-align: center;
}
.images__size {
  display: block;
  width: 100%;
  height: 100%;
}
.images__wrapper {
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 2px;
}
.notice {
  color: var(--cx-g-color-primary);
  font-weight: bold;
  &--dark {
    color: var(--cx-g-color-8);
  }
}
.warn {
  color: var(--cx-g-color-warning);
  font-weight: bold;
}
.border-bottom-grey {
  border-bottom: $border-grey;
}
.border-top-grey {
  border-top: 1px solid var(--cx-g-color-3);
}
.circle-image {
  background-color: var(--cx-g-color-7);
  border-radius: 50%;
  @include box-shadow(0px, 0px, 9px, 1px, var(--cx-g-color-text), 70%);
  margin: 0 25px;
}
.gradient-heading {
  color: var(--cx-g-color-1);
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.6;
  @include linear-gradient-background( var(--cx-g-color-primary), var(--cx-g-color-9), 50%, 100% );
}
.list-data {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--cx-g-color-1);
  &--closed {
    display: none;
  }
  &__list-item {
    padding: 12px;
    list-style: none;
    background-color: var(--cx-g-color-1);
  }
  &__info {
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }
}
.color-dot {
  position: relative;
  &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--cx-g-color-primary);
  }
}
.clickable {
  @include accordion-status();
}

//CSS Reset
button:focus {
  outline: none;
}
$border-grey: $border-grey;
a {
  @include transition();
}
.underline-effect {
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--cx-g-color-7);
    width: 0;
    height: 5px;
    transition: all 300ms ease;
  }
  &:hover:before {
      width: 100%;
    }
}

/* *********************************************************** */
/* ************************ Cards ************************* */
/* ********************************************************* */
.cards {
  color: var(--cx-g-color-text);
  &__wrapper {
    border: $border-grey;
    border-radius: 15px 15px 0 0;
    text-align: center;
    margin: 20px auto 20px;
    position: relative;
    display: block;
    &--border-primary {
      border-bottom: 1px solid var(--cx-g-color-secondary);
    }
    &--border-secondary {
      border-bottom: 1px solid var(--cx-g-color-primary);
    }
  }
  &__title {
    background-color: var(--cx-g-color-5);
    border-radius: 15px 15px 0 0;
    padding: 20px 0;
    & > * {
      margin-top: 15px;
    }
    &--gradient-background {
      @include linear-gradient-background(
        var(--cx-g-color-primary),
        var(--cx-g-color-9),
        50%,
        100%
      );
    }
    &--border-primary {
      border-bottom: 4px solid var(--cx-g-color-secondary);
    }
    &--border-secondary {
      border-bottom: 4px solid var(--cx-g-color-primary);
    }
    .images__wrapper {
      background-color: transparent;
      width: 70px;
      height: auto;
      padding: 0;
      &--white-bck {
        background-color: var(--cx-g-color-1);
        border-radius: 50%;
        padding: 10px;
      }
    }
  }
  &__caption,
  &__info {
    font-weight: bold;
    &--color-primary {
      color: var(--cx-g-color-secondary);
    }
    &--color-secondary {
      color: var(--cx-g-color-primary);
    }
    &--color-white {
      color: var(--cx-g-color-1);
    }
  }
  &__details-wrapper {
    .cards__data {
      padding: 20px 0;
      &:nth-of-type(even) {
        background-color: var(--cx-g-color-5);
      }
      .title {
        display: block;
        font-weight: 600;
      }
    }
    &--grey {
      background-color: var(--cx-g-color-4);
      .cards__data {
        &:nth-of-type(even) {
          background-color: var(--cx-g-color-4);
        }
      }
    }
  }
  &-button-wrapper {
    &--border-primary {
      border-top: 1px solid var(--cx-g-color-secondary);
    }
    &--border-secondary {
      border-top: 1px solid var(--cx-g-color-primary);
    }
  }
  &__button {
    margin: 0 auto;
    padding: 40px;
    max-width: 260px;
    [disabled] {
      opacity: 0.7;
      cursor: not-allowed;
    }
    &--spacing-mid {
      padding: 20px 40px;
    }
  }
}
.account-cards-actions {
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 14px;
  .action-links {
      color: var(--cx-g-color-primary);
  }
}
/* *********************************************************** */
/* ************************ Buttons ************************* */
/* ********************************************************* */
button, .primary-button, .secondary-button, .action-button {
  display: inline-block;
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: var(--cx-g-font-weight-normal);
  white-space: nowrap;
  -webkit-appearance: none;
  text-transform: uppercase;
  cursor: pointer;
  @include transition;
  &:disabled {
    cursor: no-drop;;
  }
}
.primary-button {
  color: var(--cx-g-color-1);
  background-color: var(--cx-g-color-primary);
  &:hover{
    color: var(--cx-g-color-1);
    background-color: var(--cx-g-color-7);
  }
  &:disabled {
    opacity: 0.6;
  }
}
.secondary-button {
  color: var(--cx-g-color-1);
  background-color: var(--cx-g-color-secondary);
  &:hover{
    color: var(--cx-g-color-1);
    background-color: var(--cx-g-color-8);
  }
  &:disabled {
    opacity: 0.6;
  }
}
.action-button {
  color: var(--cx-g-color-secondary);
  background-color: var(--cx-g-color-transparent);
  border: 3px solid var(--cx-g-color-secondary);
  &:hover{
    color: var(--cx-g-color-primary);
    background-color: var(--cx-g-color-transparent);
    border: 3px solid var(--cx-g-color-primary);
  }
  &:disabled {
    opacity: 0.6;
  }
}
/* ************************************************************* */
/* ************************ Buttons end ************************ */
/* ************************************************************* */
/*******MY ACCOUNT - POLICIES DETAILS START********/
.policy-spec {
  &.account-section-content__headline {
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 36px;
    color: var(--cx-g-color-secondary);
    position: relative;
    @include media-breakpoint-down(md) {
        margin-top:0px;
    }
    .images__wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left:0;
      background-color: transparent;
    }
  }
  .account-section-content__headline {
    &--title {
      display: block;
      color: var(--cx-g-color-text);
      font-size: 22px;
      font-weight: 600;
      @include media-breakpoint-down(md) {
        font-size:22px;
        line-height:30px;
        width: 70%;
          margin: 0 auto;
      }
    }
    &--number {
      display: block;
      font-size: 22px;
      border-bottom: $border-grey;
        color: var(--cx-g-color-text);
        padding-bottom: 10px;
        font-weight: 600;
      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }
    &--back {
      // .glyphicon-chevron-left;
      top: 50%;
      right: 48px;
      position: absolute;
      transform: translateY(-50%);
      background: transparent;
      color: var(--cx-g-color-secondary);
      &:before {
        //@include glyphicon;
        @include transition;
        float: right;
        font-size: 20px;
      }
      @include media-breakpoint-down(md) {
        right: 11px;
      }
    }
  }
}
	
/*********MY ACCOUNT - POLICIES DETAILS END********/
/********* CHECKOUT ********/
.centered-heading {
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: $border-grey;
}
.cart-items-list {
  border: $border-grey;
  background-color: var(--cx-g-color-4);
  padding: 0 15px;
   h2 {
    margin: 0;
  }
  & h3 {
    font-weight: normal;
    margin: 0;
    padding: 2px 0;
    max-width: 285px;
    width: 100%;
    @include ellipsis;
    @include media-breakpoint-down(md) {
      margin: 12px 0;
      max-width: inherit;
    }
  }
  & > .row {
    @include media-breakpoint-down(sm) {
      border-top: $border-grey;
    }
  }
  .disabled-option {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid var(--cx-g-color-5);
    border-top: 2px solid var(--cx-g-color-5);
    box-shadow: 0 0 0 2px white inset;
  }
  .tooltip-wrapper {
    @include absolute-center;
    right: 30%;
    z-index: 2000;
    position: absolute;
    @include media-breakpoint-down(sm) {
      top: 15%;
      right: 30px;
    }
    .tooltip .arrow:before {
      border-left-color: var(--cx-g-color-8);
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
/********* CHECKOUT - END ********/

/*********Comparison Table*******/
.products-details {
  min-height: 200px;
  &__name {
      font-size: 20px;
      min-height: 50px;
      @include media-breakpoint-down(sm) {
        min-height: 60px;
        font-size: 18px;
      }
  }
  &__main-price {
      margin: 20px 0;
      font-size: 40px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
  }
}
.products-prices {
  &__price-wrapper {
      position: relative;
      padding: 15px;
      &:nth-child(even) {
          background-color: transparent;
      }
      &:nth-child(odd) {
          background-color: var(--cx-g-color-5);
      }
  }
}
.price-value {
  @include media-breakpoint-down(sm) {
    max-width: 100px;
  }
}
.investments {
  @include media-breakpoint-down(lg) {
    min-height: 220px;
  }
  @include media-breakpoint-down(sm) {
    min-height: 330px;
  }
}
.ct-tooltip .arrow:before {
  border-top-color: var(--cx-g-color-8);
}
/******Comparison Table - END***/