//Mixin for linear gradient background
@import '../mixins-fsa';
@import '../variables-fsa';

body {
  font-size: 14px;
}
.center1400 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.contentPadding {
  padding: 20px 10px 0 10px;
}
//CSS Reset
button:focus {
  outline: none;
}
$border-grey: 1px solid $color-grey;
@mixin transition {
  transition: all 300ms ease;
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a {
  @include transition();
}

.images__size {
  width: 100%;
  height: 100%;
}
.images__wrapper {
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  width: 62px;
  height: 62px;
  text-align: center;
  padding: 6px;
}
.notice {
  color: $color-blue;
  font-weight: bold;
  &--dark {
    color: $color-button-secondary-hover;
  }
}
.circle-image {
  background-color: $color-banking-dark-blue;
  border-radius: 50%;
  @include box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 70%);
  margin: 0 25px;
}
/* *********************************************************** */
/* ************************ Cards ************************* */
/* ********************************************************* */
.cards {
  color: $color-dark-grey;
  &__wrapper {
    border: $border-grey;
    border-radius: 15px 15px 0 0;
    text-align: center;
    margin: 20px auto 20px;
    position: relative;
    display: block;
    &--border-primary {
      border-bottom: 1px solid $color-dark-blue;
    }
    &--border-secondary {
      border-bottom: 1px solid $color-blue;
    }
  }
  &__title {
    background-color: $color-mild-grey;
    border-radius: 15px 15px 0 0;
    padding: 20px 0;
    & > * {
      margin-top: 15px;
    }
    &--gradient-background {
      @include linear-gradient-background(
        $color-blue,
        $color-banking-darkest-blue,
        50%,
        100%
      );
    }
    &--border-primary {
      border-bottom: 4px solid $color-dark-blue;
    }
    &--border-secondary {
      border-bottom: 4px solid $color-blue;
    }
    .images__wrapper {
      background-color: transparent;
      width: 70px;
      height: auto;
      padding: 0;
      &--white-bck {
        background-color: $color-white;
        border-radius: 50%;
        padding: 10px;
      }
    }
  }
  &__caption,
  &__info {
    font-weight: bold;
    &--color-primary {
      color: $color-dark-blue;
    }
    &--color-secondary {
      color: $color-blue;
    }
    &--color-white {
      color: $color-white;
    }
  }
  &__details-wrapper {
    .cards__data {
      padding: 20px 0;
      &:nth-of-type(even) {
        background-color: $color-mild-grey;
      }
      .title {
        display: block;
        font-weight: 600;
      }
    }
    &--grey {
      background-color: $color-light-grey;
      .cards__data {
        &:nth-of-type(even) {
          background-color: $color-light-grey;
        }
      }
    }
  }
  &-button-wrapper {
    &--border-primary {
      border-top: 1px solid $color-dark-blue;
    }
    &--border-secondary {
      border-top: 1px solid $color-blue;
    }
  }
  &__button {
    margin: 0 auto;
    padding: 40px;
    max-width: 260px;
    [disabled] {
      opacity: 0.7;
      cursor: not-allowed;
    }
    &--spacing-mid {
      padding: 20px 40px;
    }
  }
}
.account-cards-actions {
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 14px;
  .action-links {
      color: $color-blue;
  }
}
/* *********************************************************** */
/* ************************ Buttons ************************* */
/* ********************************************************* */
.primary-button,
.secondary-button,
.inverted {
  cursor: pointer;
  -webkit-appearance: none;
  margin-bottom: 10px;
  &__default {
    @include transition;
    width: 100%;
    height: 40px;
    line-height: 1;
    border: none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    &--opacity {
      opacity: 0.7;
    }
    &--opacity-disabled {
      opacity: 0.2;
    }
  }
  &__account-policies {
    display: inline-block;
    font-size: 12px;
    padding: 14px;
    margin: 6px 0;
    white-space: nowrap;
  }
  &:hover {
    text-decoration: none;
  }
}
.primary-button {
  &__default {
    @include primary-btn-color();
  }
}
.btn-primary {
  @include primary-btn-color;
}
.btn-default {
  @include secondary-btn-color;
}
.secondary-button {
  &__default {
    @include secondary-btn-color;
  }
  &--inverted {
    @include secondary-btn-color-inverted;
  }
}
/* ************************************************************* */
/* ************************ Buttons end ************************ */
/* ************************************************************* */
/*******MY ACCOUNT - POLICIES DETAILS START********/
.policy-spec {
  &.account-section-content__headline {
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 36px;
    color: $color-dark-blue;
    position: relative;
    @media (max-width: $screen-xs-max) {
        margin-top:0px;
    }
    .images__wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left:0;
      background-color: transparent;
    }
  }
  .account-section-content__headline {
    &--title {
      display: block;
      color: $color-dark-grey;
      font-size: 22px;
      font-weight: 600;
      @media (max-width: $screen-xs-max) {
        font-size:22px;
        line-height:30px;
        width: 70%;
          margin: 0 auto;
      }
    }
    &--number {
      display: block;
      font-size: 22px;
      border-bottom: $border-grey;
        color: $color-dark-grey;
        padding-bottom: 10px;
        font-weight: 600;
      @media (max-width: $screen-xs-max) {
        font-size: 20px;
      }
    }
    &--back {
      // .glyphicon-chevron-left;
      top: 50%;
      right: 48px;
      position: absolute;
      transform: translateY(-50%);
      background: transparent;
      color: $color-dark-blue;
      &:before {
        //@include glyphicon;
        @include transition;
        float: right;
        font-size: 20px;
      }
      @media (max-width: $screen-xs-max) {
        right: 11px;
      }
    }
  }
}
	
/*********MY ACCOUNT - POLICIES DETAILS END********/