<div class="popup-content-wrapper">
  <button
    type="button"
    class="close"
    (click)="dismissModal('Cross click')"
  ></button>
  <h3>{{ 'quote.confirmInformation' | cxTranslate }}</h3>
  <p>{{ 'quote.bindingConfirmation' | cxTranslate }}</p>
  <div class="modal-actions">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <button
          class="action-button btn-block"
          (click)="dismissModal('Cross click')"
        >
          {{ 'common.cancel' | cxTranslate }}
        </button>
      </div>
      <div class="col-md-6">
        <button
          class="primary-button btn-block"
          (click)="bindQuote(); dismissModal('Quote bound')"
        >
          {{ 'common.continue' | cxTranslate }}
        </button>
      </div>
    </div>
  </div>
</div>
