<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="cart.deliveryOrderGroups">
    <div class="short-overview">
      <div class="gradient-heading text-center px-2">
        {{
          (cart.deliveryOrderGroups[0]?.entries)[0]?.product?.defaultCategory
            ?.name
        }}
        {{ 'quote.quote' | cxTranslate }}
      </div>
      <div class="short-overview-content">
        <div *ngIf="cart.insuranceQuote.state.code === 'BIND'">
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ 'quote.quoteId' | cxTranslate }}:
            </div>
            <div class="short-overview-value col-5">
              {{ cart.insuranceQuote.quoteId }}
            </div>
          </div>
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ 'quote.expiryDate' | cxTranslate }}:
            </div>
            <div class="short-overview-value col-5">
              {{ cart.insuranceQuote.expiryDate | date: 'dd MMM yyyy' }}
            </div>
          </div>
        </div>
        <ng-container
          *ngFor="let entry of cart.deliveryOrderGroups[0]?.entries"
        >
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ entry.product.cartDisplayName }}:
            </div>
            <div class="short-overview-value col-5">
              {{ entry.totalPrice.formattedValue }}
            </div>
          </div>
        </ng-container>
        <div class="highlighted row">
          <div class="short-overview-title col-6">
            {{ 'fscommon.totalPrice' | cxTranslate }}:
          </div>
          <div class="short-overview-value col-6">
            {{ cart.totalPrice?.formattedValue }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
