<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="cart.deliveryOrderGroups">
    <div class="short-overview">
      <h2 class="section-header-heading mb-0">
        {{
          (cart.deliveryOrderGroups[0]?.entries)[0]?.product?.defaultCategory
            ?.name
        }}
        {{ 'quote.quote' | cxTranslate }}
      </h2>
      <div class="short-overview-content">
        <div *ngIf="cart.insuranceQuote?.state?.code === 'BIND'">
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ 'quote.quoteId' | cxTranslate }}:
            </div>
            <div class="short-overview-value col-5">
              {{ cart.insuranceQuote.quoteId }}
            </div>
          </div>
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ 'quote.expiryDate' | cxTranslate }}:
            </div>
            <div class="short-overview-value col-5">
              {{ cart.insuranceQuote.expiryDate | date: 'dd MMM yyyy' }}
            </div>
          </div>
        </div>
        <ng-container
          *ngFor="let entry of cart.deliveryOrderGroups[0]?.entries"
        >
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ entry.product.cartDisplayName }}:
            </div>
            <div class="short-overview-value col-5">
              {{ entry.totalPrice.value | currency:entry.totalPrice.currencyIso}}
            </div>
          </div>
        </ng-container>
        <div class="highlighted border-top border-color-3 row">
          <div class="short-overview-title col-6">
            {{ 'fscommon.totalPrice' | cxTranslate }}:
          </div>
          <div class="short-overview-value col-6">
            {{ cart.totalPrice?.value | currency:cart.totalPrice.currencyIso }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
