<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="cart.deliveryOrderGroups">
    <div class="short-overview">
      <h2 class="section-header-heading mb-0">
        {{ cart.entries[0]?.product?.defaultCategory?.name }}
        {{ 'quote.quote' | cxTranslate }}
      </h2>
      <div class="short-overview-content">
        <div *ngIf="cart.insuranceQuote?.state?.code === 'BIND'">
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ 'quote.quoteId' | cxTranslate }}:
            </div>
            <div class="short-overview-value col-5">
              {{ cart.insuranceQuote.quoteId }}
            </div>
          </div>
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ 'quote.expiryDate' | cxTranslate }}:
            </div>
            <div class="short-overview-value col-5">
              {{ cart.insuranceQuote.expiryDate | date: 'dd MMM yyyy' }}
            </div>
          </div>
        </div>
        <ng-container
          *ngIf="
            (cart?.entries)[0]?.product?.defaultCategory as defaultCategory
          "
        >
          <li class="short-overview-item row">
            <ng-container *ngIf="cart?.insuranceQuote?.startDate">
              <div class="short-overview-title col-7">
                {{ 'fscommon.startDate' | cxTranslate }}:
              </div>
              <div class="short-overview-value col-5">
                {{ cart?.insuranceQuote?.startDate | cxDate: 'dd MMM yyyy' }}
              </div>
            </ng-container>
            <ng-container
              [ngTemplateOutlet]="
                cart?.insuranceQuote?.quoteDetails &&
                !(cart?.entries)[0]?.product?.configurable
                  ? quoteDetails
                  : configurationValues
              "
              [ngTemplateOutletContext]="{
                cart: cart,
                defaultCategory: defaultCategory
              }"
            ></ng-container>
          </li>
        </ng-container>
        <ng-container
          *ngFor="let entry of cart.deliveryOrderGroups[0]?.entries"
        >
          <div class="short-overview-item row">
            <div class="short-overview-title col-7">
              {{ entry.product.cartDisplayName }}:
            </div>
            <div class="short-overview-value col-5">
              {{ entry.totalPrice.formattedValue }}
            </div>
          </div>
        </ng-container>
        <div class="highlighted border-top border-color-3 row">
          <div class="short-overview-title col-6">
            {{ 'fscommon.totalPrice' | cxTranslate }}:
          </div>
          <div class="short-overview-value col-6">
            {{ cart.totalPrice?.formattedValue }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template
  #quoteDetails
  let-cart="cart"
  let-defaultCategory="defaultCategory"
>
  <ng-container *ngFor="let item of cart?.insuranceQuote?.quoteDetails?.entry">
    <ng-container *ngIf="getTranslation(defaultCategory.code, item.key)">
      <div class="short-overview-title col-7">
        {{ getTranslation(defaultCategory.code, item.key) }}:
      </div>
      <div class="short-overview-value col-5">
        {{ item.value }}
      </div>
    </ng-container>
  </ng-container>
</ng-template>
<ng-template
  #configurationValues
  let-cart="cart"
  let-defaultCategory="defaultCategory"
>
  <ng-container
    *ngFor="
      let item of ((cart?.entries)[0]?.configurationInfos)[0]
        ?.configurationValues.entry
    "
  >
    <ng-container *ngIf="getTranslation(defaultCategory.code, item.key)">
      <div class="short-overview-title col-7">
        {{ getTranslation(defaultCategory.code, item.key) }}:
      </div>
      <div class="short-overview-value col-5">
        {{ item.value }}
      </div>
    </ng-container>
  </ng-container>
</ng-template>
