<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div [ngClass]="formConfig.cssClass.inputWrapperClass">
    <label [ngClass]="formConfig.cssClass.labelClass">{{ config.label }}</label>
    <input
      [ngClass]="formConfig.cssClass.inputClass"
      type="date"
      [formControlName]="config.name"
      name="{{ config.name }}"
    />
  </div>
  <cx-form-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-form-error-notice>
</div>
