<div
  class="dynamic-field form-input container"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div class="row align-items-center">
    <label class="col-xs-12 col-md-6">{{ config.label }}</label>
    <input
      class="col-xs-12 col-md-6"
      type="date"
      [formControlName]="config.name"
      name="{{ config.name }}"
    />
  </div>
  <cx-form-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-form-error-notice>
</div>
