<ng-container *ngIf="policies$ | async as policies">
  <ng-container *ngIf="policiesLoaded$ | async; else loading">
    <div class="row" *ngIf="(policies | json) !== '{}'; else noPolicies">
      <div
        *ngFor="let policy of policies.insurancePolicies"
        class="col-12 col-md-6 d-flex"
      >
        <div class="info-card">
          <h6 class="title background-color-primary text-white">
            {{ policy.categoryData?.name }}
          </h6>
          <div class="info-card-wrapper">
            <div class="info-card-content">
              <div class="info-card-details">
                <div class="info-card-data">
                  <span class="label">{{
                    'fscommon.product' | cxTranslate
                  }}</span
                  >:
                  <span class="value">{{
                    policy.mainProduct?.coverageProduct?.name
                  }}</span>
                </div>
                <div class="info-card-data">
                  <span class="label">{{
                    'policy.policyNo' | cxTranslate
                  }}</span
                  >:
                  <span class="value">{{ policy.policyNumber }}</span>
                </div>
                <div class="info-card-data" *ngIf="policy.orderNumber">
                  <span class="label">{{
                    'fscommon.orderNumber' | cxTranslate
                  }}</span
                  >:
                  <span class="value">{{ policy.orderNumber }}</span>
                </div>
                <ng-container
                  *ngIf="
                    policy.insuredObjectList?.insuredObjects &&
                    policy.insuredObjectList?.insuredObjects.length > 0 &&
                    (policy.insuredObjectList?.insuredObjects)[0]
                      ?.insuredObjectItems
                  "
                >
                  <ng-container
                    *ngIf="
                      (policy.insuredObjectList?.insuredObjects)[0]
                        ?.insuredObjectItems.length > 1
                    "
                  >
                    <div class="info-card-data">
                      <span class="label">{{
                        'fscommon.' +
                          ((policy.insuredObjectList?.insuredObjects)[0]
                            ?.insuredObjectItems)[1]?.label | cxTranslate
                      }}</span
                      >:
                      <span class="value">{{
                        ((policy.insuredObjectList?.insuredObjects)[0]
                          ?.insuredObjectItems)[1]?.value
                      }}</span>
                    </div>
                  </ng-container>
                </ng-container>
                <div class="info-card-data">
                  <span class="label">{{
                    'fscommon.premium' | cxTranslate
                  }}</span
                  >:
                  <span class="value"
                    >{{ policy.policyPremium?.formattedValue }}
                    <ng-container *ngIf="policy.paymentFrequency">
                      /
                      {{ policy.paymentFrequency }}
                    </ng-container></span
                  >
                </div>
                <div class="info-card-data">
                  <span class="label">{{
                    'fscommon.duration' | cxTranslate
                  }}</span
                  >:
                  <span class="value"
                    >{{ policy.startDate | cxDate: 'dd MMM yyyy' }} -
                    {{ policy.endDate | cxDate: 'dd MMM yyyy' }}</span
                  >
                </div>
              </div>
              <div class="info-card-image">
                <span class="image-wrapper text-center">
                  <cx-media
                    class="image-item"
                    [container]="
                      policy.mainProduct?.coverageProduct?.defaultCategory
                        ?.image
                    "
                    [alt]="policy.mainProduct?.coverageProduct?.name"
                  ></cx-media>
                </span>
              </div>
            </div>
            <div class="info-card-links">
              <a
                class="link"
                routerLink="/my-account/my-policies/{{ policy.policyNumber }}/{{
                  policy.contractNumber
                }}"
                routerLinkActive="active"
              >
                {{ 'fscommon.details' | cxTranslate }}
              </a>
              <ng-container
                *ngIf="
                  isPolicyCategoryAllowed(
                    policy.categoryData?.allowedFSRequestTypes
                  )
                "
              >
                <a
                  class="link"
                  (click)="
                    startClaim(policy.policyNumber, policy.contractNumber)
                  "
                >
                  {{ 'claim.makeClaim' | cxTranslate }}
                </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #noPolicies>
  <h3>{{ 'policy.youHaveNoPolicies' | cxTranslate }}</h3>
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
