<ng-container *ngIf="order$ | async as order">
  <div class="row flex-md-row-reverse flex-lg-row-reverse flex-xl-row-reverse">
    <div class="cx-summary col-12 col-md-4">
      <cx-order-summary [cart]="order"></cx-order-summary>
    </div>
    <div class="card-wrapper col-12 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">
            {{ 'fscommon.paymentDetails' | cxTranslate }}
          </h6>
          <p class="card-text">{{ order.paymentInfo?.accountHolderName }}</p>
          <p class="card-text">{{ order.paymentInfo?.cardNumber }}</p>
          <p class="card-text">
            {{ 'fscommon.expires' | cxTranslate }}:
            {{ order.paymentInfo?.expiryMonth }}/{{
              order.paymentInfo?.expiryYear
            }}
          </p>
        </div>
      </div>
    </div>
    <div class="card-wrapper col-12 col-md-4 my-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">
            {{ 'checkoutOrderConfirmation.orderNumber' | cxTranslate }}
          </h6>
          <p class="card-text">{{ order.code }}</p>
          <h6 class="card-title">
            {{ 'checkoutOrderConfirmation.placedOn' | cxTranslate }}
          </h6>
          <p class="card-text">{{ order.created | cxDate: 'longDate' }}</p>
          <h6 class="card-title">
            {{ 'checkoutOrderConfirmation.status' | cxTranslate }}
          </h6>
          <p class="card-text">{{ order.status }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
