<ng-container *ngIf="documentList$ | async as documentList; else loading">
  <!-- ng-container needs check if documents are uploaded by user or they came from external system -->
  <ng-container *ngIf="(documentList | json) != '{}'; else noDocuments">
    <ng-container
      *ngIf="getDocumentsBySource(documentList?.documents, false).length > 0"
    >
      <h4>{{ 'document.uploadedDocuments' | cxTranslate }}</h4>
      <cx-fs-documents-table
        [documentSource]="getDocumentsBySource(documentList?.documents, false)"
      ></cx-fs-documents-table>
    </ng-container>
    <ng-container
      *ngIf="getDocumentsBySource(documentList?.documents, false).length > 0"
    >
      <h4>{{ 'document.receivedDocuments' | cxTranslate }}</h4>
      <cx-fs-documents-table
        [documentSource]="getDocumentsBySource(documentList?.documents, true)"
      ></cx-fs-documents-table>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
<ng-template #noDocuments>
  <h3>{{ 'document.youHaveNoDocuments' | cxTranslate }}</h3>
</ng-template>
