<ng-container *ngIf="agentList$ | async as agentList">
  <ng-container *ngIf="agentList && agentList.agents.length > 0">
    <div class="accordion">
      <cx-fs-accordion-item
        [opened]="false"
        [title]="'fscommon.category.' + agentRootCategory | cxTranslate"
      >
        <div class="container-fluid">
          <div class="row">
            <ng-container *ngFor="let agent of agentList.agents">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="agent-container px-3 py-5 m-5 text-center">
                  <cx-media
                    class="cx-product-image-container"
                    [container]="agent.thumbnail"
                    format="thumbnail"
                  >
                  </cx-media>
                  <p class="py-3">{{ agent.displayName }}</p>
                  <a
                    class="fas fa-envelope px-2"
                    [routerLink]="
                      {
                        cxRoute: 'contactAgent',
                        params: { agent: agent.email }
                      } | cxUrl
                    "
                  >
                  </a>
                  <a
                    class="fas fa-map-marker-alt px-2"
                    [routerLink]="['/agent-locator']"
                    [queryParams]="{ query: agent.email }"
                  ></a>
                  <cx-fs-sync-pilot-generic
                    #syncPilot
                    [ngClass]="{
                      'd-inline-block px-2': syncPilot?.user$ | async
                    }"
                    *ngIf="agent.participationStatus"
                    [agent]="agent"
                  ></cx-fs-sync-pilot-generic>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </cx-fs-accordion-item>
    </div>
  </ng-container>
</ng-container>
