<div [formGroup]="group">
  <div [ngClass]="formComponent?.wrapperClass">
    <label style="color: #334eca; font-weight: bold;">
      <ng-container *ngIf="!config.required">
        {{ 'forms.optional' | cxTranslate }}
      </ng-container>
      {{ config.label }}
    </label>
    <input
      [ngClass]="formComponent?.elementClass"
      type="text"
      [formControlName]="config.name"
      style="border: 3px dashed #334eca; width: 100%;"
    />
  </div>
  <cx-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-error-notice>
</div>
