%fsa-category-feature {
  display: flex;
  .category-feature-wrapper {
    @include box-shadow(0, 2px, 20px, 1px, $color-grey, 1);
    .category-feature-text {
      color: var(--cx-color-text);
      padding: 2rem;
      p {
        margin-bottom: 0.5rem;
      }
    }
    .title {
      font-size: var(--cx-title-font-size);
      font-weight: var(--cx-font-weight-semi);
      text-transform: uppercase;
    }
  }
}
