%cx-fs-change-coverage {
  .effective-date {
    @include media-breakpoint-down(sm) {
      > div {
        display: inline-flex;
      }
    }
  }
  .change-coverage-wrapper {
    & > .row:not(:first-of-type) {
      border-top: $border-grey;
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}
