.GeneralPageTemplate {
  .Section2 {
    .claim-content {
      padding: 2rem 0 1rem;
      border-top: $border-grey;
    }
    fsa-claim-policies + fsa-cms-custom-container {
      margin-bottom: 2.5rem;
    }
  }
}
