.GeneralLayoutPageTemplate {
  padding: 3rem 1.5rem 0 1.5rem;
  .Section2A {
    padding: 3rem 0 0;
    p {
      margin-bottom: 0;
      .container {
        max-width: 100%;
      }
      .checkout-progress__heading {
        margin: 2.5rem auto;
        text-transform: uppercase;
      }
      .section-header__heading {
        margin-bottom: 0;
        flex: 1 1 100%;
      }
    }
  }
  .Section2B {
    @include box-shadow(0, 2px, 20px, 1px, $color-grey, 1);
    & > * {
      padding: 2rem 0 0;
      max-width: 860px;
    }
    .claim-content {
      padding: 2rem 0 1rem;
      border-top: $border-grey;
    }
  }
}

fsa-claim-policies {
  border-bottom: none;
  .cx-card-img-container .FSA-icon::before {
    font-size: var(--cx-font-size, 48px);
  }

  & + fsa-cms-custom-container {
    // classes and markup for this come from impexes, no way to change them to have pairity
    padding-bottom: 65px;
    margin-bottom: 40px;
    border-top: none;
  }
}
