%cx-fs-seller-dashboard-list,
%cx-fs-user-profile {
  .table {
    thead {
      background-color: var(--cx-color-4);
    }
    th {
      color: var(--cx-color-2);
    }
    td,
    th {
      border-color: var(--cx-color-3);
      padding: 1.25rem;
      text-align: left;
      font-size: var(--cx-title-font-size);
      cx-icon {
        @include vertical-center;
        color: var(--cx-color-6);
        position: absolute;
        right: 4%;
        font-size: var(--cx-h1-font-size);
      }
      @include media-breakpoint-down(sm) {
        border-top: 0;
        padding: 1rem 1.75rem 0;
        &:last-of-type {
          padding-block-end: 1rem;
        }
      }
    }
    tr {
      cursor: pointer;
      @include media-breakpoint-down(sm) {
        border-bottom: 1px solid var(--cx-color-3);
      }
    }
  }
  .mobile-label {
    font-weight: var(--cx-font-weight-bold);
    flex: 0 1 30%;
  }
}
%cx-fs-user-profile {
  .user-profile-wrapper,
  .dashboard-overview-wrapper {
    padding: 2rem;
  }
  .user-profile {
    padding: 2rem 1rem;
    & > * {
      margin-bottom: 1rem;
    }
    .user-image {
      border-radius: 50%;
      border: 2px solid var(--cx-color-primary);
      width: 55px;
      aspect-ratio: 1/1;
    }
  }
  .dashboard-overview-stats,
  .dashboard-overview-assets {
    display: flex;
    gap: 0.5rem;
    .item {
      flex: 0 0 33.333%;
    }
    .asset {
      border: 1px solid var(--cx-color-3);
      display: flex;
      flex: 0 0 calc(50% - 0.5rem);
      gap: 1rem;
      cursor: pointer;
      &.active,
      &:active,
      &:focus,
      &:focus-within {
        border-color: var(--cx-color-primary);
      }
      @include media-breakpoint-down(sm) {
        flex: 1 0 100%;
      }
      .fas {
        width: 46px;
        aspect-ratio: 1/1;
      }
    }
    .number {
      font-size: clamp(28px, 6vw, 4.5rem);
      line-height: 1;
    }
    .description {
      font-size: clamp(11px, 2vw, 1.125rem);
    }
  }
  .dashboard-overview-assets {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
