%cx-fs-dashboard {
  .table {
    thead {
      background-color: var(--cx-color-4);
    }
    th {
      color: var(--cx-color-2);
    }
    td,
    th {
      border-color: var(--cx-color-3);
      padding: 1.25rem;
      text-align: left;
      font-size: var(--cx-title-font-size);
      cx-icon {
        @include vertical-center;
        color: var(--cx-color-6);
        position: absolute;
        right: 4%;
        font-size: var(--cx-h1-font-size);
      }
      @include media-breakpoint-down(sm) {
        border-top: 0;
        padding: 1rem 1.75rem 0;
        &:last-of-type {
          padding-block-end: 1rem;
        }
      }
    }
    tr {
      cursor: pointer;
      @include media-breakpoint-down(sm) {
        border-bottom: 1px solid var(--cx-color-3);
      }
    }
  }
  .mobile-label {
    font-weight: 700;
    flex: 0 1 30%;
  }
}
