%cx-fs-agent-search-list {
  .agent-list {
    border: 1px solid var(--cx-color-3);
    @include media-breakpoint-up(md) {
      max-height: 700px;
      overflow-y: auto;
    }
    .agent-list-item {
      &.active,
      &.initial-active {
        background-color: var(--cx-color-4);
        .cx-product-image-container img {
          border: 1px solid var(--cx-color-primary);
        }
        .agent-name {
          text-decoration: underline;
        }
      }
      .agent-name {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }
      .status {
        bottom: 10px;
        right: 5px;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        position: absolute;
        border: 2px solid var(--cx-color-1);
        background-color: var(--cx-color-3);
      }
      .online {
        background-color: var(--cx-color-success);
      }
      .fa-envelope {
        font-size: var(--cx-h3-font-size);
      }
      .tooltip {
        .tooltip-inner {
          padding: 2px 10px;
          width: max-content;
          background: rgba(0, 0, 0, 0.9);
        }
        .arrow {
          display: none;
        }
      }
    }
  }
  cx-fs-generic-sync-pilot {
    .fas {
      font-size: var(--cx-h3-font-size);
    }
  }
  .md-order-change {
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }
  .cx-product-image-container img {
    @include fs-transition;
    background-color: var(--cx-color-1);
    border-radius: 50%;
    border: 1px solid var(--cx-color-3);
  }
  .counter {
    left: 0;
    width: 19px;
    border-radius: 50%;
    background-color: var(--cx-color-1);
    font-size: var(--cx-xs-font-size);
  }
  cx-pagination {
    display: inline-flex;
  }
  %cx-store-finder-map {
    .cx-store-map {
      @include media-breakpoint-down(md) {
        height: 30rem;
      }
    }
  }
}
