%cx-fs-agent-search-list {
  .agent-list {
    border: 1px solid var(--cx-color-3);
    @include media-breakpoint-up(md) {
      max-height: 700px;
      overflow-y: auto;
    }
    .agent-list-item {
      &.active,
      &.initial-active {
        background-color: var(--cx-color-4);
        .cx-product-image-container img {
          border: 1px solid var(--cx-color-primary);
        }
        .agent-name {
          text-decoration: underline;
        }
      }
      .agent-name {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }
    }
  }
  .md-order-change {
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }
  .cx-product-image-container img {
    @include fs-transition;
    background-color: var(--cx-color-1);
    border-radius: 50%;
  }
  .counter {
    left: 0;
    width: 19px;
    border-radius: 50%;
    background-color: var(--cx-color-1);
    font-size: var(--cx-xs-font-size);
  }
  cx-pagination {
    display: inline-flex;
  }
  %cx-store-finder-map {
    .cx-store-map {
      @include media-breakpoint-down(md) {
        height: 30rem;
      }
    }
  }
}
