@import '../../theme/fs/variables';

%cx-fs-agent-root {
  cx-media img {
    background: var(--cx-color-7);
    border-radius: 50%;
    @include fs-box-shadow(0px, 3px, 10px, 1px, $color-dark-grey, 0.3);
  }
  .accordion-item {
    .agent-container {
      background: var(--cx-color-1);
      @include fs-box-shadow(0px, 3px, 10px, 1px, $color-dark-grey, 0.3);
      p {
        font-weight: var(--cx-font-weight-semi);
      }
      .fas {
        &:before {
          padding: 8px;
          display: inline-block;
          width: 40px;
          height: 40px;
          border: 1px solid var(--cx-color-3);
          border-radius: 50%;
          font-size: var(--cx-h3-font-size);
          @include fs-transition;
        }
      }
      cx-fs-sync-pilot-generic {
        .fas {
          transform: rotate(90deg);
          font-size: var(--cx-h3-font-size);
        }
      }
      .fa-envelope:hover::before,
      .fa-map-marker-alt:hover::before,
      cx-fs-sync-pilot-generic .fas:hover::before {
        color: var(--cx-color-1);
        background: var(--cx-color-primary);
        border: 1px solid var(--cx-color-primary);
      }
    }
  }
}
