%cx-fs-agent-search-box {
  --cx-flex-basis: 50%;
  .search-wrapper {
    border: 1px solid var(--cx-color-3);
    border-radius: 3px;
    display: flex;
    align-content: stretch;
    margin: 0;
    padding: 6px 6px 6px 10px;
  }
  input {
    @include reset-appearance;
    border: none;
    flex-basis: 100%;
    height: 30px;
    z-index: 20;
  }
  .search {
    font-size: var(--cx-h4-font-size);
    color: currentColor;
    text-align: center;
    cursor: pointer;
  }
}
