%cx-fs-inbox-messages {
  .messages {
    border-left: 1px solid var(--cx-color-3);
    border-right: 1px solid var(--cx-color-3);
    .message {
      &.read .inbox-header {
        font-weight: normal;
      }
      .inbox-header {
        cursor: pointer;
        background: var(--cx-color-4);
        font-weight: var(--cx-font-weight-semi);
        &:hover {
          color: var(--cx-color-primary);
        }
        .fs-icon {
          right: 0.5rem;
          top: calc(50% - 6px);
        }
      }
    }
    .box-shadow {
      padding: 20px;
      color: var(--cx-color-11);
      @include fs-box-shadow(0px, 3px, 10px, 1px, $color-dark-grey, 0.3);
      @include media-breakpoint-down(lg) {
        margin: 0 20px;
      }
    }
  }
  .section-header-heading {
    color: var(--cx-color-1);
    background-color: var(--cx-color-primary);
    font-weight: var(--cx-font-weight-semi);
    font-size: inherit;
    .icon-triangle-bottom {
      cursor: pointer;
      right: 10px;
      @include vertical-center-rotate;
    }
    .select {
      display: none;
      top: 72px;
      left: 0;
      z-index: 1;
      background: var(--cx-color-1);
      font-size: 14px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      @include fs-box-shadow(0px, 6px, 12px, 0px, $color-dark-grey, 0.3);
      &.opened {
        display: block;
      }
      a {
        padding: 10px 20px;
        color: var(--cx-color-text);
        display: block;
        &:hover {
          background: var(--cx-color-3);
        }
      }
    }
  }
  .cursor-default {
    cursor: default;
  }
  .heading-dropdown {
    border: 2px solid var(--cx-color-3);
    border-radius: 3px;
    background-color: var(--cx-color-1);
    color: var(--cx-color-primary);
    .fa-chevron-down {
      color: var(--cx-color-primary);
    }
  }
  .icon-envelope,
  .icon-envelope-open {
    color: var(--cx-color-primary);
    font-size: var(--cx-h5-font-size);
    cursor: pointer;
  }
  .ghost-row {
    height: 4.375rem;
    & > * {
      padding: 1.5rem;
      &:before {
        content: '';
        position: absolute;
        width: calc(100% - 2.5rem);
        height: 1.5rem;
        background: var(--cx-color-ghost);
        border-radius: var(--cx-ghost-radius);
      }
    }
  }
}
