@import '../../theme/fsa/variables';

%fsa-inbox-tab {
  a:not([href]):not([tabindex]) {
    // needed this kind of selector to override the bootstrap's one
    @include transition;
    color: var(--cx-color-text);
    padding: 10px;
    font-weight: var(--cx-font-weight-semi);
    display: block;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    &:hover {
      color: var(--cx-color-12);
      border-bottom: 3px solid var(--cx-color-12);
    }
    &.active {
      color: var(--cx-color-text);
      background-color: var(--cx-color-10);
      border-bottom: 3px solid var(--cx-color-12);
      &:hover {
        color: var(--cx-color-12);
      }
    }
    @include media-breakpoint-down(sm) {
      background-color: var(--cx-color-10);
      padding: 10px 20px;
      color: var(--cx-color-text);
      &:hover {
        background: var(--cx-color-3);
        color: var(--cx-color-text);
      }
      &.active {
        background-color: var(--cx-color-1);
        border-top: none;
      }
    }
  }
}
