@import '../../theme/fs/variables';

%cx-fs-inbox-messages {
  .messages {
    border-left: 1px solid var(--cx-color-3);
    border-right: 1px solid var(--cx-color-3);
    .message {
      &.read .inbox-header {
        font-weight: normal;
      }
      .inbox-header {
        cursor: pointer;
        background: var(--cx-color-4);
        font-weight: var(--cx-font-weight-semi);
        &:hover {
          color: var(--cx-color-primary);
        }
        .fs-icon {
          right: 0.5rem;
          top: calc(50% - 6px);
        }
      }
    }
    .box-shadow {
      padding: 20px;
      color: var(--cx-color-11);
      @include fs-box-shadow(0px, 3px, 10px, 1px, $color-dark-grey, 0.3);
      @include media-breakpoint-down(lg) {
        margin: 0 20px;
      }
    }
  }
  .section-header-heading {
    font-weight: var(--cx-font-weight-semi);
  }
  .cursor-default {
    cursor: default;
  }
  .heading-dropdown {
    border: 2px solid var(--cx-color-3);
    border-radius: 3px;
    background-color: var(--cx-color-1);
    color: var(--cx-color-primary);
    .fa-chevron-down {
      color: var(--cx-color-primary);
      &::before {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
