@import '../../theme/fsa/variables';

%fsa-inbox-messages {
  .messages {
    border-left: 1px solid var(--cx-color-3);
    border-right: 1px solid var(--cx-color-3);
    .message {
      &.read .inbox-header {
        font-weight: normal;
      }
      .inbox-header {
        cursor: pointer;
        background: var(--cx-color-4);
        font-weight: var(--cx-font-weight-semi);
        &:hover {
          color: var(--cx-color-primary);
        }
        .FSA-icon {
          right: 0.5rem;
          top: calc(50% - 6px);
        }
      }
    }
    .box-shadow {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      border: $border-grey;
      color: var(--cx-color-11);
      @include box-shadow(0px, 3px, 10px, 1px, $color-dark-grey, 0.3);
      @include media-breakpoint-down(lg) {
        margin: 0 20px;
      }
    }
  }
  .cursor-default {
    cursor: default;
  }
}
