%cx-fs-change-coverage,
%cx-fs-add-options {
  .box-shadow {
    .row:nth-of-type(n + 3) {
      border-top: 1px solid var(--cx-color-3);
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    img {
      width: 50px;
    }
    h6 {
      margin: 0;
      padding: 0 3rem 0 0.5rem;
      @include media-breakpoint-down(md) {
        padding: 0 0.5rem;
        margin: 1rem 0;
      }
    }
  }
}
