.product-feature {
	&-wrapper {
		background-color: var(--cx-color-4);
		.section-header-heading {
			text-transform: uppercase;
		}
	}
	&-image {
		margin: 30px 0 0;
		padding: 0 50px;
		text-align: center;
		width: 100%;
		img {
			@include media-breakpoint-down(xs) {
				width: 100%;
			}
		}
	}
	&-details {
		color: var(--cx-color-text);
		padding: 0 50px 0 70px;
		font-size: $font-size-base;
		list-style-type: circle;
		min-height: 120px;
		p {
			margin: 0 0 10px;
		}
	}
}