@import '../../theme/fsa/variables';

%fsa-product-feature {
  display: flex;
  flex: 0 1 33.3333%;
  margin: 0.75rem 0.5rem;
  @include box-shadow(0px, 7px, 9px, -1px, $color-dark-grey, 0.3);
  @include media-breakpoint-down(md) {
    flex: 0 1 calc(50% - 1rem);
  }
  @include media-breakpoint-down(xs) {
    flex: 0 1 100%;
    margin: 0.75rem 0;
  }
  .product-feature {
    &-wrapper {
      width: 100%;
    }
    &-image {
      margin: 30px 0 0;
      padding: 0 50px;
      text-align: center;
      width: 100%;
      img {
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }
    }
  }
  .item-details {
    color: var(--cx-color-text);
    padding: 0 1rem 1rem 2rem;
  }
}
