%cx-fs-product-overview {
  .product {
    border: 1px solid var(--cx-color-3);
    cx-media {
      border-radius: 50%;
      border: 1px solid var(--cx-color-3);
      padding: 0.6rem;
    }
  }

  .product:hover {
    box-shadow: none;
    transform: scale(0.98);
    border: 1px solid var(--cx-color-primary);
  }

  cx-media {
    width: 50px;
    height: 50px;
  }
}
