%cx-fs-sales-illustration-main {
  .sales-data,
  .projections {
    border: 1px solid var(--cx-color-3);
    box-shadow: 0 8px 6px -6px #cccccc;
    -moz-box-shadow: 0 8px 6px -6px #cccccc;
    -webkit-box-shadow: 0 8px 6px -6px #cccccc;
  }

  .projections {
    &-title {
      background: var(--cx-color-4);
    }
  }

  ul[role='tablist'] .nav-link.active {
    color: var(--cx-color-inverse);
    background-color: var(--cx-color-primary);
  }

  .accordion-item table {
    td {
      width: 50%;
    }
  }
}
