@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth="c2FwLWZpbGlwaHI6b0tlYmFrT0ozRHVjYjJjdXBRc2hzNE5NWGR1Vm4xaWw="
always-auth=true
