<div
  [hidden]="group.controls[config.name].disabled"
  class="dynamic-field"
  [formGroup]="group"
>
  <div [ngClass]="componentStyle[config.type]?.cssEntries?.wrapperClass">
    <label [ngClass]="componentStyle[config.type]?.cssEntries?.labelClass">
      <ng-container *ngIf="!config.required">
        {{ 'forms.optional' | cxTranslate }}
      </ng-container>
      {{ config.label }}
    </label>
    <input
      [ngClass]="componentStyle[config.type]?.cssEntries?.elementClass"
      type="text"
      [attr.placeholder]="config.placeholder"
      [formControlName]="config.name"
      [attr.name]="config.name"
    />
  </div>
  <cx-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-error-notice>
</div>
