<h2>{{ 'b2b.selectProducts' | cxTranslate }}</h2>
<ng-container *ngIf="productAssignments$ | async as productAssignments">
  <div class="card-row container">
    <div class="row">
      <div
        class="single-card col-4"
        *ngFor="let productAssignment of productAssignments"
      >
        <ul>
          <li>{{ productAssignment.product.name }}</li>
          <li>{{ productAssignment.product.defaultCategory.name }}</li>
          <li>{{ productAssignment.active}}</li>
          <button class="action-button btn-block" (click)="changeActiveStatus(productAssignment.code, productAssignment.active)">
            {{ 'Activate' }}
          </button>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
