<ng-container *ngIf="claim$ | async as claim">
  <div class="box-shadow p-4">
    <div class="content860 d-flex flex-column align-content-center flex-wrap">
      <div class="d-flex justify-content-center my-5">
        <div class="image-wrapper">
          <img class="image-item" [src]="getImagelink()" alt="" />
        </div>
      </div>
      <h5 class="notice-text text-center py-2 px-4 mb-5">
        {{ 'claim.confirmation.processingNumber' | cxTranslate }}:
        {{ claim.claimNumber }}
      </h5>
      <hr class="w-100 border border-color-6 mb-5" />
      <p>
        {{ 'claim.confirmation.submissionNotice' | cxTranslate }}
      </p>
      <p>
        {{ 'claim.confirmation.questionsOrConcerns' | cxTranslate }}
        {{ 'claim.confirmation.submissionStatus' | cxTranslate }}
      </p>
    </div>
  </div>
</ng-container>
