<ng-container *ngIf="documentList$ | async as documentList; else loading">
  <!-- ng-container needs check if documents are uploaded by user or they came from external system -->
  <ng-container *ngIf="(documentList | json) != '{}'; else noDocuments">
    <table class="table">
      <thead class="d-none d-md-table-row">
        <th scope="col">
          {{ 'document.name' | cxTranslate }}
        </th>
        <th scope="col">
          {{ 'document.creationDate' | cxTranslate }}
        </th>
        <th scope="col">
          {{ 'document.referredInsuranceObject' | cxTranslate }}
        </th>
        <th scope="col">{{ 'document.documentType' | cxTranslate }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let document of documentList.documents">
          <td class="pointer">
            <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
              {{ 'document.name' | cxTranslate }}:
            </div>
            <span
              class="td-value text-right notice"
              (click)="downloadDocument(document)"
              >{{ document.name }}</span
            >
          </td>
          <td>
            <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
              {{ 'document.creationDate' | cxTranslate }}:
            </div>
            <span class="td-value text-right">{{
              document.creationTime | cxDate: 'dd MMM yyyy'
            }}</span>
          </td>
          <td>
            <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
              {{ 'document.referredInsuranceObject' | cxTranslate }}:
            </div>
            <span class="td-value text-right">{{
              getReferredInsuranceObjects(document)
            }}</span>
          </td>
          <td>
            <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
              {{ 'document.documentType' | cxTranslate }}:
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-container>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
<ng-template #noDocuments>
  <h3>{{ 'document.youHaveNoDocuments' | cxTranslate }}</h3>
</ng-template>
