@import '../../fs-mixins';

//FSA variables
$color-dark-grey: #666666;
$color-blue: #0066cc;
$color-dark-blue: #000033;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #cccccc;
$color-light-grey: #eeeeee;
$color-mild-grey: #e9e9e9;
$color-semi-dark-grey: #999999;
$color-link-hover: #3498db;
$color-button-secondary-hover: #385980;
$color-darkest-blue: #000066;

$fs-colors: (
  'primary': $color-blue,
  'secondary': $color-dark-blue,
  'text': $color-dark-blue,
  '1': $color-white,
  '2': $color-black,
  '3': $color-grey,
  '4': $color-light-grey,
  '5': $color-mild-grey,
  '6': $color-semi-dark-grey,
  '7': $color-link-hover,
  '8': $color-button-secondary-hover,
  '9': $color-darkest-blue,
  '11': $color-dark-grey,
);

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;

$font-size-base: 0.875rem; //14px

$h1-font-size: $font-size-base * 2; //28px
$h2-font-size: $font-size-base * 1.857; //26px
$h3-font-size: $font-size-base * 1.714; //24px
$h4-font-size: $font-size-base * 1.571; //22px
$h5-font-size: $font-size-base * 1.428; //20px
$h6-font-size: $font-size-base * 1.285; //18px
$title-font-size: $font-size-base * 1.142; //16px
$xs-font-size: $font-size-base * 0.857; // 12px

$border-grey: 1px solid var(--cx-color-3);
