<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div [ngClass]="formConfig.dynamicForms.cssClass.inputWrapper">
    <cx-label
      [config]="config"
      [cssLabelClass]="formConfig.dynamicForms.cssClass.label"
    ></cx-label>
    <input
      [ngClass]="formConfig.dynamicForms.cssClass.input"
      type="date"
      [formControlName]="config.name"
      [attr.name]="config.name"
    />
  </div>
  <cx-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-error-notice>
</div>
