<ng-container *ngIf="group">
  <div class="dynamic-field" [formGroup]="group" [hidden]="config.hidden">
    <div class="form-group">
      <label class="col-form-label">
        <ng-container *ngIf="!config.required">
          {{ 'dynamicforms.optional' | cxTranslate }}
        </ng-container>
        {{ label }}
      </label>
      <input
        class="form-control"
        type="date"
        placeholder="{{ getDateFormat() }}"
        [formControlName]="config.name"
        [attr.name]="config.name"
        [attr.readonly]="config.readonly ? config.readonly : null"
      />
    </div>
    <cx-error-notice
      [warn]="group.controls[config.name]"
      [parentConfig]="config"
    ></cx-error-notice>
  </div>
</ng-container>
