<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <label [ngClass]="formComponent[config.type]?.cssEntries?.labelClass">
    <ng-container *ngIf="!config.required">
      {{ 'forms.optional' | cxTranslate }}
    </ng-container>
    {{ config.label }}
  </label>
  <div [ngClass]="formComponent[config.type]?.cssEntries?.wrapperClass">
    <div *ngFor="let option of config.options">
      <input
        [ngClass]="
          formComponent[config.type]?.cssEntries?.elementClass +
          ' ' +
          config.cssClass
        "
        type="radio"
        [attr.name]="config.name"
        value="{{ option.name }}"
        [formControlName]="config.name"
      />
      <label
        [ngClass]="formComponent[config.type]?.cssEntries?.optionalClass"
        >{{ option.label }}</label
      >
    </div>
  </div>
  <cx-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-error-notice>
</div>
