<ng-container *ngIf="group">
  <div class="dynamic-field" [formGroup]="group" [hidden]="config.hidden">
    <label class="col-form-label">
      {{ label }}
      <ng-container *ngIf="!config.required">
        {{ 'dynamicforms.optional' | cxTranslate }}
      </ng-container>
    </label>
    <div class="form-check">
      <div *ngFor="let option of config.options">
        <input
          class="form-check-input"
          type="radio"
          [attr.name]="config.name"
          [attr.id]="config.name + option.name"
          value="{{ option.name }}"
          [formControlName]="config.name"
          [attr.readonly]="config.readonly ? config.readonly : null"
        />
        <label class="pl-3 pt-1" [attr.for]="config.name + option.name">
          <ng-container *ngIf="activeLang$ | async as activeLang">
            {{ getLocalizedOption(option.label, activeLang) }}
          </ng-container>
        </label>
      </div>
    </div>
    <cx-error-notice
      [warn]="group.controls[config.name]"
      [parentConfig]="config"
    ></cx-error-notice>
  </div>
</ng-container>
