<section *ngIf="changeRequest$ | async as changeRequest">
  <div class="row mt-5">
    <button class="action-button btn-block">
      {{ 'common.back' | cxTranslate }}
    </button>
    <button
      class="primary-button btn-block"
      (click)="navigateNext(activeStepIndex, changeRequest.requestId);"
    > 
    <ng-container *ngIf="activeStepIndex !== 1; else submit">
        {{ 'common.continue' | cxTranslate }}
    </ng-container>
    </button>
  </div>
</section>
<ng-template #submit>
  {{ 'common.submit' | cxTranslate }}
</ng-template>