<ng-container *ngIf="claimData$ | async as claimData">
  <ng-container *ngIf="claimPoliciesLoaded$ | async; else loading">
    <ng-container
      *ngIf="
        claimData.claimPoliciesData?.insurancePolicies?.length > 0;
        else noClaims
      "
    >
      <div class="row">
        <div
          class="cx-payment-card col-md-12 col-lg-6"
          *ngFor="
            let claimPolicy of claimData.claimPoliciesData?.insurancePolicies;
            let i = index
          "
        >
          <div
            class="cx-payment-card-inner"
            [ngClass]="{ selected: isSelected === i }"
          >
            <cx-card
              [border]="true"
              [fitToContainer]="true"
              [content]="cardContent(claimPolicy) | async"
              (click)="
                selectPolicy(
                  claimPolicy.policyNumber,
                  claimPolicy.contractNumber
                );
                isSelected = i
              "
            ></cx-card>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #noClaims>
  <div class="text-center">
    <div class="image-wrapper">
      <img class="image-item" [src]="getImagelink()" alt="" />
    </div>
    <h6 class="notice pt-4 m-0">
      {{ 'policy.noValidPolicies' | cxTranslate }}
    </h6>
  </div>
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
