@mixin contentWidth {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin reset-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
@mixin fs-box-shadow($x, $y, $a, $b, $color, $opacity) {
  box-shadow: $x $y $a $b rgba($color, $opacity);
  -moz-box-shadow: $x $y $a $b rgba($color, $opacity);
  -webkit-box-shadow: $x $y $a $b rgba($color, $opacity);
}
@mixin color-flip($color-1, $color-2, $color-3) {
  background-color: var($color-1);
  color: var($color-2);
  @if $color-3 {
    &:hover,
    &:active,
    &:focus {
      color: var($color-3);
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
    }
  }
}
@mixin fs-transition {
  transition: all 300ms ease;
}
@mixin linear-gradient-background(
  $startColor,
  $endColor,
  $firstStop,
  $secondStop
) {
  background: -webkit-linear-gradient(
    left,
    $startColor $firstStop,
    $endColor $secondStop
  );
  background: -o-linear-gradient(
    left,
    $startColor $firstStop,
    $endColor $secondStop
  );
  background: linear-gradient(
    to right,
    $startColor $firstStop,
    $endColor $secondStop
  );
}
@mixin radial-gradient-background($startColor, $middleColor, $endColor) {
  background: radial-gradient(
    ellipse at center,
    $startColor 30%,
    $middleColor 80%,
    $endColor 120%
  );
  background: -ms-radial-gradient(
    ellipse at center,
    $startColor 30%,
    $middleColor 80%,
    $endColor 120%
  );
  background: -moz-radial-gradient(
    ellipse at center,
    $startColor 30%,
    $middleColor 80%,
    $endColor 120%
  );
  background: -o-radial-gradient(
    ellipse at center,
    $startColor 30%,
    $middleColor 80%,
    $endColor 120%
  );
  background: -webkit-radial-gradient(
    ellipse at center,
    $startColor 30%,
    $middleColor 80%,
    $endColor 120%
  );
}
@mixin heading-style {
  color: var(--cx-color-text);
  border-top: 3px solid var(--cx-color-primary);
  background-color: var(--cx-color-4);
}
@mixin headline-style {
  font-size: var(--cx-h2-font-size);
  color: var(--cx-color-text);
  font-weight: var(--cx-font-weight-semi);
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 3px solid var(--cx-color-primary);
    width: 7rem;
  }
}
@mixin status {
  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    @include fs-transition();
  }
}
@mixin toggle-status {
  cursor: pointer;
  position: relative;
  @include status();
  &::before,
  &::after {
    height: 2px;
    width: 16px;
  }
  &::before {
    transform: translateY(-50%) rotateZ(90deg);
  }
  &.active:before {
    transform: translateY(-50%) rotateZ(0deg);
  }
}
@mixin vertical-center-rotate {
  @include fs-transition;
  @include vertical-center;
  &.rotate {
    transform: translateY(-50%) rotateZ(180deg);
    -webkit-transform: translateY(-50%) rotateZ(180deg);
  }
}
