//Spartacus styling
@import '~@spartacus/styles/index';
@import '~bootstrap/scss/progress';
//FSA styling
@import 'scss/root.scss';
@import 'scss/fs-mixins';
@import 'scss/overrides';
@import 'scss/base';

@import 'scss/theme';
@import 'scss/fonts';

// components
@import './scss/fs-theme';
