<div class="border border-color-3 py-3 px-2">
  <ng-container *ngIf="cart$ | async as cart">
    <ng-container *ngFor="let entry of cart.deliveryOrderGroups[0]?.entries">
      <ng-container *ngIf="entry.product?.documents.length > 0">
        <ul class="styled-list pl-3 pt-1 mb-0">
          <ng-container *ngFor="let document of entry.product?.documents">
            <li class="pb-3 pl-1">
              <span class="notice fs-icon icon-attachment"></span>
              <a
                class="link text-capitalize"
                [href]="baseUrl + document.downloadUrl"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ document.altText }}</a
              >
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
