<ng-container *ngIf="activeLoans$ | async as activeLoans; else loading">
  <div class="row">
    <div *ngFor="let loan of loans" class="col-md-6 d-flex">
      <div class="info-card">
        <h6 class="title background-color-primary text-white">
          {{
            loan.entries[0].configurationInfos[0].configurationValues.entry[2]
              .value
          }}
          {{ 'loan.loanTitle' | cxTranslate }}
        </h6>
        <div class="info-card-wrapper">
          <div class="info-card-content">
            <div class="info-card-details">
              <div class="info-card-data">
                <span class="label">{{
                  'loan.loanAmountTitle' | cxTranslate
                }}</span
                >:
                <span class="value">{{
                  loan.entries[0].configurationInfos[0].configurationValues
                    .entry[0].value
                }}</span>
              </div>
              <div class="info-card-data mt-2">
                <span class="label">{{
                  'loan.loanStartDate' | cxTranslate
                }}</span
                >:
                <span class="value label">
                  {{
                    loan.entries[0].configurationInfos[0].configurationValues
                      .entry[1].value
                  }}
                </span>
              </div>
              <div class="info-card-data mt-2">
                <span class="label">{{
                  'loan.typeOfPricing' | cxTranslate
                }}</span
                >:
                <span class="value">
                  {{
                    loan.entries[0].totalPrice.formattedValue
                  }}
                </span>/
                <span class="value">
                  {{
                    loan.entries[0].configurationInfos[0].configurationValues
                      .entry[5].value
                  }}
                </span>
              </div>
              <div class="info-card-data mt-2">
                <span class="label">{{ 'loan.loanStatus' | cxTranslate }}</span
                >:
                <span class="value px-2 py-1 border background-color-4 rounded">
                  {{ loan.status }}
                </span>
              </div>
            </div>
            <div class="info-card-image">
              <span class="image-wrapper text-center">
                <cx-media
                  class="image-item"
                  [container]="loan.entries[0].product.defaultCategory.image"
                ></cx-media>
              </span>
            </div>
          </div>
          <div class="info-card-links justify-content-between">
            <div class="text-right ml-auto">
              <a class="link d-inline-block mb-2">
                {{ 'fscommon.details' | cxTranslate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <cx-pagination
    class="justify-content-end"
    [pagination]="pagination"
    (viewPageEvent)="refreshTableData($event)"
  >
  </cx-pagination>
</ng-container>
<ng-template #noLoans>
  <h1 class="text-center">{{ 'loan.noLoans' | cxTranslate }}!</h1>
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
