<ng-container *ngIf="changeRequest$ | async as changeRequest">
  <h2 class="heading-headline py-3 mt-3 mb-5 text-center">
    {{ 'changeRequest.confirmation.title' | cxTranslate }}
  </h2>
  <div class="box-shadow p-4">
    <div class="content860 d-flex flex-column align-content-center flex-wrap">
      <div class="d-flex justify-content-center my-5">
        <div class="image-wrapper">
          <img class="image-item" [src]="getImagelink()" alt="" />
        </div>
      </div>
      <hr class="w-100 border border-color-6 mb-5" />
      <p class="text-center">
        {{ 'changeRequest.confirmation.message' | cxTranslate }}

        <a routerLink="/my-account/inbox/">{{
          'changeRequest.confirmation.inbox' | cxTranslate
        }}</a>
      </p>
    </div>
  </div>
</ng-container>
