<div class="ml-auto fit-content mb-5">
  <span class="text-uppercase notice link">
    {{ 'document.signSelected' | cxTranslate }}
  </span>
  |
  <span class="text-uppercase notice link">
    {{ 'document.signAll' | cxTranslate }}
  </span>
</div>
<table
  class="table"
  [attr.aria-label]="'document.uploadedDocuments' | cxTranslate"
>
  <thead class="d-none d-md-table-row">
    <th scope="col">
      {{ 'document.name' | cxTranslate }}
    </th>
    <th scope="col">
      {{ 'document.creationDate' | cxTranslate }}
    </th>
    <th *ngIf="referredObjectColumnVisible" scope="col">
      {{ 'document.referredInsuranceObject' | cxTranslate }}
    </th>
    <th scope="col">{{ 'document.documentType' | cxTranslate }}</th>
    <th scope="col">{{ 'document.signature' | cxTranslate }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let document of documentSource; let i = index">
      <ng-container>
        <td class="pointer">
          <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
            {{ 'document.name' | cxTranslate }}:
          </div>
          <div class="">
            <input
              class="rounded"
              type="checkbox"
              value="{{ document.code }}"
              [(ngModel)]="documentSource[i].checked"
            />
            <span
              class="td-value text-right notice"
              (click)="downloadDocument(document)"
              >{{ document.name }}</span
            >
          </div>
        </td>
        <td>
          <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
            {{ 'document.creationDate' | cxTranslate }}:
          </div>
          <span class="td-value text-right">{{
            document.creationTime | cxDate: 'dd MMM yyyy'
          }}</span>
        </td>
        <td *ngIf="referredObjectColumnVisible">
          <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
            {{ 'document.referredInsuranceObject' | cxTranslate }}:
          </div>
          <span
            *ngIf="document?.insurancePolicy || document?.claim"
            class="td-value text-right"
          >
            <a
              class="link"
              [routerLink]="
                {
                  cxRoute: 'policyDetails',
                  params: {
                    policyId: document?.insurancePolicy?.policyNumber,
                    contractId: document?.insurancePolicy?.contractNumber
                  }
                } | cxUrl
              "
            >
              {{ document?.insurancePolicy?.policyNumber }}
            </a>
            <a
              class="link"
              [routerLink]="
                {
                  cxRoute: 'claimDetails',
                  params: { claimId: document?.claim?.claimNumber }
                } | cxUrl
              "
            >
              {{ document?.claim?.claimNumber }}
            </a>
          </span>
        </td>
        <td>
          <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
            {{ 'document.documentType' | cxTranslate }}:
          </div>
          <span class="td-value text-right">{{
            checkDocumentByExternalSystem(document.createdByExternalSystem)
          }}</span>
        </td>
        <td>
          <div class="d-md-none w-50 text-uppercase semi-bold mr-2">
            {{ document.signed }}
          </div>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
