<ng-container *ngIf="order$ | async as order">
  <div class="position-relative text-center">
    <a class="vertical-center-left h5" routerLink="/my-account/orders/"
      ><span class="d-none d-md-block">{{ 'common.back' | cxTranslate }}</span>
      <span class="h6 d-md-none fas fa-arrow-left m-0"></span
    ></a>
    <h2 class="heading-headline py-3 px-4 mt-3 mb-5">
      {{ 'orderDetails.orderId' | cxTranslate }} {{ order?.code }}
    </h2>
  </div>
  <ng-container *ngIf="order?.entries?.length > 0">
    <ng-container *ngIf="order?.entries as entries">
      <div class="container-fluid">
        <div class="row d-none d-md-flex text-uppercase">
          <div class="title col-6">
            {{ 'cartItems.description' | cxTranslate }}
          </div>
          <div class="title col-4">
            {{ 'fscommon.paymentFrequency' | cxTranslate }}
          </div>
          <div class="title col-2 text-right">
            {{ 'fscommon.price' | cxTranslate }}
          </div>
        </div>
        <ng-container *ngFor="let entry of entries">
          <div class="row border-bottom py-3 align-items-center">
            <div
              *ngIf="
                entry.product?.fulfilmentType?.code === 'FINANCIAL_3RD_PARTY'
              "
              class="col-12 text-right text-uppercase semi-bold"
            >
              <a href="/">
                <span
                  class="h2 d-inline d-md-none fs-icon icon-selected-item"
                ></span>
                <span class="d-none d-md-inline">
                  {{ 'orderDetails.consignmentTracking.action' | cxTranslate }}
                </span>
              </a>
            </div>
            <div class="col-2">
              <cx-media [container]="entry.product?.images?.PRIMARY"></cx-media>
            </div>
            <div class="col-6 col-md-8 text-break">
              <div class="row align-items-center">
                <div class="col-12 col-md-6">
                  <div class="title semi-bold">{{ entry.product?.name }}</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="d-block d-md-none semi-bold">
                    {{ 'fscommon.paymentFrequency' | cxTranslate }}:
                  </div>
                  <div>
                    <ng-container
                      *ngIf="order.insuranceQuote.paymentFrequency; else na"
                      >{{ order.insuranceQuote.paymentFrequency }}</ng-container
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-2 text-right text-break">
              <div class="d-inline d-md-none semi-bold">
                {{ 'fscommon.price' | cxTranslate }}:
              </div>
              <div>{{ entry?.totalPrice?.formattedValue }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #na>
      {{ 'fscommon.notAvailable' | cxTranslate }}
    </ng-template>
  </ng-container>
</ng-container>
