<ng-container *ngIf="templateList$ | async as templateList">
  <div class="cx-consent-action-links">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <button
        tabindex="0"
        class="btn btn-link cx-action-link"
        (click)="rejectAll(templateList)"
      >
        {{ 'consentManagementForm.clearAll' | cxTranslate }}
      </button>
      <button
        tabindex="0"
        class="btn btn-link cx-action-link"
        (click)="allowAll(templateList)"
      >
        {{ 'consentManagementForm.selectAll' | cxTranslate }}
      </button>
    </div>
  </div>

  <div class="cx-consent-toggles">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <cx-consent-management-form
        *ngFor="let consentTemplate of templateList"
        [consentTemplate]="consentTemplate"
        [requiredConsents]="requiredConsents"
        (consentChanged)="onConsentChange($event)"
      ></cx-consent-management-form>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="consents$ | async as consents">
  <ng-container *ngIf="consents?.oboConsents?.length > 0">
    <div class="accordion">
      <h2>{{ 'consent.oboConsent' | cxTranslate }}</h2>
      <div *ngFor="let consent of consents.oboConsents; let i = index">
        <ul class="accordion-list container-fluid">
          <li class="accordion-list-item row">
            <div class="col-6 col-sm-5 item-label">
              {{ 'consent.consentCode' | cxTranslate }}
            </div>
            <div class="col-6 col-sm-5 value notice">
              {{ consent.code }}
            </div>
          </li>
          <li class="accordion-list-item row">
            <div class="col-6 col-sm-5 item-label">
              {{ 'consent.consentHolderName' | cxTranslate }}
            </div>
            <div class="col-6 col-sm-5 value notice">
              {{ consent.consentHolders[i].name }}
            </div>
            <div class="col-6 col-sm-5 item-label">
              {{ 'consent.consentHolderEmail' | cxTranslate }}
            </div>
            <div class="col-6 col-sm-5 value notice">
              {{ consent.consentHolders[i].displayUid }}
            </div>
          </li>
          <li class="accordion-list-item row">
            <div class="col-6 col-sm-5 item-label">
              {{ 'consent.consentTemplate' | cxTranslate }}
            </div>
            <div class="col-6 col-sm-5 value notice">
              {{ consent.consentTemplate.id }}
            </div>
          </li>
          <li class="accordion-list-item row">
            <div class="col-6 col-sm-5 item-label">
              {{ 'consent.permissions' | cxTranslate }}
            </div>
            <div
              class="col-6 col-sm-5 value notice"
              *ngFor="let item of consent.oboConsentConfiguration.permissions"
            >
              <div *ngIf="item | keyvalue">
                {{ item.key }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</ng-container>
