<div class="message-indicator-container">
  <a
    [routerLink]="
      {
        cxRoute: 'inbox'
      } | cxUrl
    "
    class="messages-indicator"
    *ngIf="user$ | async"
  >
    <div class="fs-icon icon-envelope"></div>
    <ng-container *ngIf="numberOfUnreadMessages$ | async as numberOfMessages">
      <span
        *ngIf="numberOfMessages <= 9"
        class="message-indicator-counter normal-weight"
        >{{ numberOfMessages }}</span
      >
      <span
        *ngIf="numberOfMessages > 9"
        class="message-indicator-counter normal-weight higher-indicator"
      >
        {{ '9+' }}
      </span>
    </ng-container>
  </a>
</div>
