<ng-container *ngIf="order$ | async as order">
  <ng-container *ngIf="order.code">
    <div class="mb-4 text-center">
      <div class="notice-text title py-2 px-5 d-inline-block">
        {{ 'fscommon.application.number' | cxTranslate }}:
        <div
          *ngIf="order.insuranceQuote?.policyId"
          class="short-overview-value col-5"
        >
          {{ order.insuranceQuote.policyId }}
        </div>
        <div
          *ngIf="!order.insuranceQuote?.policyId"
          class="short-overview-value col-5"
        >
          {{ order.code }}
        </div>
      </div>
      <h5 class="mt-3 px-2">
        {{ 'policy.thankYouForOrder' | cxTranslate }}
      </h5>
      <div class="px-2">
        {{ 'fscommon.application.applicationRequestSubmitted' | cxTranslate }}
      </div>
    </div>
  </ng-container>
</ng-container>
