@import '../fs-mixins';
.content860 {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}
.info-container {
  @include fs-box-shadow(0px, 2px, 20px, 1px, $color-grey, 1);
}
.clickable {
  @include toggle-status();
}
.is-disabled {
  pointer-events: none;
}
.pointer {
  cursor: pointer;
}
.background-color-primary {
  background-color: var(--cx-color-primary);
}
.background-color-4 {
  background-color: var(--cx-color-4);
}
.box-shadow {
  @include fs-box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
}
.flex-100 {
  flex: 0 0 100%;
}
.warn {
  color: var(--cx-color-warning);
  font-weight: bold;
}
.notice {
  color: var(--cx-color-primary);
}
.normal-weight {
  font-weight: var(--cx-font-weight-normal);
}
.semi-bold {
  font-weight: var(--cx-font-weight-semi);
}
.notification {
  background: var(--cx-color-warning);
  color: var(--cx-color-2);
  border-radius: 3px;
  font-weight: var(--cx-font-weight-bold);
  padding: 2px 8px;
}
.document-list {
  .document-list-item {
    .fs-icon {
      color: var(--cx-color-primary);
    }
  }
  .document-link {
    text-decoration: underline;
  }
}
.documents {
  li:first-child {
    @extend .sub-title;
  }
  .document-link {
    color: var(--cx-color-primary);
    font-weight: var(--cx-font-weight-normal);
  }
  .document-title {
    color: var(--cx-color-11);
    font-weight: var(--cx-font-weight-semi);
  }
}
.sub-title {
  border-bottom: none;
  background: var(--cx-color-4);
  text-transform: uppercase;
  font-weight: var(--cx-font-weight-semi);
}
.heading-headline {
  font-size: var(--cx-h2-font-size);
  color: var(--cx-color-text);
  font-weight: var(--cx-font-weight-semi);
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 3px solid var(--cx-color-primary);
    width: 7rem;
  }
}
.section-header-heading {
  @include heading-style;
  font-size: var(--cx-h5-font-size);
  font-weight: var(--cx-font-weight-semi);
  padding: 1rem;
  text-align: center;
  position: relative;
}
.image-item {
  display: block;
  width: 100%;
  height: 100%;
}
.image-wrapper {
  border-radius: 50%;
  background-color: var(--cx-color-1);
  &.small {
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
  }
}
.info-icon {
  &:before {
    content: 'i';
    font-family: 'monospace';
  }
}
.notice-text {
  background-color: var(--cx-color-4);
}
.selected {
  color: var(--cx-color-primary);
}
.circle-image {
  background-color: var(--cx-color-7);
  border-radius: 50%;
  @include fs-box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 70%);
  margin: 0 25px;
}
.list-data {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--cx-color-1);
  .closed {
    display: none;
  }
  .list-item {
    padding: 12px;
    list-style: none;
    background-color: var(--cx-color-1);
  }
  .info {
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }
}
.styled-list {
  li {
    display: flex;
    font-size: var(--cx-h5-font-size);
    a {
      font-size: var(--cx-text-font-size);
      font-weight: var(--cx-font-weight-normal);
      padding-left: 1rem;
    }
  }
}
.color-dot {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--cx-color-primary);
  }
}
.underline-effect {
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--cx-color-7);
    width: 0;
    height: 5px;
    transition: all 300ms ease;
  }
  &:hover:before {
    width: 100%;
  }
}
.empty-block {
  .content {
    color: var(--cx-color-text);
    background-color: var(--cx-color-4);
    font-size: $h6-font-size;
  }
}
.overflow-box {
  height: 220px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fs-tab {
  color: var(--cx-color-text);
  margin-right: 3px;
  padding: 1rem 2rem;
  display: flex;
  border-bottom: 3px solid transparent;
  @include fs-transition;
  &.active {
    font-weight: var(--cx-font-weight-bold);
    background-color: var(--cx-color-4);
    color: var(--cx-color-text);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 3px solid var(--cx-color-primary);
  }
  &:hover {
    color: var(--cx-color-primary);
    border-bottom: 3px solid var(--cx-color-primary);
    opacity: 0.8;
  }
  @include media-breakpoint-down(xs) {
    border-radius: 0;
    margin-right: 0;
  }
}
.info-icon {
  &:before {
    background-color: var(--cx-color-text);
    border-radius: 50%;
    font-size: 35px;
    color: var(--cx-color-1);
    width: 56px;
    height: 56px;
    display: block;
    text-align: center;
  }
}
