.info-card {
  margin-bottom: 2rem;
  border: 1px solid var(--cx-color-3);
  flex: 0 1 100%;
  .title {
    text-transform: uppercase;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  .info-card-wrapper {
    padding: 1.5rem 1rem;
  }
  .info-card-content,
  .info-card-links {
    padding: 0.5rem 0;
  }
  .info-card-content,
  .info-card-links,
  .info-card-image {
    display: flex;
  }
  .info-card-details {
    flex: 0 1 70%;
    margin-right: 0.25rem;
  }
  .info-card-image {
    flex: 0 1 30%;
    justify-content: flex-end;
    .image-wrapper {
      border: 2px solid var(--cx-color-3);
      border-radius: unset;
      padding: 0.25rem;
      max-width: 80px;
      max-height: 60px;
    }
  }
  .label {
    text-transform: capitalize;
    font-weight: var(--cx-font-weight-semi);
  }
  .value {
    color: var(--cx-color-primary);
  }
  .info-card-links {
    justify-content: flex-end;
  }
  .link:not([href]) {
    color: var(--cx-color-primary);
    text-decoration: underline;
    padding-left: 3rem;
  }
}
