input[type='checkbox'],
input[type='radio'] {
  // -webkit-appearance: none;
  // appearance: none;
}
.form-check input[type='checkbox']:checked {
  border-color: var(--cx-color-primary);
  background-color: var(--cx-color-primary);
}
.checkbox-label {
  padding-left: 28px;
  position: relative;
  cursor: pointer;
  input {
    display: none;
  }
  input:checked ~ .checkbox-text:before {
    color: var(--cx-color-primary);
    border: 2px solid var(--cx-color-primary);
  }
  .checkbox-text {
    line-height: 1;
    cursor: pointer;
    text-transform: none;
    font-size: 15px;
    &:before {
      @include fs-transition;
      background: var(--cx-color-1);
      font-size: 11px;
      font-weight: bold;
      position: absolute;
      padding: 1px 0 0 2px;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      line-height: 1.2;
      border: 2px solid var(--cx-color-3);
      border-radius: 3px;
      color: transparent;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
