%cx-fs-comparison-table-container {
  width: 100%;
  .products-wrapper {
    .nav-tabs,
    .tab-content {
      flex: 0 1 100%;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
    .tab-pane {
      @include fs-box-shadow(0px, 2px, 20px, 1px, $color-grey, 1);
    }
    .table-header {
      min-height: 180px;
      // position: sticky;
      // top: 0;
      // z-index: 1;
      // opacity: 0.95;
      padding-top: 10px;
      // background-color: var(--cx-color-1);
      .table-header-title {
        font-size: var(--cx-h6-font-size);
        font-weight: var(--cx-font-weight-semi);
        min-height: 45px;
        @include media-breakpoint-down(sm) {
          min-height: 60px;
        }
      }
      .table-header-value {
        margin: 20px 0;
        font-size: var(--cx-h1-font-size);
        font-weight: var(--cx-font-weight-semi);
        @include media-breakpoint-down(sm) {
          font-size: var(--cx-h3-font-size);
        }
      }
      .fas {
        line-height: $headings-line-height;
      }
    }
    .table-cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding: 10px;
      border-radius: 4px;
      font-weight: var(--cx-font-weight-semi);
      &:nth-child(even) {
        background-color: var(--cx-color-1);
      }
      &:nth-child(odd) {
        background-color: var(--cx-color-4);
      }
      .table-cell-title {
        word-break: break-word;
        padding-inline-end: calc(15px + 5%);
      }
    }
    .special {
      @include media-breakpoint-down(lg) {
        min-height: 220px;
      }
      @include media-breakpoint-down(sm) {
        min-height: 330px;
      }
    }
    .fs-tooltip {
      @include vertical-center;
      right: 5%;
    }
  }
}
%cx-fs-comparison-table-tab {
  display: flex;
  flex: 0 1 100%;
  border: 1px solid var(--cx-color-3);
  border-top: none;
  .table-tab {
    flex: 0 1 100%;
    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }
  }
}
%cx-fs-comparison-table-panel {
  display: flex;
  width: 100%;
  padding-inline: 10px 0;
  margin: 3.1rem auto;
  .fixed-column {
    width: 25%;
    padding-right: 5px;
    @include media-breakpoint-down(sm) {
      width: 46%;
      z-index: 2;
      box-shadow: -28px 5px 1px 29px var(--cx-color-1),
        1px 0px 8px 2px rgba(0, 0, 0, 0.4);
    }
  }
  .slide-column-wrapper {
    width: 75%;
    border-left: 1px solid var(--cx-color-3);
    @include media-breakpoint-down(sm) {
      overflow-y: hidden;
      overflow-x: auto;
      width: 54%;
      border-left: 0;
    }
    .slide-column {
      display: flex;
      width: 100%;
    }
  }
}
%cx-fs-comparison-table-panel-item {
  position: relative;
  flex: 0 1 100%;
  padding: 0 5px;
  border-left: 1px dashed var(--cx-color-6);
  text-align: center;
  @include media-breakpoint-down(sm) {
    &:last-of-type .ribbon:after {
      display: none;
    }
  }
  &:first-of-type {
    border-left: none;
  }
}
