.accordion {
  .accordion-header-summary-caption {
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  .image-wrapper {
    width: 70px;
    height: 70px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      @include absolute-center;
    }
  }
  .accordion-heading {
    @extend .add-remove;
    color: var(--cx-color-text);
    background: var(--cx-color-4);
    font-weight: var(--cx-font-weight-semi);
    line-height: 1.6;
    margin-bottom: 0;
    padding: 8px 60px 12px;
    &:before,
    &:after {
      right: 15px;
    }
  }
  .accordion-item {
    border: 1px solid var(--cx-color-3);
    margin-top: 20px;
    @include fs-box-shadow(0, 8px, 6px, -6px, $color-grey, 1);
    position: relative;
    .fs-icon,
    .fas {
      @include vertical-center;
      z-index: 2;
      left: 15px;
      &:before {
        font-size: var(--cx-h5-font-size);
        color: var(--cx-color-primary);
      }
    }
  }
  .accordion-item-wrapper {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
    padding: 0 2vw;
    &.active {
      padding: 2.5rem 2vw;
      max-height: 2000px;
    }
  }
  .accordion-list {
    padding: 0 8%;
    .link {
      top: -14px;
      right: 0;
      padding: inherit;
    }
  }
  .accordion-list-item {
    border-bottom: 1px solid var(--cx-color-3);
    padding: 14px 0;
    margin: 0;
    &:last-child,
    &.sub-title {
      border-bottom: none;
    }
    .item-label {
      font-weight: var(--cx-font-weight-semi);
      text-transform: capitalize;
    }
  }
  .value {
    @include media-breakpoint-down(xs) {
      text-align: right;
      overflow-wrap: break-word;
      padding: 0;
    }
  }
}
