body,
html {
  font-size: $font-size-base;
  color: var(--cx-color-text);
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.title {
  font-weight: var(--cx-font-weight-semi);
}
h1,
.h1 {
  font-size: var(--cx-h1-font-size);
}
h2,
.h2 {
  font-size: var(--cx-h2-font-size);
}
h3,
.h3 {
  font-size: var(--cx-h3-font-size);
}
h4,
.h4 {
  font-size: var(--cx-h4-font-size);
}
h5,
.h5 {
  font-size: var(--cx-h5-font-size);
}
h6,
.h6 {
  font-size: var(--cx-h6-font-size);
}
.title {
  font-size: var(--cx-title-font-size);
}
p {
  font-size: var(--cx-text-font-size);
}
a {
  @include fs-transition();
  &:hover {
    text-decoration: none;
  }
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button:focus {
  outline: none;
}
.link {
  cursor: pointer;
  font-weight: var(--cx-font-weight-semi);
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--cx-color-primary);
  &:hover {
    text-decoration: underline;
  }
  &.is-disabled {
    text-decoration: none;
    color: var(--cx-color-6);
  }
}
