.modal-content {
  border-radius: 5px;
  margin: 30px;
  .popup-content-wrapper {
    padding: 30px;
  }
  .close {
    width: 28px;
    height: 28px;
    min-height: auto;
    position: relative;
    border: 3px solid var(--cx-color-text);
    border-radius: 50%;
    &:before {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      font-size: $h1-font-size;
      font-weight: $font-weight-bold;
      color: var(--cx-color-text);
      line-height: 1.2;
      overflow: hidden;
    }
    &:hover {
      border-color: var(--cx-color-primary);
      &:before {
        color: var(--cx-color-primary);
      }
    }
    & > span cx-icon {
      display: none;
    }
  }
}
