@import '../fs-mixins';
@import '../theme';
@import '~bootstrap/scss/mixins/breakpoints';

ul[role='tablist'].nav-tabs {
  border-bottom: $border-grey;
  @include media-breakpoint-down(xs) {
    display: block;
  }
  .nav-item .nav-link {
    @extend .fs-tab;
  }
}
.hide-tab-heading {
  .nav-item {
    display: none;
  }
}
