<ng-container *ngIf="changeRequest$ | async as changeRequest">
  <div
    *ngIf="changeRequest.insurancePolicy?.optionalProducts as optionalProducts"
    class="box-shadow"
  >
    <div class="row no-gutters section-header-heading">
      <div class="col-6 offset-3">
        {{ 'fscommon.optionalExtras' | cxTranslate }}
      </div>
      <div class="col-3 text-left">
        <div class="small">{{ 'forms.effectiveDate' | cxTranslate }}:</div>
        <div class="notice small">{{ currentDate }}</div>
      </div>
    </div>
    <ng-container *ngFor="let includedCoverage of includedCoverages">
      <ng-container
        [ngTemplateOutlet]="addOption"
        [ngTemplateOutletContext]="{ coverage: includedCoverage }"
      >
      </ng-container>

      <!-- <div
        class="row mx-3 py-3 no-gutters position-relative"
        *ngIf="includedCoverage.coverageProduct"
      >
        <div class="col-12 col-md-7 align-self-center">
          <h6>{{ includedCoverage.coverageProduct.cartDisplayName }}</h6>
        </div>
        <div class="col-12 col-md-3 align-self-center">
          <ng-container *ngIf="includedCoverage.coverageIsIncluded">
            <div class="col-12 col-md-3 align-self-center">
              {{ 'fscommon.included' | cxTranslate }}
            </div>
          </ng-container>
        </div>
      </div> -->
    </ng-container>

    <ng-template #addOption let-coverage="coverage">
      <div
        class="row mx-3 py-3 no-gutters position-relative"
        *ngIf="coverage.coverageProduct"
      >
        <div class="tooltip-wrapper">
          <div
            class="fs-tooltip"
            [ngbTooltip]="tooltipContent"
            triggers="click:blur"
            placement="left"
          >
            i
          </div>
        </div>
        <ng-template #tooltipContent>
          <span>{{ coverage.coverageProduct?.description }}</span>
        </ng-template>
        <!-- {{ coverage.coverageProduct?.images | json }} -->
        <div class="col-12 col-md-2 align-self-center">
          <cx-media
            class="cx-product-image-container"
            [container]="{
              '96Wx96H': {
                format: '96Wx96H',
                imageType: 'PRIMARY',
                url:
                  'https://financialservices.local:9002/medias/?context=bWFzdGVyfGltYWdlc3wyMjM2fGltYWdlL3BuZ3xpbWFnZXMvaGIyL2gwNC84Nzk2MTUwNTYyODQ2LnBuZ3xmNjFjMWVjMTY3NjU1NDQ3ZjU5MGRmZmU5ODVlYjUxZjVjNDZmOTFiY2YxOWZiODEzNDc2YjI2ZWY0ODk0Yzcz'
              }
            }"
            format="96Wx96H"
          ></cx-media>
        </div>
        <div class="col-12 col-md-7 align-self-center">
          <h6>{{ coverage.coverageProduct.name }}</h6>
        </div>
        <!-- <div
            *ngIf="!coverage.removeable && !coverage.addable"
            class="col-12 col-md-3 align-self-center text-center"
          >
            <ng-container
              *ngTemplateOutlet="
                includedNotAvailable;
                context: {
                  title:
                    coverage.product?.bundleTemplates?.length == 3
                      ? ('fscommon.included' | cxTranslate)
                      : ('fscommon.notAvailableFull' | cxTranslate)
                }
              "
            >
            </ng-container>
          </div> -->
        <div class="col-12 col-md-3 align-self-center">
          <div *ngIf="!coverage.removeable && coverage.addable">
            <button
              (click)="
                addProductToCart(coverage.product?.code, coverage.entryNumber)
              "
              class="secondary-button btn-block text-capitalize"
            >
              {{ 'fscommon.add' | cxTranslate }}
            </button>
          </div>
          <div *ngIf="coverage.removeable">
            <button
              (click)="removeProductFromCart(coverage)"
              class="secondary-button btn-block text-capitalize"
            >
              {{ 'common.remove' | cxTranslate }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- <ng-container *ngFor="let potentialCoverage of potentialCoverages">
      <div
        class="row mx-3 py-3 no-gutters position-relative"
        *ngIf="potentialCoverage.coverageProduct"
      >
        <div class="col-12 col-md-7 align-self-center">
          <h6>{{ potentialCoverage.coverageProduct.cartDisplayName }}</h6>
        </div>
        <div class="col-12 col-md-3 align-self-center">
          <ng-container *ngIf="!potentialCoverage.coverageIsIncluded">
            <button
              class="secondary-button btn-block text-capitalize"
              (click)="addCoverage(potentialCoverage)"
            >
              {{ 'fscommon.add' | cxTranslate }}
            </button>
          </ng-container>
          <ng-container *ngIf="potentialCoverage.coverageIsIncluded">
            <button
              class="secondary-button btn-block text-capitalize"
              (click)="removeCoverage(potentialCoverage)"
            >
              {{ 'common.remove' | cxTranslate }}
            </button>
          </ng-container>
        </div>
      </div>
    </ng-container> -->
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <button
        class="action-button btn-block"
        (click)="cancelChangeRequest(changeRequest.requestId)"
      >
        {{ 'common.back' | cxTranslate }}
      </button>
    </div>
    <div class="col-6">
      <button
        class="primary-button btn-block"
        (click)="simulateChanges(changeRequest)"
      >
        {{ 'common.continue' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-container>
