<ng-container *ngIf="changeRequest$ | async as changeRequest">
  <div
    *ngIf="changeRequest.insurancePolicy?.optionalProducts as optionalProducts"
  >
    <label>
      <span class="label-content">{{
        'forms.effectiveDate' | cxTranslate
      }}</span>
      <input
        class="form-control"
        type="date"
        name="effectiveDate"
        value="{{ currentDate }}"
        disabled
      />
    </label>
    <ng-container *ngFor="let includedCoverage of includedCoverages">
      <div
        class="row mx-3 py-3 no-gutters position-relative"
        *ngIf="includedCoverage.coverageProduct"
      >
        <div class="col-12 col-md-7 align-self-center">
          <h6>{{ includedCoverage.coverageProduct.cartDisplayName }}</h6>
        </div>
        <div class="col-12 col-md-3 align-self-center">
          <ng-container *ngIf="includedCoverage.coverageIsIncluded">
            <div class="col-12 col-md-3 align-self-center">
              {{ 'fscommon.included' | cxTranslate }}
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let potentialCoverage of potentialCoverages">
      <div
        class="row mx-3 py-3 no-gutters position-relative"
        *ngIf="potentialCoverage.coverageProduct"
      >
        <div class="col-12 col-md-7 align-self-center">
          <h6>{{ potentialCoverage.coverageProduct.cartDisplayName }}</h6>
        </div>
        <div class="col-12 col-md-3 align-self-center">
          <ng-container *ngIf="!potentialCoverage.coverageIsIncluded">
            <button
              class="secondary-button btn-block text-capitalize"
              (click)="addCoverage(potentialCoverage)"
            >
              {{ 'fscommon.add' | cxTranslate }}
            </button>
          </ng-container>
          <ng-container *ngIf="potentialCoverage.coverageIsIncluded">
            <button
              class="secondary-button btn-block text-capitalize"
              (click)="removeCoverage(potentialCoverage)"
            >
              {{ 'common.remove' | cxTranslate }}
            </button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row mt-5">
    <button class="action-button btn-block">
      {{ 'common.back' | cxTranslate }}
    </button>
    <button
      class="primary-button btn-block"
      (click)="simulateChanges(changeRequest)"
    >
      {{ 'common.continue' | cxTranslate }}
    </button>
  </div>
</ng-container>
