<div
  class="dynamic-field form-select container"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div class="row align-items-center">
    <label class="col-xs-12 col-md-6">{{ config.label }}</label>
    <select
      class="col-xs-12 col-md-6"
      name="{{ config.name }}"
      formControlName="{{config.name}}"
    >
      <option value="pleaseSelect" [selected]="'pleaseSelect'" disabled>{{ 'fscommon.pleaseSelect' | cxTranslate }}</option>
      <option *ngFor="let option of config.options" value="{{ option.name }}">
        {{ option.label }}
      </option>
    </select>
  </div>
  <cx-form-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-form-error-notice>
</div>
