<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div [ngClass]="formConfig.cssClass.inputWrapperClass">
    <label [ngClass]="formConfig.cssClass.labelClass">{{ config.label }}</label>
    <select
      [ngClass]="formConfig.cssClass.inputClass"
      name="{{ config.name }}"
      formControlName="{{ config.name }}"
    >
      <option value="pleaseSelect" [selected]="'pleaseSelect'" disabled>{{
        'fscommon.pleaseSelect' | cxTranslate
      }}</option>
      <option *ngFor="let option of config.options" value="{{ option.name }}">
        {{ option.label }}
      </option>
    </select>
  </div>
  <cx-form-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-form-error-notice>
</div>
