<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="isCartStable$ | async; else loading">
    <ng-container *ngIf="showContent$ | async; else loading">
      <ng-container *ngIf="cart.deliveryOrderGroups?.length > 0; else noQuotes">
        <div class="accordion">
          <h2 class="row no-gutters section-header-heading">
            <div class="col-12 col-md-2">
              <span
                *ngIf="
                  (cart.deliveryOrderGroups[0]?.entries)[0]?.product?.images
                    ?.length > 0
                "
                class="image-wrapper"
              >
                <cx-media
                  [container]="
                    (cart.deliveryOrderGroups[0]?.entries)[0]?.product
                      ?.defaultCategory?.image
                  "
                  [alt]="
                    (cart.deliveryOrderGroups[0]?.entries)[0]?.product?.name
                  "
                ></cx-media>
              </span>
            </div>
            <div class="col-12 col-md-8">
              {{
                'fscommon.category.' +
                  cart.entries[0]?.product?.defaultCategory?.code | cxTranslate
              }}
            </div>
          </h2>
          <div #ref>
            <ng-container
              *ngIf="
                cart?.insuranceQuote?.quoteType !== 'EVENT' &&
                (cart?.entries)[0]?.product?.defaultCategory as defaultCategory
              "
            >
              <cx-fs-accordion-item
                [opened]="true"
                [title]="'fscommon.generalDetails' | cxTranslate"
              >
                <div class="container">
                  <div class="row justify-content-center">
                    <ul class="col-12 accordion-list">
                      <ng-container
                        *ngTemplateOutlet="
                          cartDetails;
                          context: {
                            valueList: !(cart?.entries)[0]?.product
                              ?.configurable
                              ? cart?.insuranceQuote?.quoteDetails
                              : ((cart?.entries)[0]?.configurationInfos)[0]
                                  ?.configurationValues,
                            defaultCategory: defaultCategory
                          }
                        "
                      >
                      </ng-container>
                    </ul>
                    <ng-container
                      *ngTemplateOutlet="
                        edit;
                        context: {
                          route: cart.entries[0]?.product?.configurable
                            ? 'configureProduct'
                            : 'generalInformation',
                          quoteStateCode: cart.insuranceQuote?.state?.code,
                          param: cart.entries[0]?.product?.configurable
                            ? cart.entries[0].product.code
                            : ''
                        }
                      "
                    >
                    </ng-container>
                  </div>
                </div>
              </cx-fs-accordion-item>
            </ng-container>
          </div>
          <cx-fs-accordion-item
            [opened]="ref.children.length > 0 ? false : true"
            [title]="'fscommon.whatsIncluded' | cxTranslate"
          >
            <div class="container">
              <div class="row justify-content-center">
                <ul class="col-12 accordion-list">
                  <ng-container
                    *ngFor="
                      let item of (cart.deliveryOrderGroups[0]?.entries)[0]
                        ?.product?.price?.oneTimeChargeEntries
                    "
                  >
                    <ng-container *ngIf="item.mandatory">
                      <li class="accordion-list-item row">
                        <div class="col-6 item-label">
                          {{ item.billingTime?.name }}
                        </div>
                        <div class="col-6 value notice">
                          <ng-container
                            *ngIf="
                              item.price.value > 0;
                              then formattedPrice;
                              else item.chargeInformation ? chargeInfo : iconOk
                            "
                          >
                          </ng-container>
                          <ng-template #formattedPrice>{{
                            item.price.formattedValue
                          }}</ng-template>
                          <ng-template #chargeInfo>{{
                            item.chargeInformation
                          }}</ng-template>
                          <ng-template #iconOk
                            ><span class="fs-icon icon-ok"></span
                          ></ng-template>
                        </div>
                      </li>
                    </ng-container>
                  </ng-container>
                </ul>
                <ng-container
                  *ngTemplateOutlet="
                    edit;
                    context: {
                      route: cart.entries[0]?.product?.configurable
                        ? 'configureProduct'
                        : 'category',
                      quoteStateCode: cart.insuranceQuote?.state?.code,
                      param: cart.entries[0]?.product?.configurable
                        ? cart.entries[0].product.code
                        : ''
                    }
                  "
                >
                </ng-container>
              </div>
            </div>
          </cx-fs-accordion-item>
          <ng-container *ngIf="checkIfRemoveableEntriesExists(cart)">
            <cx-fs-accordion-item [title]="'fscommon.addedByYou' | cxTranslate">
              <div class="container">
                <div class="row justify-content-center">
                  <ul class="col-12 accordion-list">
                    <ng-container
                      *ngFor="
                        let item of cart.deliveryOrderGroups[0]?.entries
                          | slice: 1
                      "
                    >
                      <ng-container *ngIf="item.removeable">
                        <li class="accordion-list-item row">
                          <div class="col-12 item-label">
                            {{ item.product?.cartDisplayName }}
                          </div>
                        </li>
                      </ng-container>
                    </ng-container>
                  </ul>
                  <ng-container
                    *ngTemplateOutlet="
                      edit;
                      context: {
                        route: 'addOptions',
                        quoteStateCode: cart.insuranceQuote?.state?.code
                      }
                    "
                  >
                  </ng-container>
                </div>
              </div>
            </cx-fs-accordion-item>
          </ng-container>
          <ng-container
            *ngIf="
              cart.deliveryOrderGroups[0]?.entries.length > 0 &&
              (cart.deliveryOrderGroups[0]?.entries)[0]?.product?.investments
            "
          >
            <cx-fs-accordion-item
              [title]="'fscommon.investementDetails' | cxTranslate"
            >
              <div class="container">
                <div class="row justify-content-center">
                  <ul class="col-12 accordion-list">
                    <ng-container
                      *ngFor="let item of cart.deliveryOrderGroups[0]?.entries"
                    >
                      <ng-container
                        *ngFor="
                          let investmentDetail of item.product?.investments
                        "
                      >
                        <li class="accordion-list-item row">
                          <div class="col-12">
                            {{ investmentDetail.investmentType?.fundName }}:
                            {{ investmentDetail.distributionPercentage }}&#37;
                          </div>
                          <div class="col-12">
                            ISIN: {{ investmentDetail.investmentType?.isin }}
                          </div>
                          <div class="col-12">
                            5 {{ 'fscommon.yearPerformanse' | cxTranslate }}:
                            {{
                              investmentDetail.investmentType
                                ?.fiveYearPerformance
                            }}
                          </div>
                          <div class="col-12">
                            {{ 'fscommon.riskAndReturningRate' | cxTranslate }}:
                            {{
                              investmentDetail.investmentType
                                ?.riskReturningRating
                            }}
                          </div>
                        </li>
                      </ng-container>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </cx-fs-accordion-item>
          </ng-container>
          <cx-fs-accordion-item
            [title]="'fscommon.personalDetails' | cxTranslate"
          >
            <div class="container">
              <div class="row justify-content-center">
                <ul
                  *ngIf="((cart?.deliveryOrderGroups)[0]?.entries)[0]?.formData"
                  class="col-12 accordion-list"
                >
                  <ng-container
                    *ngFor="
                      let formEntry of getFormContent(cart)?.personalDetails
                        | keyvalue
                    "
                  >
                    <ng-container
                      *ngIf="
                        getTranslation(
                          'personalDetails',
                          formEntry.key
                        ) as label
                      "
                    >
                      <li class="accordion-list-item row">
                        <div class="col-6 item-label">{{ label }}:</div>
                        <div class="col-6 value notice">
                          {{ formEntry.value }}
                        </div>
                      </li>
                    </ng-container>
                  </ng-container>
                </ul>
                <ng-container
                  *ngTemplateOutlet="
                    edit;
                    context: {
                      route: 'checkoutPersonalDetails',
                      quoteStateCode: cart.insuranceQuote?.state?.code
                    }
                  "
                >
                </ng-container>
              </div>
            </div>
          </cx-fs-accordion-item>
          <div class="row mt-5">
            <div
              *ngIf="cart.insuranceQuote?.state?.code !== 'BIND'"
              class="col-md-6 col-sm-6 col-xs-12 mb-3 mb-md-0"
            >
              <ng-container
                *ngIf="previousCheckoutStep$ | async as previousCheckoutStep"
                ><button
                  class="action-button btn-block"
                  (click)="navigateBack(previousCheckoutStep)"
                >
                  {{ 'common.back' | cxTranslate }}
                </button></ng-container
              >
            </div>
            <div
              *ngIf="
                cart.insuranceQuote?.quoteWorkflowStatus?.code === 'APPROVED' ||
                cart.insuranceQuote?.quoteWorkflowStatus?.code === 'REFERRED'
              "
              class="col-md-6 col-sm-6 col-xs-12"
            >
              <ng-container
                *ngIf="nextCheckoutStep$ | async as nextCheckoutStep"
                ><button
                  class="primary-button btn-block"
                  type="button"
                  data-checkout-url=""
                  (click)="navigateNext(nextCheckoutStep, cart)"
                >
                  {{ 'common.continue' | cxTranslate }}
                </button></ng-container
              >
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #noQuotes>
  <h3>{{ 'quote.noActiveQuotes' | cxTranslate }}!</h3>
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
<ng-template
  #cartDetails
  let-valueList="valueList"
  let-defaultCategory="defaultCategory"
>
  <ng-container *ngFor="let item of valueList | keyvalue">
    <ng-container
      *ngIf="getTranslation(defaultCategory.code, item.key) as label"
    >
      <li class="accordion-list-item row">
        <div class="col-6 item-label">{{ label }}:</div>
        <div class="col-6 value notice">
          {{ item.value }}
        </div>
      </li>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template
  #edit
  let-quoteStateCode="quoteStateCode"
  let-route="route"
  let-param="param"
>
  <ng-container *ngIf="isEditable(quoteStateCode)">
    <div class="col-12 col-md-6">
      <button
        class="action-button btn-block"
        *ngIf="activeCategory$ | async as activeCategory"
        [routerLink]="
          {
            cxRoute: route,
            params: {
              code: param ? param : activeCategory
            }
          } | cxUrl
        "
      >
        {{ 'fscommon.edit' | cxTranslate }}
      </button>
    </div>
  </ng-container>
</ng-template>
