<div class="box-shadow p-4">
  <div class="content860 d-flex flex-row justify-content-center flex-wrap">
    <div class="text-center w-100 mt-5">
      <div class="image-wrapper">
        <img class="image-item" [src]="getImagelink()" alt="" />
      </div>
    </div>
    <h4 class="notice-text text-center py-3 px-3 my-3">
      {{ 'claim.confirmation.processingNumber' | cxTranslate }}: {{ claimNumber }}
    </h4>
    <div class="flex-100 border-color-6 my-5"></div>
    <p>
      {{ 'claim.confirmation.submissionNotice' | cxTranslate }}
    </p>
    <p class="text-center my-4">
      {{ 'claim.confirmation.questionsOrConcerns' | cxTranslate }}
    </p>
    <p class="text-center my-4">
      {{ 'claim.confirmation.submissionStatus' | cxTranslate }}
    </p>
  </div>
</div>
