<div class="container-fluid">
  <div class="row">
    <div class="form-check col-md-7">
      <label>
        <input
          class="form-check-input"
          type="checkbox"
          name="confirm"
          [(ngModel)]="confirm"
        />
        <span class="form-check-label">
          {{ 'claim.truthConfirmation' | cxTranslate }}
        </span>
      </label>
    </div>
    <button
      class="primary-button btn-block col-md-5"
      [disabled]="!confirm || !(isPolicySelected$ | async)"
      (click)="startClaim()"
    >
      {{ 'common.continue' | cxTranslate }}
    </button>
  </div>
</div>
