<h2 class="section-header-heading col mb-0">
  {{ 'fscommon.addOptions' | cxTranslate }}
</h2>
<div class="cart-items-list">
  <ng-container *ngIf="cartLoaded$ | async; else loading">
    <ng-container *ngIf="entries$ | async as entries">
      <ng-container *ngFor="let orderEntryData of entries | slice: 1">
        <div
          class="row mx-3 py-3 no-gutters position-relative"
          *ngIf="orderEntryData.product"
        >
          <div class="tooltip-wrapper">
            <div
              class="fsa-tooltip"
              ngbTooltip="{{ orderEntryData.product?.description }}"
              triggers="click:blur"
              placement="left"
            >
              i
            </div>
          </div>
          <div class="col-12 col-md-2 align-self-center">
            <cx-media
              class="cx-product-image-container"
              [container]="orderEntryData.product?.images?.PRIMARY"
              format="96Wx96H"
            ></cx-media>
          </div>
          <div class="col-12 col-md-7 align-self-center">
            <h6>{{ orderEntryData.product.name }}</h6>
          </div>
          <div
            *ngIf="!orderEntryData.removeable && !orderEntryData.addable"
            class="col-12 col-md-3 align-self-center text-center"
          >
            <ng-container
              *ngTemplateOutlet="
                includedNotAvailable;
                context: {
                  title:
                    orderEntryData.product?.bundleTemplates?.length == 3
                      ? ('fscommon.included' | cxTranslate)
                      : ('fscommon.notAvailableFull' | cxTranslate)
                }
              "
            >
            </ng-container>
          </div>
          <div class="col-12 col-md-3 align-self-center">
            <div *ngIf="!orderEntryData.removeable && orderEntryData.addable">
              <button
                (click)="
                  addProductToCart(
                    orderEntryData.product?.code,
                    orderEntryData.entryNumber
                  )
                "
                class="secondary-button btn-block text-capitalize"
              >
                {{ 'fscommon.add' | cxTranslate }}
              </button>
            </div>
            <div *ngIf="orderEntryData.removeable">
              <button
                (click)="removeProductFromCart(orderEntryData)"
                class="secondary-button btn-block text-capitalize"
              >
                {{ 'common.remove' | cxTranslate }}
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<ng-container *ngIf="entries$ != undefined">
  <div class="row mt-5">
    <div class="col-md-6 col-sm-6 col-xs-12 mb-3 mb-md-0">
      <button class="action-button btn-block" (click)="back()">
        {{ 'common.back' | cxTranslate }}
      </button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <button
        class="primary-button btn-block"
        type="button"
        data-checkout-url=""
        (click)="navigateNext()"
      >
        {{ 'common.continue' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-container>
<ng-template #includedNotAvailable let-title="title">
  <span>{{ title }}</span>
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
