<h2 class="section-header-heading mb-0">
  {{ 'fscommon.addOptions' | cxTranslate }}
</h2>
<div class="cart-items-list">
  <ng-container *ngIf="!(cartLoading$ | async); else loading">
    <ng-container *ngIf="entries$ | async as entries">
      <ng-container *ngFor="let orderEntryData of entries | slice: 1">
        <div
          class="row mx-3 py-3 no-gutters position-relative"
          *ngIf="orderEntryData.product"
        >
          <div class="tooltip-wrapper">
            <div
              class="fs-tooltip"
              [ngbTooltip]="tooltipContent"
              triggers="click:blur"
              placement="left"
            >
              i
            </div>
          </div>
          <ng-template #tooltipContent>
            <span>{{ orderEntryData.product?.description }}</span>
            <ng-container
              *ngIf="orderEntryData.product.classifications as classifications"
            >
              <hr />
              <div
                class="row no-gutters mb-2"
                *ngFor="let feature of classifications[0].features"
              >
                <span class="short-overview-title col-6 text-left">{{
                  feature.name
                }}</span>
                <span class="short-overview-value col-6 text-right">{{
                  feature.featureValues[0]?.value
                }}</span>
              </div>
            </ng-container>
          </ng-template>
          <div class="col-12 col-md-2 align-self-center">
            <cx-media
              class="cx-product-image-container"
              [container]="orderEntryData.product?.images?.PRIMARY"
              format="96Wx96H"
            ></cx-media>
          </div>
          <div class="col-12 col-md-7 align-self-center">
            <h6>{{ orderEntryData.product.name }}</h6>
          </div>
          <div
            *ngIf="!orderEntryData.removeable && !orderEntryData.addable"
            class="col-12 col-md-3 align-self-center text-center"
          >
            <ng-container
              *ngTemplateOutlet="
                includedNotAvailable;
                context: {
                  title:
                    orderEntryData.product?.bundleTemplates?.length == 3
                      ? ('fscommon.included' | cxTranslate)
                      : ('fscommon.notAvailableFull' | cxTranslate)
                }
              "
            >
            </ng-container>
          </div>
          <div class="col-12 col-md-3 align-self-center">
            <div *ngIf="!orderEntryData.removeable && orderEntryData.addable">
              <button
                (click)="
                  addProductToCart(
                    orderEntryData.product?.code,
                    orderEntryData.entryNumber
                  )
                "
                class="secondary-button btn-block text-capitalize"
              >
                {{ 'fscommon.add' | cxTranslate }}
              </button>
            </div>
            <div *ngIf="orderEntryData.removeable">
              <button
                (click)="removeProductFromCart(orderEntryData)"
                class="secondary-button btn-block text-capitalize"
              >
                {{ 'common.remove' | cxTranslate }}
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="entries[0].product?.classifications">
        <div class="row mx-3 py-3 no-gutters">
          <div class="col-12 col-md-2 align-self-center">
            <div class="info-icon p-3 d-inline-flex"></div>
          </div>
          <div class="col-12 col-md-5 align-self-center">
            <h6>
              {{ 'fscommon.coveredWith' | cxTranslate }}
              {{ entries[0].product?.cartDisplayName }}
            </h6>
          </div>
          <div class="col-12 col-md-5 align-self-center text-center">
            <ng-container
              *ngFor="
                let feature of (entries[0].product?.classifications)[0]
                  ?.features
              "
            >
              <div class="row no-gutters mb-2">
                <div class="col-7 text-left normal-weight">
                  {{ feature.name }}
                </div>
                <div class="col-5 text-right normal-weight">
                  {{
                    feature.featureValues[0]?.value | currency: currentCurrency
                  }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<ng-container *ngIf="entries$ != undefined">
  <div class="row mt-5">
    <div class="col-md-6 col-sm-6 col-xs-12 mb-3 mb-md-0">
      <button class="action-button btn-block" (click)="back()">
        {{ 'common.back' | cxTranslate }}
      </button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <button
        class="primary-button btn-block"
        type="button"
        data-checkout-url=""
        (click)="navigateNext()"
      >
        {{ 'common.continue' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-container>
<ng-template #includedNotAvailable let-title="title">
  <span>{{ title }}</span>
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
