<ng-container *ngIf="policy$ | async as policy">
  <div class="overview-section mb-5">
    <a
      class="h4 overview-section-link"
      routerLink="/my-account/my-policies/"
      routerLinkActive="active"
    >
      <span class="fas fa-arrow-left"></span
    ></a>
    <h2 class="heading-headline p-3 mt-3 mb-5 text-center">
      <span *ngIf="policy.categoryData">
        {{ policy.mainProduct.coverageProduct.name }}
        {{ 'policy.policy' | cxTranslate }}
      </span>
      <br />
      <span>
        {{ policy.policyNumber }}
      </span>
    </h2>
  </div>
  <div class="accordion">
    <cx-fs-accordion-item
      [opened]="true"
      [title]="'policy.policySummary' | cxTranslate"
    >
      <ul class="accordion-list container-fluid">
        <li class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.contractId' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            {{ policy.contractNumber }}
          </div>
        </li>
        <li *ngIf="policy.expiredPolicyNumber" class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'policy.expiredPolicyId' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            {{ policy.expiredPolicyNumber }}
          </div>
        </li>
        <li class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.product' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            {{ policy.mainProduct?.coverageProduct?.name }}
          </div>
        </li>
        <li *ngIf="policy.paymentFrequency" class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.paymentFrequency' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            {{ policy.paymentFrequency }}
          </div>
        </li>
        <li class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.paymentMethod' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            <ng-container
              *ngIf="policy.paymentMethod?.paymentOption; else defaultPayment"
            >
              {{ policy.paymentMethod?.paymentOption }}
            </ng-container>
          </div>
        </li>
        <li class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.duration' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            {{ policy.startDate | cxDate: 'dd MMM yyyy' }} -
            {{ policy.endDate | cxDate: 'dd MMM yyyy' }}
          </div>
        </li>
        <li *ngIf="policy.policyStatus" class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.status' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            {{ policy.policyStatus }}
          </div>
        </li>
      </ul>
    </cx-fs-accordion-item>
    <ng-container *ngIf="policy.insuredObjectList?.insuredObjects?.length > 0">
      <cx-fs-accordion-item
        [icon]="
          isChangeAllowed(
            policy.categoryData.allowedFSRequestTypes,
            'FSINSUREDOBJECT_CHANGE',
            policy.startDate
          )
            ? 'fs-icon icon-edit'
            : ''
        "
        [title]="'fscommon.whoOrWhatIsInsured' | cxTranslate"
      >
        <ng-container
          *ngFor="let insuredObject of policy.insuredObjectList.insuredObjects"
        >
          <ng-container
            *ngIf="
              insuredObject.insuredObjectItems &&
              insuredObject.insuredObjectItems.length > 0
            "
          >
            <ul class="accordion-list container-fluid">
              <li
                *ngIf="
                  getTranslation(
                    policy.categoryData?.code,
                    insuredObject.insuredObjectType | lowercase
                  ) as insuredObjectType
                "
                class="accordion-list-item row sub-title"
              >
                <div class="col-12">
                  {{ insuredObjectType }}
                </div>
              </li>
              <ng-container
                *ngFor="
                  let insuredObjectItem of insuredObject.insuredObjectItems
                "
              >
                <li
                  *ngIf="
                    getTranslation(
                      policy.categoryData?.code,
                      insuredObjectItem.label
                    ) as insuredObjectItemLabel
                  "
                  class="accordion-list-item row"
                >
                  <div class="col-6 col-sm-5 item-label">
                    {{ insuredObjectItemLabel }}
                  </div>
                  <div class="col-6 col-sm-5 value notice">
                    {{ insuredObjectItem.value }}
                  </div>
                  <ng-container
                    *ngIf="
                      insuredObjectItem.changeable &&
                      isChangeAllowed(
                        policy.categoryData?.allowedFSRequestTypes,
                        'FSINSUREDOBJECT_CHANGE',
                        policy.startDate
                      )
                    "
                  >
                    <div class="col-12 col-sm-2 value notice">
                      <p
                        (click)="
                          changePolicyDetails(
                            policy.policyNumber,
                            policy.contractNumber,
                            'FSINSUREDOBJECT_CHANGE'
                          )
                        "
                        class="link mb-0"
                      >
                        {{ 'fscommon.edit' | cxTranslate }}
                      </p>
                    </div>
                  </ng-container>
                </li>
              </ng-container>
            </ul>
            <ng-container
              *ngIf="
                insuredObject.childInsuredObjectList?.insuredObjects?.length > 0
              "
            >
              <ng-container
                *ngFor="
                  let childInsuredObject of insuredObject.childInsuredObjectList
                    .insuredObjects;
                  let i = index
                "
              >
                <ul class="accordion-list container-fluid">
                  <li class="accordion-list-item row sub-title">
                    <div class="col-12">
                      {{ childInsuredObject.insuredObjectType }} {{ i + 1 }}
                    </div>
                  </li>
                  <ng-container
                    *ngIf="
                      childInsuredObject.insuredObjectItems &&
                      childInsuredObject.insuredObjectItems.length > 0
                    "
                  >
                    <ng-container
                      *ngFor="
                        let childInsuredObjectItem of childInsuredObject.insuredObjectItems
                      "
                    >
                      <li
                        *ngIf="
                          (childInsuredObjectItem.label !== 'customerId' ||
                            childInsuredObjectItem.value !== 'false') &&
                          getTranslation(
                            policy.categoryData?.code,
                            childInsuredObjectItem.label
                          ) as childInsuredObjectItemLabel
                        "
                        class="accordion-list-item row"
                      >
                        <div class="col-6 col-sm-5 item-label">
                          {{ childInsuredObjectItemLabel }}
                        </div>
                        <div class="col-6 col-sm-5 value notice">
                          {{ childInsuredObjectItem.value }}
                        </div>
                        <ng-container *ngIf="childInsuredObjectItem.changeable">
                          <div class="col-6 col-sm-5 value notice">
                            <p
                              (click)="
                                changePolicyDetails(
                                  policy.policyNumber,
                                  policy.contractNumber,
                                  'FSINSUREDOBJECT_CHANGE'
                                )
                              "
                              class="link"
                            >
                              {{ 'fscommon.edit' | cxTranslate }}
                            </p>
                          </div>
                        </ng-container>
                      </li>
                    </ng-container>
                  </ng-container>
                  <ng-container
                    *ngIf="
                      isChangeAllowed(
                        policy.categoryData?.allowedFSRequestTypes,
                        'FSINSUREDOBJECT_ADD',
                        policy.startDate
                      ) &&
                      isAddingOfInsuredObjectAllowed(
                        insuredObject,
                        childInsuredObject.maxNumberOfInsuredObjects
                      ) &&
                      insuredObject.childInsuredObjectList.insuredObjects
                        .length ===
                        i + 1
                    "
                  >
                    <button
                      class="action-button btn-block mt-4"
                      (click)="
                        changePolicyDetails(
                          policy.policyNumber,
                          policy.contractNumber,
                          'FSINSUREDOBJECT_ADD'
                        )
                      "
                    >
                      {{ 'fscommon.add' | cxTranslate }}
                    </button>
                  </ng-container>
                </ul>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </cx-fs-accordion-item>
    </ng-container>
    <cx-fs-accordion-item [title]="'fscommon.whatsIncluded' | cxTranslate">
      <ul
        class="accordion-list container-fluid"
        *ngIf="policy.mainProduct && policy.mainProduct.benefits"
      >
        <li
          *ngFor="let benefit of policy.mainProduct.benefits"
          class="accordion-list-item row"
        >
          <div class="col-6 col-sm-5 item-label">
            {{ benefit.name }}
          </div>
          <div
            *ngIf="benefit.coverageValue"
            class="col-6 col-sm-5 value notice"
          >
            {{ benefit.coverageValue }}
          </div>
          <div
            *ngIf="!benefit.coverageValue && benefit.coverageInformation"
            class="col-6 col-sm-5 value notice"
          >
            {{ benefit.coverageInformation }}
          </div>
        </li>
      </ul>
    </cx-fs-accordion-item>
    <cx-fs-accordion-item
      [icon]="
        isChangeAllowed(
          policy.categoryData?.allowedFSRequestTypes,
          'FSCOVERAGE_CHANGE',
          policy.startDate
        )
          ? 'fs-icon icon-edit'
          : ''
      "
      [title]="'fscommon.optionalExtras' | cxTranslate"
    >
      <ul class="accordion-list container-fluid position-relative">
        <ng-container
          *ngIf="
            isChangeAllowed(
              policy.categoryData?.allowedFSRequestTypes,
              'FSCOVERAGE_CHANGE',
              policy.startDate
            )
          "
        >
          <p
            (click)="
              changePolicyDetails(
                policy.policyNumber,
                policy.contractNumber,
                'FSCOVERAGE_CHANGE'
              )
            "
            class="link position-absolute"
          >
            {{ 'fscommon.edit' | cxTranslate }}
          </p>
        </ng-container>
        <ng-container *ngFor="let optionalCoverage of policy.optionalProducts">
          <ng-container *ngIf="!optionalCoverage.isMandatory">
            <li class="accordion-list-item row">
              <div class="col-6 col-sm-5 item-label">
                {{ optionalCoverage.coverageProduct.name }}
              </div>
              <div
                class="col-6 col-sm-5 value notice"
                [innerText]="
                  optionalCoverage.coverageIsIncluded
                    ? ('fscommon.included' | cxTranslate)
                    : ('fscommon.notIncluded' | cxTranslate)
                "
              ></div>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </cx-fs-accordion-item>
    <cx-fs-accordion-item
      *ngIf="policy.mainProduct?.investmentInfo"
      [title]="'fscommon.investmentDetails' | cxTranslate"
    >
      <ul class="accordion-list container-fluid">
        <ng-container
          *ngFor="let investmentInfoItem of policy.mainProduct?.investmentInfo"
        >
          <li class="accordion-list-item row">
            <div class="col-12">
              {{ investmentInfoItem.investmentType?.fundName }}:
              {{ investmentInfoItem.distributionPercentage }}&#37;
            </div>
            <div class="col-12">
              ISIN: {{ investmentInfoItem.investmentType?.isin }}
            </div>
            <div class="col-12">
              5 {{ 'fscommon.yearPerformanse' | cxTranslate }}:
              {{ investmentInfoItem.investmentType?.fiveYearPerformance }}&#37;
            </div>
            <div class="col-12">
              {{ 'fscommon.riskAndReturningRate' | cxTranslate }}:
              {{ investmentInfoItem.investmentType?.riskReturningRating }}
            </div>
          </li>
        </ng-container>
      </ul>
    </cx-fs-accordion-item>
    <cx-fs-accordion-item [title]="'fscommon.whatDoesItCostMe' | cxTranslate">
      <ul class="accordion-list container-fluid">
        <li class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.premium' | cxTranslate }}
          </div>
          <div class="col-xs-12 col-sm-6 value notice">
            {{ policy.policyPremium?.formattedValue }}
          </div>
        </li>
        <li class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.paymentFrequency' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            {{ policy.paymentFrequency }}
          </div>
        </li>
        <li class="accordion-list-item row">
          <div class="col-6 col-sm-5 item-label">
            {{ 'fscommon.paymentMethod' | cxTranslate }}
          </div>
          <div class="col-6 col-sm-5 value notice">
            <ng-container
              *ngIf="policy.paymentMethod?.paymentOption; else defaultPayment"
            >
              {{ policy.paymentMethod?.paymentOption }}
            </ng-container>
          </div>
        </li>
      </ul>
    </cx-fs-accordion-item>
    <cx-fs-accordion-item
      *ngIf="policy.documents && policy.documents.length > 0"
      [title]="'fscommon.documents' | cxTranslate"
    >
      <div class="accordion-list">
        <cx-fs-documents-table
          [documentSource]="policy.documents"
          [referredObjectColumnVisible]="false"
        ></cx-fs-documents-table>
      </div>
    </cx-fs-accordion-item>
    <cx-fs-accordion-item
      *ngIf="policy.responsibleAgent"
      [title]="'fscommon.myAgent' | cxTranslate"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="content-box col-xs-10 col-sm-4 col-md-3">
            <img
              class="circle-image"
              [src]="baseUrl + policy.responsibleAgent?.thumbnail?.url"
              [alt]="policy.responsibleAgent?.displayName"
            />
            <p class="content-box-info">
              {{ policy.responsibleAgent?.displayName }}
            </p>
          </div>
        </div>
      </div>
    </cx-fs-accordion-item>
  </div>
</ng-container>
<ng-template #defaultPayment>
  {{ 'fscommon.invoice' | cxTranslate }}
</ng-template>
