<ng-container *ngIf="quoteId">
  <div class="box-shadow p-4">
    <div class="content860 d-flex flex-column align-content-center flex-wrap">
      <div class="d-flex justify-content-center my-5">
        <div class="image-wrapper">
          <img class="image-item" [src]="imageLink" alt="" />
        </div>
      </div>
      <h5 class="notice-text text-center py-2 px-4 mb-5">
        {{ 'applicationConfirmation.successfulCreation' | cxTranslate }}
        <a class="link text-capitalize" (click)="navigateQuoteDetails()">
          {{
            'applicationConfirmation.successfulCreationQuoteIdLink'
              | cxTranslate: { quoteId: quoteId }
          }}
        </a>
      </h5>
      <hr class="w-100 border border-color-6 mb-5" />
      <p>
        {{
          'applicationConfirmation.waitForStatus'
            | cxTranslate: { productName: productName, quotePrice: quotePrice }
        }}
      </p>
      <p>
        {{ 'applicationConfirmation.confirmationEmailStart' | cxTranslate }}
        <a class="link text-capitalize" (click)="navigateInbox()">
          {{ 'applicationConfirmation.confirmationEmailInbox' | cxTranslate }}
        </a>
        {{ 'applicationConfirmation.confirmationEmailEnd' | cxTranslate }}
      </p>
    </div>
  </div>
</ng-container>
