<div class="row">
  <div class="info-card col-12 m-4 pt-2">
    <div class="d-flex justify-content-between pt-1">
      <h6 class="accordion-heading">
        {{ 'policy.policyChartTitle' | cxTranslate }}
      </h6>
      <a class="link" (click)="toggleChartVisibility()">
        {{
          isChartVisible
            ? ('policy.showLess' | cxTranslate)
            : ('policy.showMore' | cxTranslate)
        }}
      </a>
    </div>
    <div
      class="pb-3 notice"
      [ngClass]="{ 'border-bottom': isChartVisible }"
    >
      {{premiumSumByPaymentFrequency}} | {{policyCurrency}}
    </div>
    <div *ngIf="isChartVisible" class="chart-container">
      <label class="pt-3">
        <span class="label-content">{{
          'fscommon.paymentFrequency' | cxTranslate
        }}</span>
        <select
          [(ngModel)]="selectedFrequency"
          class="form-control"
          (change)="selectPaymentFrequency()"
        >
          <option [selected]="true" disabled value="null">{{
            'fscommon.pleaseSelect' | cxTranslate
          }}</option>
          <option *ngFor="let option of options" value="{{ option.name }}">
            {{ option.label }}
          </option>
        </select>
      </label>
      <div>
        <div echarts [options]="chartOption"></div>
      </div>
    </div>
  </div>
</div>
