<div *ngIf="policiesByPaymentFrequency" class="row">
  <div class="col-12">
    <div class="accordion mb-4">
      <cx-fs-accordion-item
        [opened]="false"
        [icon]="'fas fa-chart-pie'"
        [title]="'policy.policyChartTitle' | cxTranslate"
      >
        <div class="row">
          <label class="col-md-3 pr-3 pr-md-0">
            <span class="label-content">{{
              'fscommon.paymentFrequency' | cxTranslate
            }}</span>
            <select
              [(ngModel)]="selectedFrequency"
              class="form-control"
              (change)="selectPaymentFrequency()"
            >
              <option [selected]="true" disabled value="null">{{
                'fscommon.pleaseSelect' | cxTranslate
              }}</option>
              <option *ngFor="let option of options" value="{{ option.name }}">
                {{ option.label }}
              </option>
            </select>
          </label>
          <div class="chart-container col-12 col-md-6 mr-auto mt-md-0 mt-4">
            <div echarts [options]="chartOption"></div>
          </div>
        </div>
      </cx-fs-accordion-item>
    </div>
  </div>
</div>
