<ul>
  <li>{{ productAssignment.product.name }}</li>
  <li>{{ productAssignment.product.defaultCategory.name }}</li>
  <li>{{ productAssignment.active }}</li>
  <div *ngIf="productAssignment.active === true">
    <button
      class="action-button btn-block"
      (click)="changeActiveStatus(productAssignment.code)"
    >
      {{ 'fscommon.deactivate' | cxTranslate }}
    </button>
  </div>
  <div *ngIf="productAssignment.active === false">
    <button
      class="action-button btn-block"
      (click)="changeActiveStatus(productAssignment.code)"
    >
      {{ 'fscommon.activate' | cxTranslate }}
    </button>
  </div>
</ul>
