<ng-container *ngIf="group">
  <div class="dynamic-field" [formGroup]="group" [hidden]="config.hidden">
    <div class="form-group">
      <label class="col-form-label">
        {{ label }}
        <ng-container *ngIf="!config.required">
          {{ 'dynamicforms.optional' | cxTranslate }}
        </ng-container>
      </label>
      <textarea
        class="form-control"
        [attr.placeholder]="placeHolder"
        [formControlName]="config.name"
        rows="10"
        [attr.name]="config.name"
        [attr.readonly]="config.readonly ? config.readonly : null"
      ></textarea>
    </div>
    <cx-error-notice
      [warn]="group.controls[config.name]"
      [parentConfig]="config"
    ></cx-error-notice>
  </div>
</ng-container>
