<!--  TABLE HEADER   -->
<div
  class="fs-icon m-4"
  (click)="changeSelectedMessages(!envelopState)"
  [ngClass]="envelopState ? 'icon-envelope-open' : 'icon-envelope'"
></div>
<div
  class="section-header-heading p-4 text-left border-top-0 position-relative container-fluid"
>
  <div class="row d-none d-md-flex">
    <div class="col-1">
      <label class="checkbox-label">
        <input
          type="checkbox"
          [checked]="mainCheckboxChecked"
          (click)="checkAllCheckboxes(!mainCheckboxChecked)"
        />
        <span class="checkbox-text fs-icon icon-ok"></span>
      </label>
    </div>
    <ng-container
      *ngIf="{
        subject: defaultSortOrder,
        content: defaultSortOrder,
        sentDate: defaultSortOrder
      } as sorts"
    >
      <div class="col-3 text-uppercase">
        {{ 'fscommon.subject' | cxTranslate }}
        <span
          class="fs-icon icon-triangle-bottom"
          (click)="
            sorts.subject = sorts.subject === 'desc' ? 'asc' : 'desc';
            sortMessages('subject', sorts.subject)
          "
          [ngClass]="sorts.subject === 'asc' ? 'rotate' : ''"
        >
        </span>
      </div>
      <div class="col-6 text-uppercase">
        {{ 'fscommon.preview' | cxTranslate }}
        <span
          class="fs-icon icon-triangle-bottom"
          (click)="
            sorts.content = sorts.content === 'desc' ? 'asc' : 'desc';
            sortMessages('body', sorts.content)
          "
          [ngClass]="sorts.content === 'asc' ? 'rotate' : ''"
        ></span>
      </div>
      <div class="col-2 text-uppercase">
        {{ 'fscommon.date' | cxTranslate }}
        <span
          class="fs-icon icon-triangle-bottom"
          (click)="
            sorts.sentDate = sorts.sentDate === 'desc' ? 'asc' : 'desc';
            sortMessages('sentdate', sorts.sentDate)
          "
          [ngClass]="sorts.sentDate === 'asc' ? 'rotate' : ''"
        ></span>
      </div>
    </ng-container>
  </div>
  <div class="row d-md-none align-items-center">
    <div class="col-1">
      <label class="checkbox-label d-inline align-middle">
        <input
          type="checkbox"
          [checked]="mainCheckboxChecked"
          (click)="checkAllCheckboxes(!mainCheckboxChecked)"
        />
        <span class="checkbox-text fs-icon icon-ok"></span>
      </label>
    </div>
    <div
      class="col-9 text-left ml-4 heading-dropdown d-flex justify-content-between align-items-center"
      (click)="displayMobileGroups = !displayMobileGroups"
    >
      <span>{{ mobileGroupTitle }}</span>
      <span
        class="fas fa-chevron-down"
        [ngClass]="displayMobileGroups ? 'rotate' : ''"
      ></span>
    </div>
  </div>
  <div
    class="select position-absolute w-100"
    [ngClass]="{ opened: displayMobileGroups, '': displayMobileGroups }"
  >
    <ul role="tablist" class="nav-tabs">
      <li
        class="tab"
        *ngFor="let tab of mobileTabs; let i = index"
        (click)="activeTabIndex = i; displayMobileGroups = false"
      >
        <cx-fs-inbox-tab [currentTab]="i === activeTabIndex" [tabId]="tab">
        </cx-fs-inbox-tab>
      </li>
    </ul>
  </div>
</div>

<!--  TABLE HEADER  END -->

<!-- <ng-container *ngIf="loadedMessages | async as messages">
  <ng-container *ngFor="let message of messages">
    {{ message.body }}
  </ng-container>
</ng-container> -->

<ng-container *ngIf="loadedMessages$ | async as messages; else ghostMessages">
  <div class="messages">
    <div
      class="message accordion border-bottom border-color-3"
      *ngFor="let message of messages; let i = index"
      [ngClass]="{
        read: message.read,
        active: message.opened
      }"
    >
      <div class="inbox-header container-fluid">
        <div class="row">
          <div class="col-1 p-4">
            <label class="checkbox-label">
              <input
                type="checkbox"
                [checked]="message.checked"
                (change)="checkMessage(message.uid, !message.checked)"
              />
              <span class="checkbox-text fs-icon icon-ok"></span>
            </label>
          </div>
          <div
            class="col-6 col-md-3 position-relative text-truncate p-4"
            (click)="message.opened = !message.opened; readMessage(message)"
          >
            {{ message.subject }}
            <ng-container *ngIf="message.documents?.length > 0">
              <span class="position-absolute fs-icon icon-attachment"></span>
            </ng-container>
          </div>
          <div
            class="col-md-6 d-none d-md-block text-truncate p-4"
            (click)="message.opened = !message.opened; readMessage(message)"
          >
            {{ message.body }}
          </div>
          <div class="col-4 col-md-2 text-truncate cursor-default p-4">
            {{ message.sentDate | date: 'dd MMM yyyy' }}
          </div>
        </div>
      </div>
      <div
        class="accordion-item-wrapper"
        [ngClass]="{ active: message.opened }"
      >
        <div class="box-shadow border border-color-3">
          <div [innerHtml]="message.richContent"></div>
          <div
            *ngIf="message.documents?.length > 0"
            class="border-top border-color-3 pt-4"
          >
            <span class="notification">
              {{ message.documents.length }}
              {{ 'fscommon.attachments' | cxTranslate }}
            </span>
            <ul class="mt-3 document-list">
              <li
                class="pb-2 mb-1 document-list-item"
                *ngFor="let document of message.documents"
              >
                <span class="icon-external-link fs-icon"></span>
                <a
                  class="document-link pl-2"
                  [href]="document.downloadUrl"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ document.altText }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-5">
    <cx-pagination
      *ngIf="pagination"
      [pagination]="pagination"
      (viewPageEvent)="pageChange($event)"
    >
    </cx-pagination>
  </div>
</ng-container>
<ng-template #ghostMessages>
  <div *ngIf="ghostData?.values; else noMessages" class="ghost container-fluid">
    <div
      class="row ghost-row border border-top-0 border-color-3"
      *ngFor="let data of ghostData.values"
    >
      <div class="col-1"></div>
      <div class="col-6 col-md-3"></div>
      <div class="col-md-6 d-none d-md-flex"></div>
      <div class="col-3 col-md-2 col-sm-4"></div>
    </div>
  </div>
</ng-template>
<ng-template #noMessages>
  <p class="p-4 border-bottom border-color-3">
    {{ 'fscommon.noMessagesForGroup' | cxTranslate }}
  </p>
</ng-template>
