//point to the theme variables
//DO NOT load anything else here!
@import 'theme/fs/variables';

// the $skipComponentStyles is used as a list of component styles that can be ignore
// during the sass compilation. Whenever the list contains a component selector, the
// selector is not used.
$fsSkipComponentStyles: () !default;

// major version standard
$fsSelectors: cx-fs-policy-details, cx-fs-claim-details, cx-fs-premium-calendar,
  cx-fs-checkout-progress, cx-fs-progress-bar, cx-fs-final-review,
  cx-fs-mini-cart, cx-fs-product-configuration-mini-cart, cx-fs-quote-review,
  cx-fs-enriched-responsive-banner, cx-fs-agent-root, cx-fs-agent-search-box,
  cx-fs-agent-search-list, cx-fs-find-agent-navigation, cx-fs-inbox-messages,
  cx-fs-inbox, cx-fs-product-feature, cx-fs-category-feature, cx-fs-register,
  cx-fs-update-profile, cx-fs-product-assignments, cx-fs-create-obo-customer,
  cx-fs-potential-product-assignments, cx-fs-login-form, cx-update-email,
  cx-update-password, cx-fs-active-products, cx-fs-change-coverage,
  cx-form-component, cx-fs-select-identification, cx-fs-add-options,
  cx-fs-cart-coupon, cx-fs-payment-method, cx-fs-order-details-totals,
  cx-fs-order-details-items, cx-fs-order-summary, cx-fs-order-history,
  cx-fs-policies-chart, cx-fs-message-notification, cx-fs-documents-table,
  cx-fs-searchbox, cx-fs-questionnaire-carousel, cx-fs-navigation-ui,
  cx-fs-comparison-table-container, cx-fs-comparison-table-tab,
  cx-fs-comparison-table-panel, cx-fs-comparison-table-panel-item,
  cx-payment-methods, cx-fs-seller-dashboard-list, cx-fs-user-profile,
  cx-fs-seller-dashboard, cx-fs-dashboard-link !default;
// future theme's, can be introduced during minors
$theme: '' !default;

@each $fsSelector in $fsSelectors {
  #{$fsSelector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($fsSkipComponentStyles, $fsSelector) == null) {
      @extend %#{$fsSelector} !optional;
    }
  }
}
