@mixin width1400 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin box-shadow($x, $y, $a, $b, $color, $opacity) {
  box-shadow: $x $y $a $b rgba($color, $opacity);
  -moz-box-shadow: $x $y $a $b rgba($color, $opacity);
  -webkit-box-shadow: $x $y $a $b rgba($color, $opacity);
}
@mixin primary-btn-color {
  background-color: $color-blue !important;
  border-color: $color-blue !important;
  color: $color-white !important;
  &:hover,
  &:active,
  &:focus {
    background-color: $color-link-hover !important;
    border-color: $color-link-hover !important;
    color: $color-white !important;
  }
}
@mixin secondary-btn-color {
  background-color: $color-dark-blue !important;
  border-color: $color-dark-blue !important;
  color: $color-white !important;
  &:hover,
  &:active,
  &:focus {
    background-color: $color-button-secondary-hover !important;
    border-color: $color-button-secondary-hover !important;
    color: $color-white !important;
  }
}
@mixin secondary-btn-color-inverted {
  background-color: $color-white !important;
  border-color: $color-white !important;
  color: $color-dark-blue !important;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.9;
  }
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin transition {
  transition: all 300ms ease;
}
@mixin linear-gradient-background($startColor, $endColor, $firstStop, $secondStop) {
  background: -webkit-linear-gradient(left,$startColor $firstStop,$endColor $secondStop);
  background: -o-linear-gradient(left, $startColor $firstStop, $endColor $secondStop);
  background: linear-gradient(to right, $startColor $firstStop, $endColor $secondStop);
}
@mixin radial-gradient-background($startColor, $middleColor, $endColor) {
  background: radial-gradient(ellipse at center, $startColor 30%, $middleColor 80%, $endColor 120%);
  background: -ms-radial-gradient(ellipse at center, $startColor 30%, $middleColor 80%, $endColor 120%);
  background: -moz-radial-gradient(ellipse at center, $startColor 30%, $middleColor 80%, $endColor 120%);
  background: -o-radial-gradient(ellipse at center, $startColor 30%, $middleColor 80%, $endColor 120%);
  background: -webkit-radial-gradient(ellipse at center, $startColor 30%, $middleColor 80%, $endColor 120%);
}

@mixin linear-gradient-background ($startColor, $endColor, $firstStop, $secondStop) {
  background: -webkit-linear-gradient(left, $startColor $firstStop, $endColor $secondStop);
  background: -o-linear-gradient(left, $startColor $firstStop, $endColor $secondStop);
  background: linear-gradient(to right, $startColor $firstStop, $endColor $secondStop);
}

@mixin accordion-arrow {
  cursor: pointer;
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
    width: 13px;
    height: 13px;
    border-bottom: 3px solid;
    border-right: 3px solid;
    @include transition();
  }
  &.active {
    &:before {
      transform: translateY(-50%) rotateZ(-135deg);
    }
  }
}
