@import './overrides/applied-coupons';
@import './overrides/category-page';
@import './overrides/card';
@import './overrides/company-page-template';
@import './overrides/footer';
@import './overrides/header';
@import './overrides/homepage';
@import './overrides/main-overrides';
@import './overrides/payment-methods';
@import './overrides/links';
@import './overrides/carousel';
@import './overrides/login';
@import './overrides/update-password';
@import './overrides/update-email';
@import './overrides/pagination';
@import './overrides/search-results';
@import './overrides/order-details';
@import './overrides/order-history';
