@import './overrides/footer';
@import './overrides/header';
@import './overrides/homepage';
@import './overrides/category-page';

/********** CHECKOUT START ******/

// cx-multi-step-checkout color variables
$cx-multi-step-checkout-progress-bar-color: 'primary' !default;
$cx-multi-step-checkout-nav-list-media-border-color: 'light' !default;
$cx-multi-step-checkout-media-border-color: 'light' !default;
$cx-multi-step-checkout-media-border: 1px solid;

// cx-multi-step-checkout variables
$cx-multi-step-checkout-padding: 2.5rem 0 !default;
$cx-multi-step-checkout-no-padding: 0 !default;

$cx-multi-step-checkout-nav-margin-bottom: 0 !default;

$cx-multi-step-checkout-nav-item-padding: 0 0 1.375rem 0 !default;
$cx-multi-step-checkout-nav-item-before-padding: 0 0.5rem !default;

$cx-multi-step-checkout-nav-list-padding: 0 !default;
$cx-multi-step-checkout-nav-list-margin-bottom: 0 !default;

$cx-multi-step-checkout-nav-link-cursor: pointer !default;
$cx-multi-step-checkout-nav-link-disabled-cursor: not-allowed !default;

$cx-multi-step-checkout-progressbar-border-bottom: 5px solid !default;

.cx-multi-step-checkout {
  padding: $cx-multi-step-checkout-padding;

  &__nav {
    @include type('4', 'semi');

    &-list {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: $cx-multi-step-checkout-nav-list-padding;
      margin-bottom: $cx-multi-step-checkout-nav-list-margin-bottom;
    }

    &-item {
      color: theme-color('text');
      padding: $cx-multi-step-checkout-nav-item-padding;

      &.progressbar {
        border-bottom: $cx-multi-step-checkout-progressbar-border-bottom;
        @include var-color(
          'border-bottom-color',
          $cx-multi-step-checkout-progress-bar-color
        );
      }

      &::before {
        padding: $cx-multi-step-checkout-nav-item-before-padding;
        content: '>';
      }

      &:first-child::before {
        content: '';
        padding: $cx-multi-step-checkout-no-padding;
      }

      &.is-disabled {
        color: theme-color('light');
      }
    }

    &-link,
    &-link:hover {
      cursor: $cx-multi-step-checkout-nav-link-cursor;

      &.is-disabled {
        color: theme-color('light');
        cursor: $cx-multi-step-checkout-nav-link-disabled-cursor;
      }

      &.is-active {
        @include var-color('color', 'primary');
      }
    }

    &-list--media {
      display: none;
    }
  }
}
  
  /********** CHECKOUT END ******/