.accordion {
    &--heading {
        color: $color-white;
        font-size: 20px;
        font-weight: 500;
        line-height: 55px;
        margin-bottom: 0;
        height: 55px;
        cursor: pointer;
        padding: 0 60px;
        @include ellipsis;
        @include linear-gradient-background( $color-blue, $color-banking-darkest-blue, 50%, 100% );
    }
    &-item {
        margin-top: 40px;
        border: $border-grey;
    }
    &--list-item {
        border-bottom: 1px solid $color-grey;
        padding: 14px 0; 
        &:last-child {
            border-bottom: none;
        }
    }
    .value {
        @media(max-width: $screen-xs-max) {
          text-align: right;
        }
    }
    &-item--wrapper {
        transition: opacity 0.5s ease-out;
        opacity: 0; 
        height: 0;
        overflow: hidden;
        &.active {
            padding: 30px 46px 20px;
            opacity: 1;
            height: auto;
        }
    }
}