@font-face {
  font-family: 'font-FSA';
  src: url('assets/fonts/font-FSA.eot?wufwux');
  src: url('assets/fonts/font-FSA.eot?wufwux#iefix') format('embedded-opentype'),
    url('assets/fonts/font-FSA.ttf?wufwux') format('truetype'),
    url('assets/fonts/font-FSA.woff?wufwux') format('woff'),
    url('assets/fonts/font-FSA.svg?wufwux#font-FSA') format('svg');
  font-weight: normal;
  font-style: normal;
}

.FSA-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-FSA' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attachment:before {
  content: '\e92e';
}
.icon-external-link:before {
  content: '\e92f';
}
.icon-FSA-heart:before {
  content: '\e900';
}
.icon-FSA-agent:before {
  content: '\e901';
}
.icon-FSA-lock:before {
  content: '\e902';
}
.icon-FSA-auto:before {
  content: '\e903';
}
.icon-FSA-event:before {
  content: '\e904';
}
.icon-FSA-house:before {
  content: '\e905';
}
.icon-FSA-key:before {
  content: '\e906';
}
.icon-FSA-plane:before {
  content: '\e907';
}
.icon-FSA-facebook:before {
  content: '\e908';
}
.icon-FSA-google-plus:before {
  content: '\e909';
}
.icon-FSA-linkedin:before {
  content: '\e90a';
}
.icon-FSA-newsfeed:before {
  content: '\e90b';
}
.icon-FSA-twitter:before {
  content: '\e90c';
}
.icon-FSA-youtube:before {
  content: '\e90d';
}
.icon-fsa-envelope-open:before {
  content: '\e90e';
}
.icon-FSA-arrow-left:before {
  content: '\e90f';
}
.icon-FSA-arrow-up:before {
  content: '\e910';
}
.icon-FSA-briefcase:before {
  content: '\e911';
}
.icon-FSA-credit-card:before {
  content: '\e913';
}
.icon-FSA-edit:before {
  content: '\e914';
}
.icon-FSA-envelope:before {
  content: '\e915';
}
.icon-FSA-exclamation-sign:before {
  content: '\e916';
}
.icon-FSA-file:before {
  content: '\e917';
}
.icon-FSA-user:before {
  content: '\e918';
}
.icon-FSA-folder-close:before {
  content: '\e919';
}
.icon-FSA-folder-open:before {
  content: '\e91a';
}
.icon-FSA-list1:before {
  content: '\e91b';
}
.icon-FSA-list-alt:before {
  content: '\e91c';
}
.icon-FSA-log-out:before {
  content: '\e91d';
}
.icon-FSA-map-marker:before {
  content: '\e91e';
}
.icon-FSA-menu-hamburger:before {
  content: '\e920';
}
.icon-FSA-ok:before {
  content: '\e922';
}
.icon-FSA-paperclip:before {
  content: '\e923';
}
.icon-FSA-play:before {
  content: '\e924';
}
.icon-FSA-remove:before {
  content: '\e925';
}
.icon-FSA-search:before {
  content: '\e926';
}
.icon-FSA-trash:before {
  content: '\e927';
}
.icon-FSA-triangle-bottom:before {
  content: '\e928';
}
.icon-FSA-unchecked:before {
  content: '\e929';
}
.icon-FSA-list:before {
  content: '\e912';
}
.icon-FSA-person:before {
  content: '\e91f';
}
.icon-FSA-selected-item:before {
  content: '\e921';
}
.icon-FSA-card-verify:before {
  content: '\e92a';
}
.icon-FSA-payment-cards:before {
  content: '\e92b';
}
.icon-FSA-review:before {
  content: '\e92c';
}
.icon-FSA-shield:before {
  content: '\e92d';
}
