@font-face {
  font-family: 'fsa-font';
  src: url('assets/fonts/fsa-font.eot?lvvmfz');
  src: url('assets/fonts/fsa-font.eot?lvvmfz#iefix') format('embedded-opentype'),
    url('assets/fonts/fsa-font.ttf?lvvmfz') format('truetype'),
    url('assets/fonts/fsa-font.woff?lvvmfz') format('woff'),
    url('assets/fonts/fsa-font.svg?lvvmfz#fsa-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fsa-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fsa-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: '\e900';
}
.icon-auto:before {
  content: '\e903';
}
.icon-event:before {
  content: '\e904';
}
.icon-house:before {
  content: '\e905';
}
.icon-key:before {
  content: '\e906';
}
.icon-plane:before {
  content: '\e907';
}
.icon-envelope-open:before {
  content: '\e90e';
}
.icon-credit-card:before {
  content: '\e913';
}
.icon-edit:before {
  content: '\e914';
}
.icon-envelope:before {
  content: '\e915';
}
.icon-file:before {
  content: '\e917';
}
.icon-list-alt:before {
  content: '\e91c';
}
.icon-map-marker:before {
  content: '\e91e';
}
.icon-selected-item:before {
  content: '\e921';
}
.icon-ok:before {
  content: '\e922';
}
.icon-remove:before {
  content: '\e925';
}
.icon-triangle-bottom:before {
  content: '\e928';
}
.icon-unchecked:before {
  content: '\e929';
}
.icon-card-verify:before {
  content: '\e92a';
}
.icon-payment-cards:before {
  content: '\e92b';
}
.icon-review:before {
  content: '\e92c';
}
.icon-shield:before {
  content: '\e92d';
}
.icon-attachment:before {
  content: '\e92e';
}
.icon-external-link:before {
  content: '\e92f';
}
.icon-person:before {
  content: '\e901';
}
