@import 'theme';

:root {
    @each $color, $value in $fsa-colors {
      --cx-g-color-#{$color}: #{$value};
    }

    --cx-g-h1-font-size: #{$h1-font-size};
    --cx-g-h2-font-size: #{$h2-font-size};
    --cx-g-h3-font-size: #{$h3-font-size};
    --cx-g-h4-font-size: #{$h4-font-size};
    --cx-g-h5-font-size: #{$h5-font-size};
    --cx-g-h6-font-size: #{$h6-font-size};
    --cx-g-title-font-size: #{$title-font-size};
    --cx-g-text-font-size: #{$font-size-base};

    --cx-g-font-weight-light: #{$font-weight-light};
    --cx-g-font-weight-normal: #{$font-weight-normal};
    --cx-g-font-weight-semi: #{$font-weight-semi};
    --cx-g-font-weight-bold: #{$font-weight-bold};
}