<h2>{{ 'b2b.notAssigned' | cxTranslate }}</h2>
<ng-container
  *ngIf="availableProductAssignments$ | async as availableProductAssignments"
>
  <div class="card-row container">
    <div class="row">
      <div
        class="single-card col-4"
        *ngFor="let availableProductAssignment of availableProductAssignments"
      >
        <fsa-product-assignment-item
          [productAssignment]="availableProductAssignment"
          [orgUnitId]="orgUnitId"
        >
        </fsa-product-assignment-item>
      </div>
    </div>
  </div>
</ng-container>
