<ng-container *ngIf="productAssignments$ | async as productAssignments">
  <ng-container *ngIf="productAssignments.length > 0">
    <h2>{{ 'b2b.selectProducts' | cxTranslate }}</h2>
    <div class="card-row container">
      <div class="row">
        <div
          class="single-card col-md-4 col-6"
          *ngFor="let productAssignment of productAssignments"
        >
          <div
            class="add-remove active"
            (click)="onDeassign(productAssignment.code)"
          ></div>
          <ul>
            <li>{{ productAssignment.product?.name }}</li>
            <li>
              {{ productAssignment.product?.defaultCategory?.name }}
            </li>
            <li>{{ productAssignment.active }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container
  *ngIf="availableProductAssignments$ | async as availableProductAssignments"
>
  <ng-container *ngIf="availableProductAssignments.length > 0">
    <h2>{{ 'b2b.notAssigned' | cxTranslate }}</h2>
    <div class="card-row container">
      <div class="row">
        <div
          class="single-card col-md-4 col-6"
          *ngFor="let availableProductAssignment of availableProductAssignments"
        >
          <div
            class="add-remove"
            (click)="onAssign(availableProductAssignment.product?.code)"
          ></div>
          <ul>
            <li>{{ availableProductAssignment.product?.name }}</li>
            <li>
              {{ availableProductAssignment.product?.defaultCategory?.name }}
            </li>
            <li>{{ availableProductAssignment.active }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
