%cx-fs-policy-details,
%cx-fs-claim-details {
  width: 100%;
  .overview-section {
    color: var(--cx-color-secondary);
    font-size: $h4-font-size;
    text-align: center;
    position: relative;
    .image-wrapper {
      @include vertical-center;
      left: 0;
      background-color: transparent;
      width: 46px;
      height: 46px;
    }
    &-title {
      display: block;
      color: var(--cx-color-text);
      font-weight: var(--cx-font-weight-semi);
      @include media-breakpoint-down(md) {
        line-height: 30px;
        width: 70%;
        margin: 0 auto;
      }
    }
    &-value {
      display: block;
      color: var(--cx-color-text);
      padding-bottom: 10px;
      font-weight: var(--cx-font-weight-semi);
      @include media-breakpoint-down(md) {
        font-size: $h5-font-size;
      }
    }
    &-link {
      @include vertical-center;
      right: 0;
      background: transparent;
      color: var(--cx-color-secondary);
    }
  }
  .content-box {
    text-align: center;
    background-color: var(--cx-color-1);
    border-radius: 5px;
    padding: 20px 0;
    margin: 0 4% 70px;
    @include fs-box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
    @include media-breakpoint-down(sm) {
      padding: 25px 0 20px;
    }
    .content-box-info {
      margin: 20px 0 10px;
      font-weight: var(--cx-font-weight-semi);
      font-size: var(--cx-h6-font-size);
    }
  }
  .documents {
    .value {
      @include media-breakpoint-down(xs) {
        padding: 0 15px;
      }
    }
  }
}
