@import '../../theme/fs/variables';

%cx-fs-premium-calendar {
  .container-fluid {
    @include media-breakpoint-down(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.25rem;
    }
    @include media-breakpoint-down(sm) {
      grid-template-columns: 100%;
      grid-gap: 3rem;
    }
    .row {
      @include media-breakpoint-down(md) {
        display: grid;
        place-items: center;
        margin: 0;
      }
    }
    .accordion + .col {
      padding: 1.25rem 0.94rem;
      height: 6.125rem;
      font-size: var(--cx-h6-font-size);
      color: var(--cx-color-6);
    }
  }
  .premium-data-row {
    padding: 1.625rem 0;
    @include media-breakpoint-down(md) {
      padding: 0;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 50% 6.125rem 6.125rem;
      background-color: var(--cx-color-1);
      border-radius: 0.625rem 0.625rem 0 0;
    }
    .col:first-child,
    .col:nth-child(2) {
      @include media-breakpoint-down(md) {
        grid-column: 1 / 3;
        font-size: var(--cx-h6-font-size);
        color: var(--cx-color-6);
      }
    }
    .col:first-child {
      @include media-breakpoint-down(md) {
        @include linear-gradient-background(
          var(--cx-color-7),
          var(--cx-color-primary),
          30%,
          100%
        );
        border-radius: 0.625rem 0.625rem 0 0;
        background-color: var(--cx-color-7);
      }
      .col-4 {
        @include media-breakpoint-down(md) {
          display: grid;
        }
      }
      .col-lg-8 {
        @include media-breakpoint-down(md) {
          font-size: var(--cx-h5-font-size);
          color: var(--cx-color-1);
        }
      }
    }
    .icon-triangle-bottom {
      position: absolute;
      right: 5%;
      top: 5%;
      @include fs-transition;
      &.rotate {
        transform: translateY(-5%) rotateZ(180deg);
        -webkit-transform: translateY(-5%) rotateZ(180deg);
      }
    }
  }
  .notice {
    @include media-breakpoint-down(md) {
      display: grid;
      font-size: var(--cx-h6-font-size);
      font-weight: $font-weight-semi;
    }
    h5 {
      @include media-breakpoint-down(md) {
        color: var(--cx-color-6);
      }
    }
    .icon-triangle-bottom {
      @include media-breakpoint-down(md) {
        color: var(--cx-color-6);
        @include vertical-center;
      }
      &.rotate {
        transform: translateY(-50%) rotateZ(180deg);
        -webkit-transform: translateY(-50%) rotateZ(180deg);
      }
    }
  }
  .accordion {
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 400ms max-height;
    &.opened {
      max-height: 37.5rem;
      transition: ease-in-out 600ms max-height;
    }
    .container-fluid {
      @include media-breakpoint-down(md) {
        grid-gap: 0;
      }
    }
    .row {
      padding: 0.75rem 0;
      @include media-breakpoint-down(md) {
        grid-column: 1 / span 3;
      }
      .col {
        @include media-breakpoint-down(md) {
          font-size: var(--cx-h6-font-size);
          color: var(--cx-color-6);
        }
      }
      .color-dot {
        @include media-breakpoint-down(md) {
          grid-row: 1;
        }
      }
    }
  }
}
