<ng-container *ngIf="(isCartStable$ | async) && (cart$ | async) as cart">
  <ng-container *ngIf="cart.insuranceQuote?.state?.code !== 'BIND'">
    <div class="cx-cart-coupon-title pt-4 pb-1">
      {{ 'miniCart.voucherCode' | cxTranslate }}
    </div>
    <div class="form-group">
      <form [formGroup]="couponForm">
        <div class="cx-cart-coupon-container row">
          <div class="col-6">
            <input
              type="text"
              class="form-control input-coupon-code"
              formControlName="couponCode"
            />
          </div>
          <div class="col-6">
            <button
              (click)="applyVoucher()"
              class="primary-button btn-block"
              type="button"
              [disabled]="cartIsLoading$ | async"
              [class.disabled]="cartIsLoading$ | async"
            >
              {{ 'voucher.apply' | cxTranslate }}
            </button>
          </div>
        </div>
        <cx-form-errors
          [control]="couponForm.get('couponCode')"
        ></cx-form-errors>
      </form>
    </div>
    <ng-container *ngIf="cart.appliedVouchers?.length > 0">
      <div class="cx-cart-coupon-title pt-4 pb-1">
        {{ 'voucher.vouchersApplied' | cxTranslate }}
      </div>
      <cx-applied-coupons
        [vouchers]="cart.appliedVouchers"
        [cartIsLoading]="cartIsLoading$ | async"
        [isReadOnly]="false"
      >
      </cx-applied-coupons>
    </ng-container>
  </ng-container>
</ng-container>
