<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div [ngClass]="formComponent?.wrapperClass">
    <label [ngClass]="formComponent?.labelClass">
      <ng-container *ngIf="!config.required">
        {{ 'forms.optional' | cxTranslate }}
      </ng-container>
      {{ config.label }}
    </label>
    <input
      [ngClass]="formComponent?.elementClass + ' ' + config.cssClass"
      type="time"
      [formControlName]="config.name"
      [attr.name]="config.name"
    />
  </div>
  <cx-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
    [errorWrapperClass]="formComponent?.errorWrapperClass"
    [errorClass]="formComponent?.errorClass"
    [errorMessageClass]="formComponent?.errorMessageClass"
  ></cx-error-notice>
</div>
