<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div [ngClass]="formConfig.dynamicForms.cssClass.inputWrapper">
    <label [ngClass]="formConfig.dynamicForms.cssClass.label">{{
      config.label
    }}</label>
    <input
      [ngClass]="formConfig.dynamicForms.cssClass.input"
      type="time"
      [formControlName]="config.name"
      [attr.name]="config.name"
    />
  </div>
  <cx-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-error-notice>
</div>
