<ng-container *ngIf="component.data$ | async as data">
  <div *ngIf="configStyles?.textBox" class="enriched-banner">
    <div class="image-wrapper">
      <cx-media [container]="data.media"></cx-media>
    </div>
    <div
      class="enriched-banner-text"
      [ngStyle]="bannerStyles"
      [ngClass]="bannerClasses"
    >
      <span
        *ngIf="configStyles?.textBoxTitle"
        [ngClass]="
          configStyles?.textBoxType === 'box' ? 'box-title' : 'strip-title'
        "
        class="enriched-banner-title"
        >{{ data.headingText }}</span
      >
      <span
        *ngIf="configStyles?.textBoxDetails"
        [ngClass]="
          configStyles?.textBoxType === 'box'
            ? 'enriched-banner-details-box'
            : 'enriched-banner-details-strip'
        "
      >
        <a
          [class.enriched-banner-styled-text]="
            configStyles?.textBoxType === 'strip'
          "
          [routerLink]="data.urlLink"
        >
          {{ data.styledText }}</a
        >
      </span>
    </div>
  </div>
</ng-container>
