<ng-container *ngIf="component.data$ | async as data">
  <div class="enriched-banner">
    <div class="image-wrapper">
      <cx-media [container]="data.media"></cx-media>
    </div>
    <div class="enriched-banner-text">
      <span class="enriched-banner-title">{{ data.headingText }}</span>
      <span class="enriched-banner-details">
        <a class="enriched-banner-styled-text" [routerLink]="data.urlLink">
          {{ data.styledText }}</a
        >
      </span>
    </div>
  </div>
</ng-container>
