<div class="cx-section container">
  <ng-container
    *ngIf="
      (addresses$ | async).length &&
      !(showAddAddressForm || showEditAddressForm)
    "
  >
    <div
      class="row cx-address-deck"
      *ngIf="!(addressesStateLoading$ | async); else loading"
    >
      <div
        *ngFor="let address of addresses$ | async"
        class="col-md-6 cx-address-card cx-payment-card"
      >
        <cx-card
          [border]="true"
          [fitToContainer]="true"
          [content]="getCardContent(address) | async"
          (editCard)="editAddressButtonHandle(address)"
          (setDefaultCard)="setAddressAsDefault(address.id)"
          (deleteCard)="setEdit(address.id)"
          [editMode]="address.id === editCard"
          (cancelCard)="cancelCard()"
        ></cx-card>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!(addresses$ | async).length || showAddAddressForm">
    <section>
      <cx-fs-address-form
        class="cx-form"
        showTitleCode="true"
        [showCancelBtn]="!((addresses$ | async).length === 0)"
        [user]="user$ | async"
        [actionBtnLabel]="'addressBook.addAddress' | cxTranslate"
        [cancelBtnLabel]="'common.back' | cxTranslate"
        [setAsDefaultField]="true"
        (submitAddress)="addAddressSubmit($event)"
        (backToAddress)="addAddressCancel()"
        (cancelCard)="cancelCard()"
      ></cx-fs-address-form>
    </section>
  </ng-container>

  <ng-container *ngIf="showEditAddressForm">
    <section>
      <cx-fs-address-form
        class=""
        showTitleCode="true"
        [user]="user$ | async"
        [actionBtnLabel]="'addressBook.updateAddress' | cxTranslate"
        [cancelBtnLabel]="'common.back' | cxTranslate"
        [addressData]="currentAddress"
        (submitAddress)="editAddressSubmit($event)"
        (backToAddress)="editAddressCancel()"
      ></cx-fs-address-form>
    </section>
  </ng-container>
</div>

<ng-template #loading>
  <div class="col-md-12 cx-address-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
