<h3>Search Results</h3>
<ng-container *ngIf="searchResults | async as results">
  <ng-container *ngIf="results.pagination as pagination">
    <cx-pagination
      *ngIf="pagination"
      [pagination]="pagination"
      (viewPageEvent)="pageChange($event)"
    ></cx-pagination>
    Total results: {{ pagination.totalCount }}
  </ng-container>
  <div class="row">
    <div class="agent-list col-6">
      <ng-container *ngFor="let agent of results.agents">
        <div class="agent-list-item col-6" (click)="showDetails(agent)">
          <cx-media
            class="cx-product-image-container"
            [container]="agent.thumbnail"
            format="thumbnail"
          ></cx-media>
          {{ agent.displayName }}<br />
          <ng-container *ngIf="agent.pointsOfService">
            <ng-container *ngFor="let pos of agent.pointsOfService">
              {{ pos.displayName }} {{ pos.address?.line1 }} -
              {{ pos.formattedDistance }}<br />
            </ng-container>
            {{ agent.pointsOfService[0]?.address?.town }}
            <br />
          </ng-container>

          {{ 'fscommon.agentLocator.categories' | cxTranslate }}:
          <div
            class="agent-categories"
            *ngFor="let category of agent.categories"
          >
            {{ category.name }}
          </div>
          <button
            class="secondary-button btn-block"
            [routerLink]="
              {
                cxRoute: 'contactAgent',
                params: { agent: agent.contactEmail }
              } | cxUrl
            "
          >
            {{ 'fscommon.agentLocator.contact' | cxTranslate }}
          </button>
        </div>
      </ng-container>
    </div>
    <div
      class="col-6"
      style="max-height: 300px;"
      *ngIf="selectedAgent$ | async as selectedAgent"
    >
      <ng-container
        *ngTemplateOutlet="
          agentMap;
          context: {
            agent: selectedAgent
          }
        "
      >
      </ng-container>
    </div>
    <div
      class="col-6"
      style="max-height: 300px;"
      *ngIf="!selectedAgent$ && results && results.agents[0]"
    >
      <ng-container
        *ngTemplateOutlet="
          agentMap;
          context: {
            agent: results.agents[0]
          }
        "
      >
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #agentMap let-agent="agent">
  <cx-store-finder-map
    [locations]="agent.pointsOfService"
  ></cx-store-finder-map>
</ng-template>
