.accordion {
    &--heading {
        color: $color-white;
        font-weight: 500;
        margin-bottom: 0;
        cursor: pointer;
        padding: 0 60px;
    }
    &-item {
        margin-top: 40px;
        border: $border-grey;
    }
    &--list-item {
        border-bottom: 1px solid $color-grey;
        padding: 14px 0; 
        &:last-child {
            border-bottom: none;
        }
    }
    .value {
        @include media-breakpoint-down(xs) {
          text-align: right;
        }
    }
    &-item--wrapper {
        transition: opacity 0.5s ease-out;
        opacity: 0; 
        height: 0;
        overflow: hidden;
        &.active {
            padding: 30px 46px 20px;
            opacity: 1;
            height: auto;
            @include media-breakpoint-down(xs) {
                padding: 25px 0 20px;
            }
        }
    }
    .contact-box {
        text-align: center;
		background-color: $color-white;
		border-radius: 5px;
		@include box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
		padding: 20px 0;
		margin: 0 4% 70px;
		@include media-breakpoint-down(sm) {
			padding: 25px 0 20px;
        }
        .contact-info {
            margin: 20px 0 10px; 
            font-weight: 600;
            font-size: 16px;
        }
    }   
}
// Povides simple transition effect when toggling 'opened' class
.simple-accordion {
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 400ms max-height;
    &.opened {
        max-height: 600px;
        transition: ease-in-out 600ms max-height;
    }
}