.accordion {
    &-header__summary-line-text {
        @include media-breakpoint-up(md) {
            text-align: left;
          }
    }
    .image-wrapper {
        width: 30px;
        height: 30px;
        padding: 2px;
    }
    &--heading {
        color: var(--cx-g-color-text);
        background: var(--cx-g-color-4);
        border-top: 5px solid var(--cx-g-color-primary);
        font-weight: 600;
        line-height: 1.6;
        margin-bottom: 0;
        padding: 8px 60px 12px;
        @include accordion-status();
        &:before, &:after {
            background-color: var(--cx-g-color-text);
        }
        &.active {
            &:before, &:after {
                background-color: var(--cx-g-color-primary);
            }
        }
    }
    &-item {
        margin-top: 20px;
        border: $border-grey;
        border-top: none;
        box-shadow: 0px 8px 6px -6px var(--cx-g-color-3);
        position: relative;
        .FSA-icon {
            position: absolute;
            left: 20px;
            top: 23px;
            z-index: 2;
        }
    }
    &--list{
        padding: 0 8%;
        &-item  {
            border-bottom: 1px solid var(--cx-g-color-3);
            padding: 14px 0;
            margin: 0;
            &:last-child {
                border-bottom: none;
            }
            .item-label {
                padding-left: 30px;
                &::before {
                    display: block;
                    content: '';
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    background-color: var(--cx-g-color-primary);
                    border-radius: 50%;
                    left: 10px;
                    top: 8px;
                }
            }
        }
    }
    .value {
        @include media-breakpoint-down(xs) {
          text-align: right;
        }
    }
    &-item--wrapper {
        display: flex;
        transition: all 0.5s ease-in-out;
        max-height: 0;
        overflow: hidden;
        &.active {
            padding: 40px 0;
            max-height: 1200px;
        }
    }
    .contact-box {
        text-align: center;
		background-color: var(--cx-g-color-1);
		border-radius: 5px;
		@include box-shadow(0px, 0px, 9px, 1px, var(--cx-g-color-text), 0.3);
		padding: 20px 0;
		margin: 0 4% 70px;
		@include media-breakpoint-down(sm) {
			padding: 25px 0 20px;
        }
        .contact-info {
            margin: 20px 0 10px; 
            font-weight: 600;
            font-size: 16px;
        }
    }   
}