.info-card {
  border: $border-grey;
  border-radius: 15px 15px 0 0;
  text-align: center;
  margin: 20px auto 20px;
  position: relative;
  display: block;
  .color-primary {
    color: var(--cx-g-color-primary);
  }
  .color-secondary {
    color: var(--cx-g-color-secondary);
  }
  .border-bottom-primary {
    border-bottom-color: var(--cx-g-color-primary);
  }
  .border-bottom-secondary {
    border-bottom-color: var(--cx-g-color-secondary);
  }
  .border-top-primary {
    border-top-color: var(--cx-g-color-primary);
  }
  .border-top-secondary {
    border-top-color: var(--cx-g-color-secondary);
  }
}
.info-card-title {
  background-color: var(--cx-g-color-5);
  border-radius: 15px 15px 0 0;
  border-bottom: 4px solid;
  padding: 20px 0;
  & > * {
    margin-top: 15px;
  }
  .gradient-background {
    @include linear-gradient-background(
      var(--cx-g-color-primary),
      var(--cx-g-color-9), 50%, 100%);
  }
  .image-wrapper {
    background-color: transparent;
    width: 70px;
    height: auto;
    padding: 0;
  }
}
.info-card-caption {
  font-weight: bold;
}
.info-card-details-wrapper {
  .info-card-data {
    padding: 20px 0;
    &:nth-of-type(even) {
      background-color: var(--cx-g-color-5);
    }
    .title {
      display: block;
      font-weight: 600;
    }
  }
  &--grey {
    background-color: var(--cx-g-color-4);
    .info-card-data {
      &:nth-of-type(even) {
        background-color: var(--cx-g-color-4);
      }
    }
  }
}
.info-card-button-wrapper {
  border-top: 1px solid;
}
.info-card-button {
  margin: 0 auto;
  padding: 40px;
  max-width: 260px;
  [disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
.account-cards-actions {
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 14px;
  .action-links {
      color: var(--cx-g-color-primary);
  }
}