@import '../mixins-fsa';
@import '../theme';

.checkbox-label {
	display: block;
	position: relative;
	input {
		display: none;
	}
	input:checked ~ .checkbox-text:before {
		color: var(--cx-color-2);
	}
	.checkbox-text {
		line-height: 1;
		color: var(--cx-color-3);
		cursor: pointer;
		text-transform: none;
		font-size: 15px;
		&:before {
			@include transition;
			background: var(--cx-color-1);
			font-size: 11px;
			font-weight: bold;
			position: absolute;
			padding: 0 0 1px 1px;
			top: 0;
			left: 0;
			height: 18px;
			width: 18px;
			line-height: 1.2;
			border: 2px solid var(--cx-color-3);
			border-radius: 3px;
			color: transparent;
		}
	}
}
.form-check input[type=checkbox]:checked {
	border-color: var(--cx-color-primary);
	background-color: var(--cx-color-primary);
}