fsa-form-component {
  .form {
    background-color: var(--cx-color-4);
    border: 1px solid var(--cx-color-3);
    padding: 2rem 2vw;
  }
  .dynamic-field {
    margin: 20px 0;
    label {
      padding-right: 2rem;
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
    input,
    select {
      border: 1px solid var(--cx-color-3);
      border-radius: 4px;
      background-color: var(--cx-color-1);
      padding: 10px;
      &:disabled {
        cursor: not-allowed;
        background-color: var(--cx-color-5);
      }
    }
    &.form-title {
      border-top: 1px solid var(--cx-color-3);
      margin-top: 2rem;
      h4 {
        padding-top: 2rem;
        font-size: var(--cx-h6-font-size);
      }
    }
  }
  fsa-form-title:first-of-type {
    .form-title {
      margin-top: 0;
      border-top: none;
    }
  }
  .primary-button {
    margin-top: 2rem;
  }
}
// Global form errors and warnings
.ng-invalid.ng-touched {
  border-color: var(--cx-color-danger);
  &:focus {
    outline-color: var(--cx-color-danger);
  }
}
.form-text {
  color: var(--cx-color-danger);
}
