@import '../mixins-fsa';

ul {
  list-style: none;
  padding: 0;
}
.fs-items {
  .fs-item {
    background-color: var(--cx-g-color-4);
    margin-bottom: 10px;
    position: relative;
    &-data-container {
      display: flex;
      padding: 20px;
      align-items: center;
      &:hover {
        @include transition();
        color: var(--cx-g-color-1);
        background-color: var(--cx-g-color-primary);
        .expired {
          color: var(--cx-g-color-1);
        }
      }
      &.background-hover-secondary {
          &:hover {
              background-color: var(--cx-g-color-secondary);
          }
      }
      .image-wrapper {
        flex: 0 0 auto;
        width: 60px;
        height: 60px;
        padding: 4px;
      }
    }
    &-wrapper {
      font-size: $h6-font-size;
      display: flex;
      flex: 0 1 60%;
      flex-direction: column;
      padding: 0px 20px;
    }
    &-add-infos {
        flex: 0 1 40%;
        text-align: right;
    }
  }
  .empty-block {
    .title {
      text-align: center;
      margin-bottom: 1rem;
    }
    .content {
      color: var(--cx-g-color-text);
      background-color: var(--cx-g-color-4);
      font-size: $h6-font-size;
      text-align: center;
      padding: 20px;
      margin: 0 auto;
    }
  }
}