@import '../mixins-fsa';

ul {
  list-style: none;
  padding: 0;
}
.fs-items {
  .fs-item {
    background-color: var(--cx-color-4);
    margin-bottom: 10px;
    position: relative;
    a {
      color: var(--cx-color-text);
    }
    &-data-container {
      display: flex;
      padding: 20px;
      align-items: center;
      &:hover {
        @include transition();
        color: var(--cx-color-1);
        background-color: var(--cx-color-primary);
        .expired {
          color: var(--cx-color-1);
        }
      }
      &.background-hover-secondary {
        &:hover {
          background-color: var(--cx-color-secondary);
        }
      }
    }
    &-wrapper {
      font-size: $h6-font-size;
      display: flex;
      flex: 0 1 60%;
      flex-direction: column;
      padding: 0px 20px;
    }
    &-add-infos {
      flex: 0 1 40%;
      text-align: right;
    }
  }
}
