@import '../mixins-fsa';
@import '../theme';

.policy-spec {
  &.account-section-content__headline {
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 36px;
    color: var(--cx-g-color-secondary);
    position: relative;
    @include media-breakpoint-down(md) {
        margin-top:0px;
    }
    .images__wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left:0;
      background-color: transparent;
      width: 46px;
      height: 46px;
    }
  }
  .account-section-content__headline {
    &--title {
      display: block;
      color: var(--cx-g-color-text);
      font-size: 22px;
      font-weight: 600;
      @include media-breakpoint-down(md) {
        font-size:22px;
        line-height:30px;
        width: 70%;
          margin: 0 auto;
      }
    }
    &--number {
      display: block;
      font-size: 22px;
      border-bottom: $border-grey;
        color: var(--cx-g-color-text);
        padding-bottom: 10px;
        font-weight: 600;
      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }
    &--back {
      top: 50%;
      right: 48px;
      position: absolute;
      transform: translateY(-50%);
      background: transparent;
      color: var(--cx-g-color-secondary);
      &:before {
        @include transition;
        float: right;
        font-size: 20px;
      }
      @include media-breakpoint-down(md) {
        right: 11px;
      }
    }
  }
}
