@import '../mixins-fsa';
@import '../theme';

.modal-content {
    border-radius: 5px;
    margin: 30px;
    .popup-content-wrapper {
        padding: 30px;
    }
    .close {
        width: 28px;
        height: 28px;
        position: relative;
        border: 3px solid var(--cx-g-color-text);
        border-radius: 50%;
        &:before {
            content: '+';
            position: absolute;
            transform: rotate(45deg);
            top: -4px;
            left: 4px;
            font-size: $h1-font-size;
            font-weight: $font-weight-bold;
            color: var(--cx-g-color-text);
            line-height: 1;
            overflow: hidden;
        } 
        &:hover{
            border-color: var(--cx-g-color-primary); 
            &:before {
                color: var(--cx-g-color-primary);
            }
        }
    }
}
