@import '../mixins-fsa';
@import '../variables-fsa';
@import '~bootstrap/scss/mixins/breakpoints';

ul[role='tablist'].nav-tabs {
    border-bottom: $border-grey;
    @include media-breakpoint-down(sm) {
        display: block;
    }
    .nav-item .nav-link {
        background-color: $color-dark-grey;
        color: $color-white;
        margin-right: 3px;
        &.active {
            background-color: $color-light-grey;
            color: $color-dark-grey;
            border: $border-grey;
            border-bottom: none;
        }
        @include media-breakpoint-down(sm) {
            border-radius: 0;
            margin-right: 0;
        }
    }
}
.hide-tab-heading {
    .nav-item {
        display: none;
    }
}