@import '../mixins-fsa';
@import '../theme';
@import '~bootstrap/scss/mixins/breakpoints';

ul[role='tablist'].nav-tabs {
    border-bottom: $border-grey;
    @include media-breakpoint-down(xs) {
        display: block;
    }
    .nav-item .nav-link {
        background-color: var(--cx-g-color-text);
        color: var(--cx-g-color-1);
        margin-right: 3px;
        &.active {
            background-color: var(--cx-g-color-4);
            color: var(--cx-g-color-text);
            border: $border-grey;
            border-bottom: none;
        }
        @include media-breakpoint-down(xs) {
            border-radius: 0;
            margin-right: 0;
        }
    }
}
.hide-tab-heading {
    .nav-item {
        display: none;
    }
}