@import '../mixins-fsa';
@import '../variables-fsa';

.fsa-tooltip {
    background-color: $color-dark-blue;
    color: $color-white;
    cursor: pointer;
    font-style: italic;
    text-align: center;
    width: 20px;
    height: 20px;
    font-weight: 600;
    border-radius: 50%;
  }
  .tooltip {
    .tooltip-inner {
      width: 200px;
      background-color: $color-button-secondary-hover;
      opacity: 0.95;
      border-radius: 6px;
    }
  }