<h2 class="heading-headline">{{ 'fscommon.applications' | cxTranslate }}</h2>
<ng-container *ngIf="quotes$ | async as quotes">
  <ng-container *ngIf="quotesLoaded$ | async; else loading">
    <div class="row" *ngIf="quotes?.insuranceQuotes?.length > 0; else noQuotes">
      <div *ngFor="let quote of quotes.insuranceQuotes" class="col-md-4">
        <div class="info-card border-bottom-primary">
          <div class="info-card-title border-bottom-primary">
            <span class="image-wrapper">
              <img
                class="image-item"
                [src]="getBaseUrl() + quote.defaultCategory.image?.url"
                alt=""
              />
            </span>
            <h3 class="info-card-caption color-primary">
              {{ quote.defaultCategory?.name }}
            </h3>
          </div>
          <div class="info-card-details-wrapper">
            <div class="info-card-data">
              <span class="title">{{ quote.planName }}</span>
              <span class="value">{{ quote.quoteId }}</span>
            </div>
            <div class="info-card-data">
              <span class="title">{{
                'quote.quoteStatus.title' | cxTranslate
              }}</span>
              <ng-container *ngIf="!quote.isExpired; else expired">
                <span *ngIf="quote.state.code === 'BIND'" class="value">
                  {{ 'quote.quoteStatus.ready' | cxTranslate }}
                </span>
                <span *ngIf="quote.state.code === 'UNBIND'" class="value">
                  {{ 'quote.quoteStatus.unfinished' | cxTranslate }}
                </span>
              </ng-container>
            </div>
            <div class="info-card-data">
              <span class="title">{{
                'fscommon.expiryDate' | cxTranslate
              }}</span>
              <span *ngIf="quote.expiryDate" class="value">{{
                quote.expiryDate | cxDate: 'dd MMM yyyy'
              }}</span>
              <span *ngIf="!quote.expiryDate" class="value">{{
                'fscommon.expiryNotConfirmed' | cxTranslate
              }}</span>
            </div>
            <div class="info-card-data">
              <span class="title">{{ 'fscommon.price' | cxTranslate }}</span>
              <span class="value"
                >{{ quote.quotePrice }} / {{ quote.paymentFrequency }}</span
              >
            </div>
          </div>
          <div class="info-card-button-wrapper border-top-primary">
            <button
              class="primary-button col-6 my-5"
              [disabled]="quote.isExpired"
              (click)="retrieveQuote(quote)"
            >
              {{ 'fscommon.retrieve' | cxTranslate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #noQuotes>
  <h3>{{ 'quote.youHaveNoQuotes' | cxTranslate }}!</h3>
</ng-template>
<ng-template #expired>
  <span class="value">
    {{ 'quote.quoteStatus.expired' | cxTranslate }}
  </span>
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
