<ng-container *ngIf="comparisonPanel | async as panel">
  <ng-container *ngIf="billingData | async as billingInfo">
    <div class="fixed-column">
      <div class="table-header"></div>
      <div class="table-cell-wrapper">
        <div *ngFor="let item of billingInfo.billingTimes" class="table-cell">
          <span class="table-cell-title text-truncate" title="{{ item.name }}">
            {{ item.name }}
          </span>
          <div
            class="fs-tooltip"
            tooltipClass="ct-tooltip"
            ngbTooltip="{{ item.helpContent }}"
            triggers="click:blur"
            placement="top"
          >
            i
          </div>
        </div>
      </div>
    </div>
    <div class="slide-column-wrapper">
      <div class="slide-column">
        <ng-container *ngIf="comparisonPanel | async as panel">
          <ng-container *ngFor="let productCode of getProductList()">
            <ng-container *ngIf="productCode">
              <cx-fs-comparison-table-panel-item
                [productCode]="productCode"
                [billingTimes]="billingInfo.billingTimes"
                [pricingData]="pricingData"
              ></cx-fs-comparison-table-panel-item>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
