<ng-container *ngIf="comparisonPanel$ | async as panel">
  <ng-container *ngIf="billingData$ | async as billingInfo">
    <div class="fixed-column">
      <div class="table-header text-center mb-0">
        <ng-container *ngIf="(user$ | async)?.uid">
          <cx-fs-sync-pilot-connection-component></cx-fs-sync-pilot-connection-component>
        </ng-container>
      </div>
      <div class="table-cell-wrapper">
        <div
          *ngFor="let item of billingInfo.billingTimes"
          class="table-cell"
          #tableCell
        >
          <span class="table-cell-title text-uppercase" title="{{ item.name }}">
            {{ item.name }}
          </span>
          <div
            class="fs-tooltip"
            tooltipClass="ct-tooltip"
            ngbTooltip="{{ item.helpContent }}"
            triggers="click:blur"
            placement="top"
          >
            i
          </div>
        </div>
      </div>
    </div>
    <div class="slide-column-wrapper">
      <div class="slide-column">
        <ng-container *ngIf="comparisonPanel$ | async as panel">
          <ng-container *ngFor="let productCode of panel.products.split(' ')">
            <ng-container *ngIf="productCode">
              <cx-fs-comparison-table-panel-item
                *ngIf="pricingData$ | async as pricing; else loading"
                [productCode]="productCode"
                [billingTimes]="billingInfo.billingTimes"
                [pricingData]="pricing"
              ></cx-fs-comparison-table-panel-item>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
