<ng-container *ngIf="group">
  <div class="dynamic-field" [formGroup]="group" [hidden]="config.hidden">
    <label class="col-form-label">
      {{ label }}
      <ng-container *ngIf="!config.required">
        {{ 'forms.optional' | cxTranslate }}
      </ng-container>
    </label>
    <div class="form-check">
      <div
        [formArrayName]="config.name"
        *ngFor="let option of config.options; let i = index"
      >
        <input
          class="form-check-input"
          type="checkbox"
          [attr.name]="option.name"
          [attr.id]="option.name"
          [formControlName]="[i]"
          (change)="checkCheckbox($event, option.name, i)"
        />
        <label class="pl-3 pt-1" [attr.for]="option.name"
          ><ng-container *ngIf="activeLang$ | async as activeLang">
            {{ getLocalizedOption(option.label, activeLang) }}
          </ng-container></label
        >
      </div>
    </div>
    <cx-error-notice
      [warn]="group.controls[config.name]"
      [parentConfig]="config"
    ></cx-error-notice>
  </div>
</ng-container>
