<ng-container *ngIf="group">
  <div
    class="dynamic-field"
    [formGroup]="group"
    [hidden]="group.controls[config.name]?.disabled || config.hidden"
  >
    <label class="col-form-label">
      {{ label }}
      <ng-container *ngIf="!config.required">
        {{ 'forms.optional' | cxTranslate }}
      </ng-container>
    </label>
    <div class="form-check">
      <div
        [formArrayName]="config.name"
        *ngFor="let option of config.options; let i = index"
      >
        <ng-container *ngIf="selectedItems as checkedItems">
          <ng-container
            *ngFor="let selectedItem of checkedItems; let j = index"
          >
            <ng-container *ngIf="i === j">
              <input
                class="form-check-input"
                type="checkbox"
                [attr.name]="config.name"
                [attr.id]="option.name"
                [formControlName]="[i]"
                (change)="checkCheckbox($event, option.name, i)"
              />
            </ng-container>
          </ng-container>
        </ng-container>
        <label class="pl-3 pt-1" [attr.for]="option.name"
          ><ng-container *ngIf="activeLang$ | async as activeLang">
            {{ getLocalizedOption(option.label, activeLang) }}
          </ng-container></label
        >
      </div>
    </div>
    <cx-error-notice
      [warn]="group.controls[config.name]"
      [parentConfig]="config"
    ></cx-error-notice>
  </div>
</ng-container>
