<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <label class="col-form-label">
    <ng-container *ngIf="!config.required">
      {{ 'forms.optional' | cxTranslate }}
    </ng-container>
    {{ label }}
  </label>
  <div class="form-check">
    <div *ngFor="let option of config.options">
      <input
        class="form-check-input"
        type="checkbox"
        [attr.name]="option.name"
        [attr.id]="option.name"
        [formControlName]="config.name"
      />
      <label class="pl-3 pt-1" [attr.for]="option.name">{{
        option.label
      }}</label>
    </div>
  </div>
  <cx-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-error-notice>
</div>
