<div class="mt-5 pl-md-3">
  <div class="row d-flex justify-content-end">
    <div class="col-6 pl-3">
      <button
        class="primary-button btn-block"
        routerLink="/agent-locator"
        routerLinkActive="active"
        [disabled]="disableByMatchingUrl('agent-locator')"
      >
        {{ 'fscommon.mapView' | cxTranslate }}
      </button>
    </div>
    <div class="col-6">
      <button
        class="primary-button btn-block pr-3"
        routerLink="/find-agent"
        routerLinkActive="active"
        [disabled]="disableByMatchingUrl('find-agent')"
      >
        {{ 'fscommon.listView' | cxTranslate }}
      </button>
    </div>
  </div>
</div>
