<ng-container *ngIf="customer$ | async as user; else loading">
  <div class="position-relative text-center">
    <ng-container *ngIf="seller">
      <a
        class="h4 vertical-center left z-index-1"
        routerLink="/seller-dashboard"
        routerLinkActive="active"
      >
        <span class="fas fa-arrow-left"></span
      ></a>
    </ng-container>
    <h2 class="heading-headline py-3 mt-3 mb-5 text-center">
      {{
        seller
          ? ('dashboard.customerDashboard' | cxTranslate)
          : ('dashboard.yourDashboard' | cxTranslate)
      }}
    </h2>
  </div>
  <div class="row">
    <div class="col-md-5 mb-5 mb-md-0">
      <div class="box-shadow border border-color-3 overflow-hidden">
        <h5 class="text-center py-3 mb-0">
          {{
            seller
              ? ('dashboard.customerProfile' | cxTranslate)
              : ('dashboard.yourProfile' | cxTranslate)
          }}
        </h5>
        <div #customerProfile class="user-profile-wrapper background-color-4">
          <div
            class="user-profile bg-white border border-color-3 text-center"
            *ngIf="!showAddressForm"
          >
            <div class="user-image">
              <cx-media
                [container]="user.thumbnail"
                format="thumbnail"
                [alt]="user.name"
              ></cx-media>
            </div>
            <h6 class="text-uppercase">
              {{
                seller
                  ? ('dashboard.customerName' | cxTranslate)
                  : ('dashboard.name' | cxTranslate)
              }}
            </h6>
            <h6 class="notice">{{ user.name }}</h6>
            <hr />
            <ul class="text-left mb-0">
              <li class="d-flex justify-content-between align-items-end">
                <span class="semi-bold pr-2"
                  >{{ 'dashboard.email' | cxTranslate }}:</span
                >
                <span class="notice">
                  {{ user.uid }}
                </span>
              </li>
              <ng-container *ngIf="user.contactInfos?.length">
                <li class="d-flex justify-content-between align-items-end">
                  <span class="semi-bold pr-2"
                    >{{ 'fscommon.phoneNumber' | cxTranslate }}:</span
                  >
                  <span class="notice">
                    {{ user.contactInfos[0]?.phoneNumber }}
                  </span>
                </li>
              </ng-container>
              <li class="d-flex justify-content-between align-items-end">
                <span class="semi-bold pr-2"
                  >{{
                    'fscommon.register.dateOfBirth.label' | cxTranslate
                  }}:</span
                >
                <span class="notice">
                  {{
                    user.dateOfBirth
                      ? (user.dateOfBirth | parseDate | date: 'dd MMM yyyy')
                      : ('dashboard.notSet' | cxTranslate)
                  }}
                </span>
              </li>
              <hr />
              <li class="d-flex justify-content-between">
                <span class="semi-bold pr-2"
                  >{{ 'fscommon.register.address.label' | cxTranslate }}:</span
                >
                <dl class="notice" *ngIf="user.defaultAddress; else addAddress">
                  <dt>
                    {{ user.defaultAddress.country.name }}
                  </dt>
                  <dt>
                    {{ user.defaultAddress.line1 }}
                    {{ user.defaultAddress.line2 }}
                  </dt>
                  <dt>
                    {{ user.defaultAddress.town }}
                    {{ user.defaultAddress.postalCode }}
                  </dt>
                  <div class="text-right mt-3">
                    <span class="link" (click)="showUserAddressForm()">
                      {{ 'addressForm.editAddress' | cxTranslate }}
                    </span>
                  </div>
                </dl>
                <ng-template #addAddress>
                  <div class="text-right">
                    <span class="link" (click)="showUserAddressForm()">
                      {{ 'addressBook.addAddress' | cxTranslate }}
                    </span>
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
          <cx-fs-user-change-address-dialog
            *ngIf="showAddressForm"
            [customer]="user"
            [userId]="userId"
            (actionChange)="changedAddress($event)"
          ></cx-fs-user-change-address-dialog>
        </div>
      </div>
    </div>
    <ng-container
      *ngIf="{
        quotes: customerQuotes$ | async,
        policies: customerPolicies$ | async,
        claims: customerClaims$ | async
      } as customerAssets"
    >
      <div class="col-md-7">
        <cx-fs-customer-dashboard
          *ngIf="!showProductOverview; else productOverview"
          (assetListSelected)="showAssetList($event)"
          (productsOverviewSelected)="toggleProductsOverview()"
          [customerAssets]="customerAssets"
          [seller]="seller"
          [assetSelected]="assetSelected"
        >
        </cx-fs-customer-dashboard>
        <ng-template #productOverview>
          <cx-fs-product-overview
            [products$]="filteredProducts$"
            (customerDashboardSelected)="toggleProductsOverview()"
            (typeOfProductsSelected)="productsSelected($event)"
            [productsCount$]="productsCountByCategory$"
          >
          </cx-fs-product-overview>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <cx-fs-assets-table
    *ngIf="assetSelected"
    [assets]="assets"
    [selectedAsset]="assetSelected"
  >
  </cx-fs-assets-table>
</ng-container>

<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
