<ng-container *ngIf="customer$ | async as user; else loading">
  <ng-container
    *ngIf="{
      quotes: customerQuotes$ | async,
      policies: customerPolicies$ | async,
      claims: customerClaims$ | async
    } as customerAssets"
  >
    <div class="row">
      <div class="col-md-5 mb-5">
        <div class="box-shadow border border-color-3">
          <h5 class="text-center py-3 mb-0">
            {{ 'consent.customerProfile' | cxTranslate }}
          </h5>
          <div class="user-profile-wrapper background-color-4">
            <div
              class="user-profile bg-white border border-color-3 text-center"
            >
              <span class="user-image h1 fas fa-user p-3"></span>
              <h6 class="text-uppercase">
                {{ 'consent.customerName' | cxTranslate }}
              </h6>
              <h6 class="notice">{{ user.name }}</h6>
              <hr />
              <ul class="text-left mb-0">
                <li class="d-flex justify-content-between align-items-end">
                  <span class="semi-bold pr-2"
                    >{{ 'dashboard.email' | cxTranslate }}:</span
                  >
                  <span class="notice">
                    {{ user.uid }}
                  </span>
                </li>
                <li class="d-flex justify-content-between align-items-end">
                  <span class="semi-bold pr-2"
                    >{{ 'fscommon.phoneNumber' | cxTranslate }}:</span
                  >
                  <ng-container *ngIf="user.contactInfos?.length">
                    <span class="notice">
                      {{ user.contactInfos[0]?.phoneNumber }}
                    </span>
                  </ng-container>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="box-shadow border border-color-3">
          <h5 class="text-center py-3 mb-0">
            {{ 'dashboard.overview' | cxTranslate }}
          </h5>
          <div class="dashboard-overview-wrapper background-color-4">
            <ul
              class="dashboard-overview-stats mb-0 bg-white border border-color-3 p-3"
            >
              <li class="item text-break text-center text-uppercase">
                <div class="number notice semi-bold">
                  {{
                    customerAssets.quotes?.insuranceQuotes
                      ? customerAssets.quotes?.insuranceQuotes?.length
                      : '0'
                  }}
                </div>
                <span class="description">
                  {{ 'fscommon.quotesAndApplications' | cxTranslate }}
                </span>
              </li>
              <li class="item text-break text-center text-uppercase">
                <div class="number notice semi-bold">
                  {{
                    customerAssets.policies?.insurancePolicies
                      ? customerAssets.policies?.insurancePolicies?.length
                      : '0'
                  }}
                </div>
                <span class="description">{{
                  'policy.policies' | cxTranslate
                }}</span>
              </li>
              <li class="item text-break text-center text-uppercase">
                <div class="number notice semi-bold">
                  {{
                    customerAssets.claims?.claims
                      ? customerAssets.claims?.claims?.length
                      : '0'
                  }}
                </div>
                <span class="description">{{
                  'claim.claims' | cxTranslate
                }}</span>
              </li>
            </ul>
            <div class="dashboard-overview-assets mt-3">
              <div
                [ngClass]="assetSelected === 'quotes' ? 'active' : ''"
                class="asset bg-white p-2 align-items-center"
                role="button"
                tabindex="1"
                (click)="
                  showAssetList(
                    customerAssets.quotes?.insuranceQuotes,
                    'quotes'
                  )
                "
                (keydown.enter)="
                  showAssetList(
                    customerAssets.quotes?.insuranceQuotes,
                    'quotes'
                  )
                "
              >
                <span
                  class="asset-image h6 text-center notice p-3 mb-0 border border-color-3 rounded-circle fas fa-envelope-open-text"
                ></span>
                <div class="asset-text">
                  {{ 'dashboard.checkCustomers' | cxTranslate }}
                  <span class="notice">{{
                    'fscommon.quotesAndApplications' | cxTranslate
                  }}</span>
                </div>
              </div>
              <div
                [ngClass]="assetSelected === 'policies' ? 'active' : ''"
                class="asset bg-white p-2 align-items-center"
                role="button"
                tabindex="2"
                (click)="
                  showAssetList(
                    customerAssets.policies?.insurancePolicies,
                    'policies'
                  )
                "
                (keydown.enter)="
                  showAssetList(
                    customerAssets.policies?.insurancePolicies,
                    'policies'
                  )
                "
              >
                <span
                  class="asset-image h6 text-center notice p-3 mb-0 border border-color-3 rounded-circle fas fa-file-invoice"
                ></span>
                <div class="asset-text">
                  {{ 'dashboard.checkCustomers' | cxTranslate }}
                  <span class="notice">{{
                    'policy.policies' | cxTranslate
                  }}</span>
                </div>
              </div>
              <div
                [ngClass]="assetSelected === 'claims' ? 'active' : ''"
                class="asset bg-white p-2 align-items-center"
                role="button"
                tabindex="3"
                (click)="showAssetList(customerAssets.claims?.claims, 'claims')"
                (keydown.enter)="
                  showAssetList(customerAssets.claims?.claims, 'claims')
                "
              >
                <span
                  class="asset-image h6 text-center notice p-3 mb-0 border border-color-3 rounded-circle fas fa-stamp"
                ></span>
                <div class="asset-text">
                  {{ 'dashboard.checkCustomers' | cxTranslate }}
                  <span class="notice">{{ 'claim.claims' | cxTranslate }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="assetSelected">
  <ng-container *ngIf="assets?.length > 0; else noAssets">
    <div class="mt-5">
      <table class="box-shadow table table-hover border border-color-3">
        <thead class="d-none d-md-table-row">
          <th scope="col">Name</th>
          <th scope="col">
            {{ 'fscommon.status' | cxTranslate }}
          </th>
          <th scope="col">{{ 'forms.contactType.email' | cxTranslate }}</th>
        </thead>
        <tbody>
          <tr class="position-relative" *ngFor="let asset of assets">
            <td class="d-flex d-md-table-cell">
              <div class="mobile-label text-uppercase pr-2 d-md-none">
                {{ 'dashboard.name' | cxTranslate }}:
              </div>
              <span class="notice text-break">
                {{ asset?.defaultCategory?.name }}
                {{ asset?.categoryData?.name }}
                {{ asset?.insurancePolicy?.categoryData?.name }}</span
              >
            </td>
            <td class="d-flex d-md-table-cell">
              <div class="mobile-label text-uppercase pr-2 d-md-none">
                {{ 'fscommon.status' | cxTranslate }}:
              </div>
              <span>sdfdgdg</span>
            </td>
            <td class="d-flex d-md-table-cell">
              <div class="mobile-label text-uppercase pr-2 d-md-none">
                {{ 'dashboard.email' | cxTranslate }}:
              </div>
              <span class="text-break">gdsgf</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</ng-container>
<ng-template #noAssets>
  <h3>{{ 'dashboard.noAssets' | cxTranslate }}</h3>
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
