<ng-container *ngIf="product$ | async as product; else loading">
  <ng-container *ngIf="!isLoading; else loading">
    <div class="table-header">
      <h3 class="table-header-title">
        {{ product.name }}
        <div
          *ngIf="recommendedProduct == product.code"
          class="text-uppercase ribbon"
        >
          {{ 'fscommon.recommendedProduct' | cxTranslate }}
        </div>
      </h3>
      <ng-container *ngIf="productPrice; else na">
        <h4 class="table-header-value">{{ productPrice }}</h4>
      </ng-container>
      <a
        class="link mt-1"
        [routerLink]="
          {
            cxRoute: 'category',
            params: { code: product.defaultCategory?.parentCategory?.code }
          } | cxUrl
        "
      >
        {{ 'fscommon.moreInfo' | cxTranslate }}
      </a>
    </div>
    <div class="table-cell-wrapper">
      <ng-container *ngIf="product.dynamicAttributes">
        <ng-container
          *ngFor="let dynamicAttribute of product.dynamicAttributes | slice: 1"
        >
          <div class="table-cell">
            <ng-container
              *ngIf="dynamicAttribute !== undefined; else itemNotIncluded"
            >
              <div
                class="table-cell-value text-truncate"
                *ngIf="
                  dynamicAttribute.value &&
                  dynamicAttribute.value.formattedValue
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    itemValue;
                    context: {
                      value: dynamicAttribute.value.formattedValue
                    }
                  "
                ></ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let item of panelItemEntries">
        <div class="table-cell">
          <ng-container *ngIf="item !== undefined; else itemNotIncluded">
            <div
              class="table-cell-value text-truncate"
              *ngIf="
                item.price?.value > 0 || item.chargeInformation;
                else itemIncluded
              "
              title="{{ item.chargeInformation }}"
            >
              <ng-container
                *ngTemplateOutlet="
                  itemValue;
                  context: {
                    value:
                      item.price.value > 0
                        ? item.price.formattedValue
                        : item.chargeInformation
                  }
                "
              ></ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngFor="let investment of product.investments">
        <div class="table-cell special">
          <p class="mb-2">
            <strong>{{ investment.distributionPercentage }} % </strong>
          </p>
          <a
            class="link"
            [href]="
              baseUrl +
              investment.investmentType?.factSheetDocument?.downloadUrl
            "
            ><strong>{{ investment.investmentType?.fundName }}</strong></a
          >
          <p class="mb-0">ISIN: {{ investment.investmentType?.isin }}</p>
          <p class="mb-0">
            5 {{ 'fscommon.yearsPerformanse' | cxTranslate }}:
            {{ investment.investmentType?.fiveYearPerformance }} %
          </p>
          <p class="mb-0">
            {{ 'fscommon.riskAndReturningRate' | cxTranslate }}:<br />
            {{ investment.investmentType?.riskReturningRating }}
          </p>
        </div>
      </ng-container>
    </div>
    <button
      (click)="
        createCartAndStartBundleForProduct(
          product.code,
          product.bundleTemplates[0]?.id
        )
      "
      class="primary-button btn-block mt-5"
      type="button"
    >
      {{ 'fscommon.select' | cxTranslate }}
    </button>
  </ng-container>
</ng-container>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
<ng-template #itemNotIncluded>
  <span class="fs-icon icon-remove"></span>
</ng-template>
<ng-template #itemIncluded>
  <span class="fs-icon icon-ok"></span>
</ng-template>
<ng-template #itemValue let-value="value">
  {{ value }}
</ng-template>
<ng-template #na>
  <h4 class="table-header-value">
    {{ 'fscommon.notAvailable' | cxTranslate }}
  </h4>
</ng-template>
