<h2 class="section-header-heading mb-0">
  {{ 'fscommon.finalReview' | cxTranslate }}
</h2>
<ng-container *ngIf="paymentDetails$ | async as paymentDetails">
  <div class="container-fluid">
    <div class="info-container row p-4">
      <div class="col-6 col-md-4">
        <ul class="list-unstyled">
          <li class="mb-2">
            <strong> {{ 'fscommon.paymentDetails' | cxTranslate }}</strong>
          </li>
          <li>{{ paymentDetails.accountHolderName }}</li>
          <li>{{ paymentDetails.cardNumber }}</li>
          <li>{{ paymentDetails.cardType?.name }}</li>
          <li *ngIf="paymentDetails.expiryMonth; else invoice">
            {{ 'fscommon.expires' | cxTranslate }}:
            {{ paymentDetails.expiryMonth }} / {{ paymentDetails.expiryYear }}
          </li>
          <ng-template #invoice>
            {{ 'fscommon.invoice' | cxTranslate }}</ng-template
          >
        </ul>
      </div>
      <div class="col-6 col-md-5">
        <ul class="list-unstyled">
          <li class="mb-2" *ngIf="paymentDetails.billingAddress">
            <strong>{{ 'fscommon.billingAddress' | cxTranslate }}</strong>
          </li>
          <li>
            {{ paymentDetails.billingAddress?.firstName }}
            {{ paymentDetails.billingAddress?.lastName }}
          </li>
          <li>{{ paymentDetails.billingAddress?.line1 }}</li>
          <li>{{ paymentDetails.billingAddress?.town }}</li>
          <li>{{ paymentDetails.billingAddress?.postalCode }}</li>
          <li>{{ paymentDetails.billingAddress?.country?.isocode }}</li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <button
          class="action-button btn-block"
          [routerLink]="
            {
              cxRoute: 'checkoutPaymentDetails'
            } | cxUrl
          "
        >
          {{ 'fscommon.edit' | cxTranslate }}
        </button>
      </div>
    </div>
    <div class="row mt-5 align-items-start">
      <div class="col-12 col-md-8 cx-place-order-form form-check">
        <label>
          <input #tAndC class="form-check-input" type="checkbox" />
          <span class="form-check-label">
            {{ 'fscommon.confirmAndAgree' | cxTranslate }}
            <a
              [routerLink]="{ cxRoute: 'termsAndConditions' } | cxUrl"
              target="_blank"
              rel="noopener noreferrer"
              class="link text-capitalize"
            >
              {{ 'fscommon.termsConditions' | cxTranslate }}
            </a>
          </span>
        </label>
      </div>
      <button
        [disabled]="!tAndC.checked"
        (click)="placeOrder(tAndC)"
        class="col-12 col-md-4 primary-button"
      >
        {{ 'fscommon.apply' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-container>
