%fsa-register {
  section {
    padding: 30px 20px;
    @include box-shadow(0px, 2px, 20px, 1px, $color-grey, 1);
    .btn-link {
      font-size: $font-size-base;
      margin-top: 1.5rem;
    }
  }
}
