<ng-container *ngIf="customers$ | async as customers; else loading">
  <ng-container *ngIf="customers.entries.length > 0; else noCustomers">
    <!-- BODY -->
    <div class="row mt-5">
      <div class="form-group col-6 col-md-3">
        <cx-sorting
          [sortOptions]="customers.sorts"
          [sortLabels]="getSortLabels() | async"
          [selectedOption]="customers.sorts[0]?.code"
          placeholder="{{ 'dashboard.sorting.name' | cxTranslate }}"
        ></cx-sorting>
      </div>
      <div class="col-6 col-md-3 ml-auto text-right">
        <button class="primary-button">
          {{ 'fscommon.add' | cxTranslate }}
        </button>
      </div>
    </div>
    <!-- TABLE -->
    <table class="box-shadow table table-hover border border-color-3">
      <thead class="d-none d-md-table-row">
        <th scope="col">
          {{ 'dashboard.name' | cxTranslate }}
        </th>
        <th scope="col">
          {{ 'fscommon.status' | cxTranslate }}
        </th>
        <th scope="col">{{ 'forms.contactType.email' | cxTranslate }}</th>
      </thead>
      <tbody>
        <tr
          class="position-relative"
          *ngFor="let customer of customers.entries"
          (click)="getUserProfile(customer)"
        >
          <td class="d-flex d-md-table-cell">
            <div class="mobile-label text-uppercase pr-2 d-md-none">
              {{ 'dashboard.name' | cxTranslate }}:
            </div>
            <span class="notice text-break">{{ customer?.name }}</span>
          </td>
          <td class="d-flex d-md-table-cell">
            <div class="mobile-label text-uppercase pr-2 d-md-none">
              {{ 'fscommon.status' | cxTranslate }}:
            </div>
            <span
              [ngClass]="customer?.active ? 'text-success' : 'text-danger'"
              >{{
                customer?.active
                  ? ('dashboard.active' | cxTranslate)
                  : ('dashboard.disabled' | cxTranslate)
              }}</span
            >
          </td>
          <td class="d-flex d-md-table-cell">
            <div class="mobile-label text-uppercase pr-2 d-md-none">
              {{ 'dashboard.email' | cxTranslate }}:
            </div>
            <span class="text-break">{{ customer?.uid }}</span>
            <cx-icon [type]="iconTypes.CARET_RIGHT"></cx-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination -->
    <div class="row">
      <ng-container *ngIf="customers.pagination.totalPages > 1">
        <cx-pagination [pagination]="customers.pagination"></cx-pagination>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<!-- NO CUSTOMERS-->
<ng-template #noCustomers>
  <h3 class="text-center mt-5">{{ 'dashboard.noCustomers' | cxTranslate }}</h3>
</ng-template>

<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
