<ng-container *ngIf="orders$ | async as orderHistory">
  <ng-container *ngIf="isLoaded$ | async; else loading">
    <div class="container">
      <!-- HEADING -->
      <h2 class="heading-headline py-3 mt-3 mb-5 text-center">
        {{ 'orderHistory.orderHistory' | cxTranslate }}
      </h2>

      <!-- BODY -->
      <div class="cx-order-history-body">
        <ng-container
          *ngIf="orderHistory.pagination.totalResults > 0; else noOrder"
        >
          <!-- Select Form and Pagination Top -->
          <div class="cx-order-history-sort top row">
            <div
              class="
                cx-order-history-form-group
                form-group
                col-sm-12 col-md-4 col-lg-4
              "
            >
              <cx-sorting
                [sortOptions]="orderHistory.sorts"
                [sortLabels]="getSortLabels() | async"
                (sortListEvent)="changeSortCode($event)"
                [selectedOption]="orderHistory.pagination.sort"
                placeholder="{{
                  'orderHistory.sortByMostRecent' | cxTranslate
                }}"
              ></cx-sorting>
            </div>
            <div
              *ngIf="orderHistory.pagination.totalPages > 1"
              class="cx-order-history-pagination"
            >
              <cx-pagination
                [pagination]="orderHistory.pagination"
                (viewPageEvent)="pageChange($event)"
              ></cx-pagination>
            </div>
          </div>
          <!-- TABLE -->
          <table class="table cx-order-history-table">
            <thead class="cx-order-history-thead-mobile d-md-table-row d-none">
              <th scope="col">
                {{ 'orderDetails.orderId' | cxTranslate }}
              </th>
              <th scope="col">
                {{ 'fscommon.product' | cxTranslate }}
              </th>
              <th scope="col">{{ 'orderHistory.date' | cxTranslate }}</th>
              <th scope="col">
                {{ 'orderHistory.status' | cxTranslate }}
              </th>
              <th scope="col">{{ 'orderHistory.total' | cxTranslate }}</th>
            </thead>
            <tbody>
              <tr
                *ngFor="let order of orderHistory.orders"
                (click)="goToOrderDetail(order)"
              >
                <td class="cx-order-history-code">
                  <div class="d-md-none cx-order-history-label">
                    {{ 'orderDetails.orderId' | cxTranslate }}
                  </div>
                  <a
                    [routerLink]="
                      {
                        cxRoute: 'orderDetails',
                        params: order
                      } | cxUrl
                    "
                    class="cx-order-history-value pl-3 pl-md-0 ml-auto ml-md-0"
                  >
                    {{ order?.code }}</a
                  >
                </td>
                <td class="cx-order-history-product">
                  <div class="d-md-none cx-order-history-label">
                    {{ 'fscommon.product' | cxTranslate }}
                  </div>
                  <a
                    [routerLink]="
                      {
                        cxRoute: 'orderDetails',
                        params: order
                      } | cxUrl
                    "
                    class="cx-order-history-value pl-3 pl-md-0 ml-auto ml-md-0"
                    >{{ (order?.entries)[0]?.product?.name }}</a
                  >
                </td>
                <td class="cx-order-history-placed">
                  <div class="d-md-none cx-order-history-label">
                    {{ 'orderHistory.date' | cxTranslate }}
                  </div>
                  <a
                    [routerLink]="
                      {
                        cxRoute: 'orderDetails',
                        params: order
                      } | cxUrl
                    "
                    class="cx-order-history-value pl-3 pl-md-0 ml-auto ml-md-0"
                    >{{ order?.placed | cxDate: 'longDate' }}</a
                  >
                </td>
                <td class="cx-order-history-status">
                  <div class="d-md-none cx-order-history-label">
                    {{ 'orderHistory.status' | cxTranslate }}
                  </div>
                  <a
                    [routerLink]="
                      {
                        cxRoute: 'orderDetails',
                        params: order
                      } | cxUrl
                    "
                    class="cx-order-history-value pl-3 pl-md-0 ml-auto ml-md-0"
                  >
                    {{
                      'orderDetails.statusDisplay_' + order?.statusDisplay
                        | cxTranslate
                    }}</a
                  >
                </td>
                <td class="cx-order-history-total">
                  <div class="d-md-none cx-order-history-label">
                    {{ 'orderHistory.total' | cxTranslate }}
                  </div>
                  <a
                    [routerLink]="
                      {
                        cxRoute: 'orderDetails',
                        params: order
                      } | cxUrl
                    "
                    class="cx-order-history-value pl-3 pl-md-0 ml-auto ml-md-0"
                  >
                    {{ order?.total.formattedValue }}</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Select Form and Pagination Bottom -->
          <div class="cx-order-history-sort bottom row">
            <div
              *ngIf="orderHistory.pagination.totalPages > 1"
              class="cx-order-history-pagination"
            >
              <cx-pagination
                [pagination]="orderHistory.pagination"
                (viewPageEvent)="pageChange($event)"
              ></cx-pagination>
            </div>
          </div>
        </ng-container>

        <!-- NO ORDER CONTAINER -->
        <ng-template #noOrder>
          <h3>{{ 'orderHistory.noOrders' | cxTranslate }}</h3>
        </ng-template>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
