<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div [ngClass]="cssClass.inputWrapper">
    <cx-label [config]="config" [cssLabelClass]="cssClass.labe"></cx-label>
    <select
      [ngClass]="cssClass.input"
      [attr.name]="config.name"
      formControlName="{{ config.name }}"
    >
      <option value="pleaseSelect" [selected]="'pleaseSelect'" disabled>{{
        'fscommon.pleaseSelect' | cxTranslate
      }}</option>
      <option *ngFor="let option of config.options" value="{{ option.name }}">
        {{ option.label }}
      </option>
    </select>
  </div>
  <cx-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-error-notice>
</div>
