@import '../../theme/fsa/variables';

%fsa-checkout-progress {
  .progress-wrapper {
    border-top: 2px solid var(--cx-color-3);
    .progress-inner-wrapper {
      flex-basis: 0;
    }
  }
  .progress-node {
    position: relative;
    cursor: pointer;
    margin-bottom: 14px;
    &:hover {
      .step.visited {
        @extend .icon-FSA-edit;
      }
    }
    .step {
      display: flex;
      justify-content: center;
      font-size: var(--cx-h5-font-size);
      &.visited {
        @extend .icon-FSA-ok;
      }
      &:before {
        color: var(--cx-color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--cx-color-5);
        padding: 16px;
        border: $border-grey;
        border-radius: 50%;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
      }
    }
    .step-number:before {
      content: attr(data-step);
    }
    .label {
      font-size: var(--cx-title-font-size);
      font-weight: var(--cx-font-weight-semi);
    }
  }
  .link-wrapper {
    font-weight: var(--cx-font-weight-bold);
    text-align: right;
    margin: 15px 10px 0 0;
  }
}
