@import '../../theme/fsa/variables';

%fsa-checkout-progress {
  .progress-wrapper {
    border-top: 2px solid var(--cx-color-3);
    .progress-inner-wrapper {
      flex-basis: 0;
    }
  }
  .progress-node {
    position: relative;
    cursor: pointer;
    margin-bottom: 14px;
    .step {
      display: flex;
      justify-content: center;
      font-size: var(--cx-h5-font-size);
      &:before {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--cx-color-5);
        padding: 16px;
        border: $border-grey;
        border-radius: 50%;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
      }
    }
    .step-number:before {
      content: attr(data-step);
    }
    .icon-FSA-ok {
      color: var(--cx-color-primary);
    }
    .label {
      font-size: var(--cx-title-font-size);
      font-weight: var(--cx-font-weight-semi);
    }
    &.is-active {
      .FSA-icon {
        color: var(--cx-color-primary);
        background: var(--cx-color-1);
      }
      .label {
        color: var(--cx-color-primary);
      }
      &:before {
        width: 100%;
        background-color: var(--cx-color-7);
      }
    }
    &.is-disabled {
      cursor: default;
      pointer-events: none;
      .FSA-icon {
        background: var(--cx-color-1);
      }
      .label {
        font-weight: var(--cx-font-weight-normal);
      }
      &:before {
        background-color: transparent;
      }
    }
  }
  .link-wrapper {
    font-weight: var(--cx-font-weight-bold);
    text-align: right;
    margin: 15px 10px 0 0;
  }
}
