%cx-fs-final-review {
  .form-check input[type='checkbox'] {
    height: 18px;
    width: 18px;
    &:checked::after {
      top: 3px;
      left: 3px;
    }
  }
}
%cx-fs-order-confirmation {
  .content-box {
    text-align: center;
    background-color: var(--cx-color-1);
    border-radius: 5px;
    padding: 20px 0;
    margin: 0 4% 70px;
    @include fs-box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
    @include media-breakpoint-down(sm) {
      padding: 25px 0 20px;
    }
    .content-box-info {
      margin: 20px 0 10px;
      font-weight: var(--cx-font-weight-semi);
      font-size: var(--cx-h6-font-size);
    }
  }
}
