@import '../../theme/fs/variables';

%cx-fs-mini-cart,
%cx-fs-product-configuration-mini-cart,
.short-overview-wrapper {
  // short-overview-wrapper is needed for order confirmation page, until better solution
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  .short-overview {
    &-content {
      @include fs-box-shadow(0px, 2px, 20px, 1px, $color-grey, 1);
      padding: 10px;
    }
    &-item {
      margin: 10px 0;
    }
    &-title,
    &-value {
      overflow-wrap: break-word;
    }
    &-value {
      text-align: right;
      align-self: flex-end;
    }
    .highlighted {
      font-size: var(--cx-h6-font-size);
      font-weight: var(--cx-font-weight-semi);
      padding: 1rem 0;
      margin: 0;
    }
  }
}

%cx-fs-cart-coupon {
  .cx-cart-coupon-title {
    font-weight: var(--cx-font-weight-semi);
  }
}
