<div class="row mt-5">
  <div class="col-md-6 mb-3 mb-md-0">
    <ng-container *ngIf="previousCheckoutStep$ | async as previousCheckoutStep"
      ><button
        class="action-button btn-block"
        (click)="navigateBack(previousCheckoutStep)"
      >
        {{ 'common.back' | cxTranslate }}
      </button></ng-container
    >
  </div>
  <div class="col-md-6">
    <ng-container *ngIf="nextCheckoutStep$ | async as nextCheckoutStep"
      ><button
        class="primary-button btn-block"
        type="button"
        data-checkout-url=""
        (click)="navigateNext(nextCheckoutStep)"
      >
        {{ 'common.continue' | cxTranslate }}
      </button></ng-container
    >
  </div>
</div>
