<div class="row">
  <div [ngClass]="dynamicForms.errorWrapperClass">
    <ng-container
      *ngIf="(warn?.touched && warn?.errors?.required) || warn?.errors?.pattern"
    >
      <div [ngClass]="dynamicForms.errorClass">
        {{ 'forms.enterValidValue' | cxTranslate }}
      </div>
    </ng-container>
    <ng-container
      *ngIf="
        warn?.invalid &&
        warn?.touched &&
        !warn?.errors?.required &&
        parentConfig?.error
      "
    >
      <div [ngClass]="dynamicForms.errorMessageClass">
        {{ parentConfig.error | cxTranslate }}
      </div>
    </ng-container>
  </div>
</div>
