<div class="row">
  <div [ngClass]="errorWrapperClass ? errorWrapperClass : 'px-4'">
    <ng-container
      *ngIf="(warn?.touched && warn?.errors?.required) || warn?.errors?.pattern"
    >
      <div [ngClass]="errorClass ? errorClass : 'text-danger mb-2'">
        {{ 'forms.enterValidValue' | cxTranslate }}
      </div>
    </ng-container>
    <ng-container
      *ngIf="
        warn?.invalid &&
        warn?.touched &&
        !warn?.errors?.required &&
        parentConfig?.error
      "
    >
      <div
        [ngClass]="errorMessageClass ? errorMessageClass : 'text-danger mb-2'"
      >
        {{ errorMessage }}
      </div>
    </ng-container>
  </div>
</div>
