<div class="row">
  <div class="col-md-5 mb-5">
    <div class="box-shadow">
      <h5 class="text-center py-3 mb-0">Customer Profile</h5>
      <div class="background-color-4">
        kj hjfkdshfjkdhjkghfdjkgh fjkdgh fjkh gkjfhgjkfd hjkg hgkjfh d
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="box-shadow">
      <h5 class="text-center py-3 mb-0">Dashboard Overview</h5>
      <div class="background-color-4">
        kj hjfkdshfjkdhjkghfdjkgh fjkdgh fjkh gkjfhgjkfd hjkg hgkjfh d
      </div>
    </div>
  </div>
</div>
