<ng-container *ngIf="tabs?.length > 0; else noMessages">
  <ul class="tabs-header d-none d-md-flex">
    <li
      class="tab"
      *ngFor="let tab of tabs; let i = index"
      (click)="activeTabIndex = i"
    >
      <fsa-inbox-tab [currentTab]="i === activeTabIndex" [tabId]="tab">
      </fsa-inbox-tab>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="initialGroupName">
  <fsa-inbox-messages
    [mobileTabs]="tabs"
    [mobileInitialTab]="mobileGroupTitle"
    [initialGroup]="initialGroupName"
  ></fsa-inbox-messages>
</ng-container>
<ng-template #noMessages>
  <h1 class="mt-5 mb-3 text-center">
    {{ 'fscommon.noMessages' | cxTranslate }}
  </h1>
</ng-template>
