<div class="cx-multi-step-checkout">
  <div class="row">
    <div class="col-12">
      <section *ngIf="changeRequest$ | async as changeRequest">
        <h2 class="heading-headline py-4 text-center">
          {{ 'fscommon.change' | cxTranslate }}
          {{ changeRequest.insurancePolicy?.categoryData?.name }}
          {{ 'policy.policy' | cxTranslate }}
          {{ changeRequest.insurancePolicy?.policyNumber }}
        </h2>
        <cx-fs-progress-bar [steps]="changeRequest.configurationSteps">
        </cx-fs-progress-bar>
      </section>
    </div>
  </div>
</div>
