%cx-fs-cart-coupon {
  .cx-cart-coupon-title {
    font-weight: var(--cx-font-weight-semi);
  }
  .form-control {
    height: 40px;
  }
  .cx-coupon-card.cx-coupon-apply {
    .close {
      min-height: auto;
      padding: 0;
      margin: 0;
    }
  }
}
