%cx-fs-cart-coupon {
  .cx-cart-coupon-title {
    font-weight: var(--cx-font-weight-semi);
  }
  .form-control {
    height: 40px;
  }
  .cx-coupon-card {
    height: 3em;
    .cx-icon {
      padding-top: 0.7em;
    }
  }
}
