.cx-payment-card {
  padding-bottom: 2rem;
  &-inner {
    height: 100%;
  }
  .card-header {
    color: var(--cx-color-1);
    font-size: var(--cx-h6-font-size);
    background: var(--cx-color-primary);
    padding: 0.5rem 1rem;
    font-weight: var(--cx-font-weight-semi);
    text-transform: uppercase;
  }
  .cx-card-title {
    color: var(--cx-color-primary);
    font-size: var(--cx-h6-font-size);
  }
  .cx-card-label-bold {
    font-weight: var(--cx-font-weight-semi);
  }
  .card-body.cx-card-body {
    font-size: var(--cx-title-font-size);
    justify-content: flex-end;
  }
  .cx-card-link.card-link.btn-link {
    text-transform: uppercase;
    color: var(--cx-color-primary);
    text-decoration: underline;
  }
  .cx-card-img-container .fs-icon::before,
  .cx-icon {
    font-size: var(--cx-font-size, 48px);
  }
}
