@import '../fs-mixins';
@import '../theme';

cx-page-layout.FSCategoryPageTemplate {
  .enriched-banner {
    &-text {
      background: rgba(255, 255, 255, 0.7);
      display: flex;
      flex-flow: column;
      text-align: center;
      position: absolute;
      bottom: 0;
      padding: 2rem;
      width: 100%;
      @include media-breakpoint-down(md) {
        padding: 1rem;
      }
    }
    &-title {
      font-size: var(--cx-h3-font-size);
      color: var(--cx-color-text);
      font-weight: var(--cx-font-weight-semi);
      padding-bottom: 1.2rem;
      @include media-breakpoint-down(md) {
        font-size: var(--cx-title-font-size);
      }
    }
    &-details {
      display: flex;
      justify-content: center;
    }
    &-styled-text {
      @extend .primary-button;
      font-weight: var(--cx-font-weight-semi);
      padding: 0.5rem 1rem;
      @include media-breakpoint-down(md) {
        font-size: var(--cx-xs-font-size);
      }
    }
  }
  cx-page-slot > * {
    display: flex;
  }
  .Section1 {
    padding: 0;
    max-width: 100%;
  }
  .Section2,
  .Section3 {
    cx-fs-cms-custom-container {
      border: 1px solid var(--cx-color-4);
      @include fs-box-shadow(0px, 7px, 9px, -1px, $color-dark-grey, 0.3);
      padding: 0;
    }
  }
  .Section2 {
    cx-fs-cms-custom-container {
      @include heading-style;
      flex-direction: column;
      text-align: center;
      padding: 2rem 1rem;
      cx-paragraph p {
        font-size: var(--cx-h4-font-size);
      }
      cx-link a {
        font-weight: var(--cx-font-weight-semi);
        text-transform: uppercase;
        color: var(--cx-color-primary);
        font-size: var(--cx-title-font-size);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .Section3 {
    cx-banner,
    cx-paragraph {
      flex: 1 1 50%;
    }
    cx-banner {
      @include media-breakpoint-down(sm) {
        flex: 1 1 100%;
        flex-direction: column;
      }
    }
    cx-fs-cms-custom-container {
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
      cx-paragraph {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        text-align: left;
        @include media-breakpoint-down(sm) {
          padding: 2rem;
          text-align: center;
        }
        & > p {
          margin-bottom: 0;
        }
      }
    }
    cx-fs-cms-custom-container.category-inner-container {
      flex: 1 1 50%;
      cx-paragraph {
        @include media-breakpoint-down(sm) {
          padding: 1rem;
        }
      }
      cx-link {
        padding: 0 2rem 3.44rem;
        font-size: var(--cx-title-font-size);
        font-weight: var(--cx-font-weight-semi);
        color: var(--cx-color-primary);
        @include media-breakpoint-down(md) {
          padding-bottom: 1rem;
        }
        @include media-breakpoint-down(sm) {
          text-align: center;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .Section4 {
    cx-fs-cms-custom-container {
      text-align: left;
      justify-content: center;
      margin: 0 -0.5rem;
      box-shadow: none;
      padding: 0;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
      @include media-breakpoint-down(xs) {
        margin: 0;
      }
    }
  }
}
