@import 'mixins-fsa';
@import 'variables-fsa';

.cx-category-page-layout {
    .Section2B, .Section3 {
        margin: 40px 0;
        cx-dynamic-slot {
            border: 1px solid $color-grey;
            background-color: $color-light-grey;
            overflow: hidden;
            display: block;
            height: 100%;
        }
        cx-generic-link, cx-paragraph {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        cx-paragraph {
            padding: 20px;
        }
        .enriched-banner {
            padding: 6%;
            &__title {
                font-size: 24px;
            }
        }
        @include media-breakpoint-down(md) { 
            margin: 20px 0 0 0;
        }
    }
    .Section1 {
        .enriched-banner {
            position: relative;
            &__title {
                display: block;
                font-size: 44px;
                color: $color-dark-blue;
                @include media-breakpoint-down(md) { 
                    color: $color-body;
                    font-size: 4vw;
                }
                @include media-breakpoint-down(xs) {
                    font-size: 5vw;
                }
            }
            &__text {
                position: absolute;
                text-align: center;
                left: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.7);
                padding: 35px;
                width: 100%;
                @include media-breakpoint-down(md) {
                    padding: 20px 35px;
                }
                @include media-breakpoint-down(xs) {
                    padding: 10px 35px;
                }
            }
            .image-wrapper {
                .responsive-image {
                    width: 100%;
                }
            }
            &__details {
                @include width1400;
                display: block;
                margin: 30px auto 0;
                @include media-breakpoint-down(xs) {
                    margin-top: 10px;
                }
            }
            &__styled-text {
                @include secondary-btn-color;
                @include transition;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 0;
                display: inline-block;
                padding: 25px 0;
                width: 25%;
                @include media-breakpoint-down(md) {
                    width: 60%;
                    line-height: 30px;
                    @include ellipsis;
                    padding: 6px 10px;
                }
                @include media-breakpoint-down(xs) {
                    font-size: 13px;
                    width: 70%;
                }
            }
        }
    }
    .Section4 cx-dynamic-slot {
        display: flex;
        justify-content: flex-start;
        margin: 0 -15px;
        @include media-breakpoint-down(md) {
            display: block;
        }
        fsa-product-feature {
            width: 33%;
            margin: 0 15px;
            @include media-breakpoint-down(md) {
                width: inherit;
                margin: 20px 15px;
                display: block;
            }
        }
    }
}