cx-storefront.CompanyPageTemplate {
  @include media-breakpoint-down(sm) {
    .BottomHeaderSlot {
      @include fs-box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
      position: sticky;
      top: 0;
      z-index: 1;
      nav {
        overflow: auto;
      }
    }
  }
  cx-breadcrumb h1 {
    display: none;
  }
}
cx-page-layout.CompanyPageTemplate {
  .BodyContent {
    justify-content: space-evenly;
    @include media-breakpoint-up(sm) {
      margin: 0 10px;
    }
  }
  cx-org-list {
    button.link {
      color: var(--cx-color-primary);
      font-weight: var(--cx-font-weight-normal);
      text-decoration: underline;
    }
    .card .header .actions button,
    a.button.primary,
    a.button.primary:not(:disabled):not(.disabled) {
      line-height: 1.34;
      font-weight: var(--cx-font-weight-normal);
    }
  }
  cx-banner {
    cx-media {
      --cx-img-filter: none;
    }
    a {
      border: solid 1px var(--cx-color-light);
      @include fs-box-shadow(0px, 7px, 9px, -1px, $color-dark-grey, 0.3);
      &:hover {
        border-color: var(--cx-color-4);
        background: var(--cx-color-4);
        box-shadow: none;
      }
    }
  }
}
