@import '../mixins-fsa';
@import '../variables-fsa';

footer {
    .footer {
        // radial gradient has problem with CSS Custom Properties and scss
        @include radial-gradient-background($color-link-hover,$color-button-secondary-hover,$color-dark-blue);
        margin-top: 80px;
        padding-top: 40px;
    }
    .Footer {
        .container {
            max-width: 1400px;
        }
        .notice {
            color: var(--cx-g-color-1);
            background-color: transparent;
            border-top: 1px solid var(--cx-g-color-1);
            margin-top: 20px;
            font-size: 12px;
            padding: 25px 0;
            margin-bottom: 0;
        }
        h1 {
            font-size: 15px;
            font-weight: 600;
            padding-bottom: 20px;
            text-transform: uppercase;
        }
        li {
            margin-top: 10px;
        }
        cx-generic-link a {
            color: var(--cx-g-color-1);
            font-size: 12px;
            font-weight: normal;
            border-bottom: 1px solid transparent;
            &:hover {
                text-decoration: none;
                border-bottom: 1px solid var(--cx-g-color-1);
                padding-bottom: 3px;
                color: var(--cx-g-color-1);
            }
        }
    }
}