@import '../fs-mixins';
@import '../theme';

footer {
  .footer {
    background-color: var(--cx-color-text);
    margin-top: 80px;
    padding-top: 40px;
  }
  .Footer {
    @include media-breakpoint-down(sm) {
      cx-fs-navigation-ui {
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        & > nav {
          text-align: center;
          flex-basis: 50%;
          padding: 2vw;
          margin: 0;
        }
        .wrapper {
          text-align: center;
        }
      }
    }
    @include media-breakpoint-down(xs) {
      cx-fs-navigation-ui > nav {
        flex-basis: 100%;
        padding: 4vw;
      }
    }
    .notice {
      color: var(--cx-color-2);
      background-color: var(--cx-color-1);
      margin-top: 20px;
      padding: 25px 0;
      margin-bottom: 0;
    }
    li {
      margin-top: 10px;
    }
    .childs > nav > cx-generic-link a {
      display: inline-block;
      color: var(--cx-color-1);
      font-weight: normal;
      border-bottom: 1px solid transparent;
      padding: 3px 0;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid var(--cx-color-1);
        color: var(--cx-color-1);
      }
    }
  }
}
