cx-payment-method {
   .cx-checkout-title {
        color: var(--cx-color-text);
        border-top: 3px solid var(--cx-color-primary);
        background-color: var(--cx-color-4);
        font-size: var(--cx-h5-font-size);
        font-weight: var(--cx-font-weight-semi);
        padding: 1rem 0;
        text-align: center;
        text-transform: none;
   } 
   
   .cx-payment-card {
        .card-body.cx-card-body {
            background: var(--color-1);
        }
        .card-header {
            background: var(--cx-color-4);
        }
   }
   cx-payment-form {
    & > div > .row {
        @include box-shadow(0px, 8px, 20px, 1px, $color-grey, 1);
        margin: 0;
        padding: 2rem;
        &.cx-checkout-btns {
            box-shadow: none;
            padding: 2rem 0;
        }
    }
    .cx-payment-form-billing-address {
        color: var(--cx-color-primary);
    }
    .col-md-12.col-lg-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .label-content {
        font-weight: var(--cx-font-weight-semi);
        text-transform: uppercase;
    }
   }
}