header {
  color: var(--cx-color-text);
  background-color: var(--cx-color-1);
  position: relative;
  @include fs-box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
  @include media-breakpoint-down(md) {
    background-color: var(--cx-color-text);
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: var(--cx-color-text);
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &.is-expanded {
    @include media-breakpoint-down(md) {
      // overrides Spartacus' mobile menu solid background color
      &:after {
        opacity: 0.9;
      }
    }
  }
  cx-hamburger-menu {
    margin: 9px 0px;
    display: block;
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      border-radius: 3px;
    }
  }
  .SiteContext {
    flex: 100%;
    color: var(--cx-color-1);
    justify-content: flex-start;
    display: flex;
    position: relative;
    &::after {
      // overrides Spartacus' white line in the header
      content: none;
    }
    cx-site-context-selector {
      flex: none;
      select {
        @include media-breakpoint-up(lg) {
          background-color: var(--cx-color-secondary);
          cursor: pointer;
        }
      }
    }
    cx-link {
      flex: 1 1 40%;
      align-self: center;
      color: var(--cx-color-1);
      text-align: right;
      a:hover {
        color: var(--cx-color-1);
        text-decoration: underline;
      }
    }
  }
  .NavigationBar {
    min-height: inherit;
    &:before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      background-color: var(--cx-color-4);
    }
  }

  // Styling specific to my account section
  .HeaderLinks .accNavComponent {
    nav {
      h5 {
        font-weight: var(--cx-font-weight-semi);
        margin-top: 0;
        padding: 0 0 10px 0;
        font-size: var(--cx-title-font-size);
        @include media-breakpoint-down(md) {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          margin: 0;
        }
      }
      .back h5 {
        justify-content: flex-start;
        cx-icon {
          padding-inline-end: 10px;
        }
      }
      // sub menu nodes
      .childs h5 {
        font-weight: var(--cx-font-weight-semi);
        @include media-breakpoint-up(md) {
          cx-icon {
            display: block;
            @include vertical-center;
            transform: translateY(-50%) rotateZ(-90deg);
            right: 1rem;
            padding-inline-start: 0;
          }
          padding: 12px 60px 12px 20px;
        }
      }
      @media (hover) {
        .childs {
          .wrapper {
            @include fs-box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
            background: var(--cx-color-1);
            opacity: 0;
            max-height: 0;
            width: 100%;
          }
        }
        &:hover {
          .childs {
            nav:hover {
              .wrapper {
                position: absolute;
                top: 30px;
                left: 60px;
                max-height: 2000px;
                opacity: 1;
                transition: max-height 600ms ease, opacity 500ms ease;
              }
            }
          }
        }
      }
    }
  }
  cx-fs-navigation-ui,
  cx-navigation-ui {
    white-space: nowrap;
    &.flyout {
      > nav > h5 {
        @include media-breakpoint-down(md) {
          text-transform: uppercase;
        }
      }
      &.accNavComponent {
        nav {
          position: relative;
          .wrapper {
            top: 26px;
          }
        }
        // hides sub nav on mobile when it is clicked
        @include media-breakpoint-down(md) {
          &.is-open {
            > nav {
              display: block;
              .childs {
                .back {
                  display: none;
                }
                & > nav.is-open {
                  & > h5 {
                    display: none;
                  }
                }
              }
              // displays back button instead of sub nav
              &.is-opened {
                .childs {
                  .back {
                    display: initial;
                  }
                }
              }
            }
          }
        }
        .childs[columns='1'] {
          display: flex;
          flex-direction: column;
        }
        .childs[depth='2'] > nav:not(:only-child):not(:last-child) {
          padding-inline-end: 0;
        }
      }
      .childs nav:not(:last-child) {
        padding-right: 0;
      }
      & > nav {
        & > h5 {
          font-size: var(--cx-title-font-size);
          padding: 18px 25px 18px 0;
          @include media-breakpoint-down(md) {
            padding: 1rem;
          }
        }
        &:last-child {
          overflow: inherit;
        }
        & > .wrapper {
          padding: 0;
          border: none;
          @include fs-box-shadow(0px, 1px, 6px, 0px, $color-dark-grey, 0.75);
          nav:last-child cx-generic-link a {
            border-bottom: none;
          }
          @include media-breakpoint-down(md) {
            box-shadow: none;
          }
        }
      }
      cx-generic-link {
        border-bottom: none;
        & > a {
          padding: 12px 60px 12px 20px;
        }
      }
      cx-generic-link > a,
      .childs h5 {
        width: 100%;
        color: var(--cx-color-text);
        &:hover {
          background: var(--cx-color-4);
          color: var(--cx-color-primary);
        }
      }
    }
  }
  .MessageNotification {
    @include media-breakpoint-up(lg) {
      position: relative;
    }
  }
  .SearchBox {
    z-index: 1;
    label {
      background: var(--cx-color-1);
      border: 1px solid var(--cx-color-3);
      @include media-breakpoint-down(sm) {
        background: transparent;
        border: none;
      }
    }
    input {
      color: var(--cx-color-6);
    }
    cx-icon {
      font-size: var(--cx-h4-font-size);
      @include media-breakpoint-down(sm) {
        color: var(--cx-color-1);
        margin-inline-end: 10px;
      }
    }
  }
  .SiteLogin {
    padding: 0;
    .HeaderLinks {
      flex-wrap: nowrap;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
      cx-link {
        padding-inline-start: 15px;
        text-decoration: underline;
        white-space: nowrap;
      }
    }
    cx-login {
      a {
        color: var(--cx-color-text);
        @include media-breakpoint-down(md) {
          padding: 1rem;
          display: block;
        }
      }
      .cx-login-greet {
        color: var(--cx-color-primary);
        font-weight: var(--cx-font-weight-semi);
        padding: 0.5rem 0 0.5rem;
        @include media-breakpoint-down(md) {
          position: absolute;
          right: 0;
          padding: 1rem;
        }
      }
    }
  }
  // Mobile Navigation
  .navigation {
    background: var(--cx-color-4);
    .SiteLogin {
      a {
        color: var(--cx-color-text);
      }
    }
    .SiteContext {
      padding: 0.5rem 1rem 0.25rem;
      select,
      cx-icon,
      cx-generic-link a {
        color: var(--cx-color-text);
      }
    }
    .HeaderLinks {
      justify-content: flex-start;
      cx-fs-navigation {
        order: 2;
      }
      cx-link {
        padding-inline-start: 0;
      }
      cx-login-greet {
        margin-bottom: 0;
      }
    }
  }
}
%cx-fs-navigation-ui {
  @extend %cx-navigation-ui;
}
