@import '../fs-mixins';
@import '../theme';

header {
  color: var(--cx-color-text);
  background-color: var(--cx-color-1);
  position: relative;
  @include fs-box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
  @include media-breakpoint-down(md) {
    background-color: var(--cx-color-text);
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: var(--cx-color-text);
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &.is-expanded {
    @include media-breakpoint-down(md) {
      // overrides Spartacus' mobile menu solid background color
      &:after {
        opacity: 0.9;
      }
    }
  }
  cx-hamburger-menu {
    margin: 9px 0px;
    display: block;
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      border-radius: 3px;
    }
  }
  .SiteContext {
    flex: 100%;
    color: var(--cx-color-1);
    justify-content: flex-start;
    display: flex;
    position: relative;
    &::after {
      // overrides Spartacus' white line in the header
      content: none;
    }
    cx-site-context-selector {
      flex: none;
      select {
        @include media-breakpoint-up(lg) {
          background-color: var(--cx-color-secondary);
          cursor: pointer;
        }
      }
    }
    cx-link {
      flex: 1 1 40%;
      align-self: center;
      color: var(--cx-color-1);
      text-align: right;
      a:hover {
        color: var(--cx-color-1);
        text-decoration: underline;
      }
    }
  }
  .NavigationBar {
    min-height: inherit;
    &:before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      background-color: var(--cx-color-4);
    }
  }
  cx-navigation-ui.flyout {
    &.accNavComponent {
      nav {
        position: relative;
        .wrapper {
          top: 30px;
        }
      }
    }
    .childs nav:not(:last-child) {
      padding-right: 0;
    }
    & > nav {
      & > h5 {
        font-size: var(--cx-title-font-size);
        padding: 18px 25px 18px 0;
        @include media-breakpoint-down(md) {
          padding: 1rem;
        }
      }
      &:last-child {
        overflow: inherit;
      }
      & > .wrapper {
        padding: 0;
        border: none;
        @include fs-box-shadow(0px, 1px, 6px, 0px, $color-dark-grey, 0.75);
        nav:last-child cx-generic-link a {
          border-bottom: none;
        }
        @include media-breakpoint-down(md) {
          box-shadow: none;
        }
      }
      cx-generic-link {
        border-bottom: none;
        & > a {
          padding: 12px 60px 12px 20px;
          width: 100%;
          color: var(--cx-color-text);
          &:hover {
            background: var(--cx-color-4);
            color: var(--cx-color-primary);
          }
        }
      }
    }
  }
  .MessageNotification {
    @include media-breakpoint-up(lg) {
      position: relative;
    }
  }
  .SearchBox {
    z-index: 1;
    label {
      background: var(--cx-color-1);
      border: 1px solid var(--cx-color-3);
    }
    input {
      color: var(--cx-color-6);
    }
    cx-icon {
      font-size: var(--cx-h4-font-size);
    }
    @include media-breakpoint-down(sm) {
      label {
        background: var(--cx-color-text);
        border: none;
      }
      cx-icon {
        color: var(--cx-color-1);
        margin-inline-end: 10px;
      }
    }
  }
  .SiteLogin {
    padding: 0;
    .HeaderLinks {
      flex-wrap: nowrap;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
      cx-navigation-ui {
        h5 {
          margin-top: 0;
          padding: 0 0 10px 0;
          font-size: var(--cx-title-font-size);
          @include media-breakpoint-down(md) {
            padding: 1rem;
          }
        }
      }
      cx-link {
        padding-left: 15px;
        text-decoration: underline;
        white-space: nowrap;
      }
    }
    cx-login {
      a {
        color: var(--cx-color-text);
        padding-bottom: 10px;
      }
      .cx-login-greet {
        color: var(--cx-color-primary);
        font-weight: var(--cx-font-weight-semi);
        @include media-breakpoint-up(lg) {
          padding: 0.5rem 0 0.5rem;
        }
      }
    }
  }
  // Mobile Navigation
  .navigation {
    background: var(--cx-color-4);
    .SiteLogin {
      a {
        color: var(--cx-color-text);
      }
    }
    .SiteContext {
      padding: 0.5rem 1rem 0.25rem;
      select,
      cx-icon,
      cx-generic-link a {
        color: var(--cx-color-text);
      }
    }
    .HeaderLinks {
      cx-navigation {
        order: 2;
      }
      cx-link {
        position: relative;
        text-align: right;
        padding-right: 15px;
        top: -25px;
      }
      cx-login-greet {
        margin-bottom: 0;
      }
    }
  }
}
