@import '../mixins-fsa';
@import '../variables-fsa';

cx-header {
    --cx-primary: $color-dark-grey;
    --cx-inverse: $color-dark-blue;
    .cx-header {
        background-color: $color-white;
        color: $color-dark-grey;
        max-width: 100% !important;
        text-transform: uppercase;
        &::before {
            display: none;
        }
        a, .nav-link, span.cx-navigation__link, .cx-login-status__greet {
            @include media-breakpoint-down(md) {
                &:hover, &:focus, &:active, &:after {
                    color: $color-white;
                }
                &:after {
                    border-color: $color-white;
                }
            }
            @include media-breakpoint-up(lg) {
                color: $color-dark-grey;
            }
            text-transform: uppercase;
            font-size: 14px;
            color: $color-white;
        }
        cx-categorcx-navigation cx-navigation {
            position: relative;
            padding: 0;
            @include media-breakpoint-up(lg) {
                padding: 15px 30px;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: $color-link-hover;
                    width: 0;
                    height: 5px;
                    @include transition;
                }
                &:hover {
                    color: $color-link-hover;
                    &:before {
                        width: 100%;
                        @include transition;
                    }
                }
            }
        }
        nav .cx-navigation__list {
            &.nav {
                padding: 0;
                .nav-item {
                    @include media-breakpoint-down(md) {
                        padding: 15px 0;
                      }
                }
            }
            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
                border-top: 1px solid $color-mild-grey;
                border-bottom: 1px solid $color-mild-grey;
                margin: 1rem 0 0;
            }
        }
        &__logo[position="SiteLogo"] {
            --width: 100%;
            flex: 2;
            margin-left: 15px;
            @include media-breakpoint-down(md) {
              --margin: 0 0 0 4rem;
            }
            @include media-breakpoint-down(md) {
              --width: 75%;
              --margin: 0 0 0 3rem;
            }
            img {
                max-width: 250px;
            }
        }
        cx-dynamic-slot[position="StoreFinder"] {
            display: none;
        }
        cx-login {
            .cx-login-status__greet {
                font-weight: bold;
            }
            cx-link {
                margin-left: 1.5rem
            }
            @include media-breakpoint-up(lg) {
                .cx-login-status__greet {
                    color: $color-dark-blue;
                }
                margin-right: 30px; 
                & > * {
                    display: inline-block;
                }
                cx-link {
                    order: 2;
                }
                .cx-login-status__dropdown {
                    display: flex;
                    align-items: center;
                }
                .cx-navigation__child-item {
                    a {
                        color: $color-dark-grey;
                    }
                    &:hover {
                        background-color: $color-blue;
                        a {
                            color: $color-white;
                        }
                    }
                }
            }
        }
        #cx-mobile-menu {
            color: $color-white;
            @include media-breakpoint-down(md) {
                margin-top: 15px;
            }
            .cx-mobile-menu__components{
                background-color: $color-dark-blue;
                color: $color-white;
            }
            .hamburger-inner {
                background-color: $color-dark-blue;
                &:before, &:after {
                background-color: $color-dark-blue; 
                }
            }
            .cx-language-selector, .cx-currency-selector {
                i {
                    border-color: $color-white;
                }
                color: $color-white;
                &:hover, &:focus, &:active {
                    background-color: $color-dark-blue;
                }
            }
        }
        .cx-search-box {
            .cx-search-box__group {
                background-color: $color-white;
            }
            .cx-search-box__input {
                border: 1px solid $color-dark-blue;
                @include media-breakpoint-down(xs) {
                    color: $color-white;
                }
            }
        }
    }
}