@import '../mixins-fsa';
@import '../variables-fsa';

cx-home-page {
  //OVERRIDING SPARTACUS RULES
  .cx-container {
    //seting our own max widths
    @include make-container-max-widths();

    .cx-landing-page-layout__container {
      flex-direction: column;
    }
    //Service links specific styling - Overriding our own enriched banner :-(
    cx-dynamic-slot[ng-reflect-position="Section2A"] {
      @include width1400();
      margin-bottom: 60px;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      fsa-enriched-responsive-banner {
        width: 25%;
        text-align: center;
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
          width: 33.33%;
        }
        @include media-breakpoint-down(xs) {
          width: 50%;
        }
        .enriched-banner {
          &__styled-text {
            color: $color-link-hover;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            border-bottom: 1px solid $color-link-hover;
          }
          &__text {
            @include transition();
            &:hover {
              transform: scale(1.1);
            }
          }
          .image-wrapper {
            .responsive-image {
              max-width: 150px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

//Homepage banner specific styling
cx-dynamic-slot[ng-reflect-position="Section1"] fsa-enriched-responsive-banner {
  .enriched-banner {
    position: relative;
    .responsive-image {
      width: 100%;
      display: block;
    }
    &__text {
      padding: 2vw;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      text-align: left;
      max-width: 410px;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      @include media-breakpoint-down(sm) {
        left: 40%;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 1;
      color: $color-dark-blue;
      font-weight: 600;
      @include media-breakpoint-down(md) {
        font-size: 4vw;
      }
    }
    &__details {
      display: block;
      margin-top: 1vw;
      pointer-events: none;
      font-size: 20px;
      @include media-breakpoint-down(sm) {
        font-size: 3.5vw;
      }
      a {
        color: $color-button-secondary-hover;
      }
    }
  }
}

//Get a quote section & Make a claim paragraph
cx-dynamic-slot[ng-reflect-position="Section1"] cx-paragraph, cx-dynamic-slot[ng-reflect-position="Section3"] {
  @include width1400();
  display: block;
  margin-top: 100px;
  padding: 0 15px;
  @include media-breakpoint-down(xs) {
    margin-top: 60px;
  }
  .main-title {
    &__headline-border {
      border-top: 3px solid $color-mild-grey;
      text-align: center;
    }
    &__quote-heading {
      color: $color-dark-grey;
      background-color: $color-white;
      display: inline-block;
      position: relative;
      width: 300px;
      top: -20px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 30px;
      font-weight: 500;
      @include media-breakpoint-down(md) {
        width: 230px;
        font-size: 30px;
      }
    }
  }
}
//Find an agent paragraph
cx-dynamic-slot[ng-reflect-position="Section2B"] {
  @include width1400();
  cx-paragraph {
    color: $color-dark-grey;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 60px;
  }
  .find-agent {
    &__homepage {
      font-size: 30px;
      text-align: center;
      background-color: $color-light-grey;
      padding: 20px 15px;
      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }
    &__link {
        color: $color-blue;
        text-decoration: none;
    }
  }
}
//Quotes & Policies review
cx-dynamic-slot[ng-reflect-position="Section2C"] {
  @include width1400();
  display: flex;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
  fsa-view-quotes, fsa-view-policies {
    flex: 1;
    margin: 0 15px;
    button {
      height: auto;
      padding: 33px 0;
    }
  }
  fsa-view-quotes {
    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }
}
//Make a claim section
cx-dynamic-slot[ng-reflect-position="Section3"] .make-claim {
  margin: 50px auto;
  background-color: $color-blue;
  text-align: center;
  a {
    display: block;
    padding: 20px 10px;
    font-size: 22px;
    color: $color-white;
    text-decoration: none;
  }
  @include media-breakpoint-down(sm) {
    .hidden-xs {
      display: none;
    }
  }
}
