@import '../fs-mixins';
@import '../theme';

.LandingPageTemplate {
  .enriched-banner {
    &-text {
      padding: 2vw;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      text-align: left;
      max-width: 410px;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      @include media-breakpoint-down(sm) {
        left: 40%;
      }
    }
    &-title {
      font-size: var(--cx-h1-font-size);
      color: var(--cx-color-secondary);
      font-weight: var(--cx-font-weight-semi);
      @include media-breakpoint-down(md) {
        font-size: 4vw;
      }
    }
    &-details {
      display: block;
      margin-top: 1vw;
      pointer-events: none;
      font-size: var(--cx-h5-font-size);
      @include media-breakpoint-down(sm) {
        font-size: 3.5vw;
      }
    }
  }
  main cx-page-slot:not(.Section1) {
    @include contentWidth();
    padding: 3rem 1.5rem 0 1.5rem;
  }

  // Carousel & Homepage headings
  cx-fs-category-carousel h3 {
    @include headline-style;
    padding: 1rem 0;
    margin: 1rem auto 3rem;
    text-align: center;
  }

  //Get a quote section
  .Section1 cx-paragraph {
    margin-top: 6rem;
    @include media-breakpoint-down(xs) {
      margin-top: 60px;
    }
  }

  .Section2 {
    cx-paragraph {
      color: var(--cx-color-text);
      width: 100%;
      padding: 0 15px;
      margin-bottom: 60px;
    }
  }

  // Need analysis entry point section
  .Section3 {
    .homepageQuestionnaire {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 2.5rem;
      background-color: var(--cx-color-light);
      padding: 0.5rem 0;
      text-align: center;
      font-size: var(--cx-h5-font-size);
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
      cx-generic-link a {
        display: inline-block;
        font-weight: var(--cx-font-weight-semi);
      }
      &::before,
      &::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f061';
        background-color: var(--cx-color-1);
        color: var(--cx-color-primary);
        border-radius: 50%;
        padding: 10px;
        display: inline-block;
        width: 3.13rem;
        height: 3.13rem;
        font-size: var(--cx-h5-font-size);
      }
      &::before {
        margin-left: 0.5rem;
      }
      &::after {
        margin-right: 0.5rem;
        transform: rotate(180deg);
      }
    }
  }

  //Assistance and support section
  .Section4 {
    cx-banner {
      padding: 0 0 1.5rem;
      @include media-breakpoint-up(md) {
        padding: 0 1rem;
        flex: 1 1 50%;
      }
      cx-media {
        overflow: hidden;
      }
      img:hover {
        transform: scale(1.05);
      }
    }
  }
}
