@import '../mixins-fsa';
@import '../theme';

.LandingPageTemplate {
  .enriched-banner {
    &-text {
      padding: 2vw;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      text-align: left;
      max-width: 410px;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      @include media-breakpoint-down(sm) {
        left: 40%;
      }
    }
    &-title {
      font-size: var(--cx-h1-font-size);
      color: var(--cx-color-secondary);
      font-weight: var(--cx-font-weight-semi);
      @include media-breakpoint-down(md) {
        font-size: 4vw;
      }
    }
    &-details {
      display: block;
      margin-top: 1vw;
      pointer-events: none;
      font-size: var(--cx-h5-font-size);
      @include media-breakpoint-down(sm) {
        font-size: 3.5vw;
      }
    }
  }
  cx-page-slot:not(.Section1) {
    @include contentWidth();
    padding: 3rem 1.5rem 0 1.5rem;
  }

  // Carousel & Homepage headings
  fsa-category-carousel h3 {
    @extend .heading-headline, .py-3, .mt-3, .mb-5, .text-center;
  }

  //Get a quote section
  .Section1 cx-paragraph {
    margin-top: 6rem;
    @include media-breakpoint-down(xs) {
      margin-top: 60px;
    }
  }

  .Section2 {
    cx-paragraph {
      color: var(--cx-color-text);
      width: 100%;
      padding: 0 15px;
      margin-bottom: 60px;
    }
  }

  //Assistance and support section
  .Section4 {
    cx-banner {
      padding: 0 0 1.5rem;
      @include media-breakpoint-up(md) {
        padding: 0 1rem;
        flex: 1 1 50%;
      }
      cx-media {
        overflow: hidden;
      }
      img:hover {
        transform: scale(1.05);
      }
    }
  }
}
