@import '../mixins-fsa';
@import '../theme';

.FindAgentListTemplate,
.FSRequestPageTemplate,
.MultiTabsCategoryPageTemplate {
  & > cx-page-slot {
    max-width: 1140px;
    margin: 0 auto;
    padding: 3rem 1.5rem 0 1.5rem;
  }
}
.close {
  width: inherit;
  margin: inherit;
}
cx-spinner .loader {
  border-left-color: var(--cx-color-primary);
}
