@import '../mixins-fsa';
@import '../theme';

.AccountPageTemplate, .GeneralLayoutPageTemplate {
    cx-page-slot {
        @include width1400;
    }  
} 
.close {
    width: inherit;
    margin: inherit; 
}
cx-spinner .loader {
    border-left-color: var(--cx-color-primary); 
}