@import '../fs-mixins';
@import '../theme';

cx-page-layout {
  & > cx-page-slot:not(.has-components) {
    display: none;
  }
}

.FSRequestPageTemplate,
.MultiTabsCategoryPageTemplate,
.MultiStepCheckoutSummaryPageTemplate,
.FSCategoryPageTemplate,
.CheckoutPageTemplate,
.GeneralPageTemplate {
  padding: 0;
  & > cx-page-slot {
    max-width: 1140px;
    margin: 0 auto;
    padding: 3rem 1.5rem 0 1.5rem;
  }
}

// TODO: Keep until we refactor the way we implement HTML content in impex files
.TopContent cx-paragraph p {
  margin-bottom: 0;
}

.close {
  width: inherit;
  margin: inherit;
}
cx-spinner {
  width: 100%;
  padding: 1rem;
  .loader {
    border-left-color: var(--cx-color-primary);
  }
}
cx-fs-cms-custom-container {
  @include box-shadow(0px, 0px, 9px, 1px, $color-dark-grey, 0.3);
  padding: 3rem;
  @include media-breakpoint-down(md) {
    padding: 2rem;
  }
}
// temporary solution, untill forms are wrapped in different container component
.CheckoutPageTemplate .BottomContent cx-fs-cms-custom-container {
  padding: 0;
  box-shadow: none;
}

.MultiStepCheckoutSummaryPageTemplate cx-page-slot.BodyContent {
  flex: 0 55% !important;
}
