@import '../theme/fs/variables';

%cx-fs-order-history {
  @extend %cx-order-history;
  .table {
    tr {
      cursor: pointer;
    }
  }
  .cx-order-history-no-order {
    text-align: center;
    justify-content: center;
    .btn.btn-primary.btn-block.active {
      margin-top: 2rem;
      filter: none;
    }
  }
  .cx-order-history-body .col-sm-12 {
    & > div {
      font-size: var(--cx-h3-font-size);
      font-weight: var(--cx-font-weight-semi);
    }
  }
}
