%cx-fs-order-history {
  @extend %cx-order-history;
  .table {
    border-color: var(--cx-color-3);
    th,
    td {
      color: var(--cx-color-secondary);
      &:last-of-type {
        padding-right: 1.25rem;
      }
      &:first-of-type {
        padding-left: 1.25rem;
      }
    }
    thead {
      background-color: var(--cx-color-4);
    }
    tr {
      cursor: pointer;
    }
  }
  .cx-order-history-no-order {
    text-align: center;
    justify-content: center;
  }
  .cx-order-history-value {
    font-size: var(--cx-text-font-size);
    font-weight: var(--cx-font-weight-normal);
  }
}
