@import '../theme/fs/variables';

%cx-fs-order-overview {
  .cx-order-summary {
    @include media-breakpoint-down(sm) {
      background-color: var(--cx-color-inverse);
    }
    .container-fluid {
      display: flex;
      flex-wrap: wrap;
      padding: 0.85rem 0;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        padding: 0.95rem;
      }
      .cx-summary-card {
        flex: 1;
        padding: 0 0.85rem;
        @include media-breakpoint-up(md) {
          border-inline-end: 1px solid var(--cx-color-text);
        }
        @include media-breakpoint-down(sm) {
          flex: 1;
          border: 1px solid var(--cx-color-light);
          margin: 0.625rem 0;
        }
        .cx-card-title {
          @include type('4');
          font-weight: bold;
        }
      }
    }
  }
}
