%cx-payment-methods {
  .cx-msg {
    margin-bottom: 30px;
    font-size: var(--cx-h3-font-size);
    font-weight: var(--cx-font-weight-semi);
  }
  .cx-header {
    padding: 0;
    h3 {
      @include headline-style;
      padding: 1rem 0;
      margin: 1rem auto 3rem;
      text-align: center;
    }
  }
}
