%cx-update-email,
%cx-fs-create-obo-customer,
%cx-fs-update-profile,
%cx-update-password,
%cx-fs-appointment-scheduling-form {
  position: relative;
  max-width: 50%;
  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
  form {
    padding: 30px 20px;
    @include fs-box-shadow(0px, 2px, 20px, 1px, $color-grey, 1);
    label {
      margin-bottom: 1rem;
    }
    .btn {
      max-width: calc(50% - 0.7rem);
      display: inline-block;
      margin-top: 0.5rem;
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }
    .btn-secondary {
      margin-right: 1.4rem;
      //needed to override Spartacus bug with buttons in mobile view
      @include media-breakpoint-down(md) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
