cx-update-email {
  form {
    padding: 30px 20px;
    @include box-shadow(0px, 2px, 20px, 1px, $color-grey, 1);
    .btn-secondary {
      //needed to override Spartacus bug with buttons in mobile view
      @include media-breakpoint-down(md) {
        margin-bottom: 1rem;
      }
    }
  }
}
