<div class="slidecontainer mb-5">
  <div class="d-flex justify-content-center px-4">
    <div class="range box-shadow rounded mr-4 h6 pointer">-</div>
    <div class="position-relative w-75">
      <input
        formControlName="loanAmount"
        type="range"
        ng-min="minimumValue"
        ng-max="maximumValue"
        value="0"
        class="slider mx-auto w-100"
        id="sliderRange"
      />
      <div class="d-flex">
        <div>Min.</div>
        <div class="ml-auto">Max.</div>
      </div>
    </div>
    <div class="range box-shadow rounded ml-4 h6 pointer">+</div>
  </div>
</div>
