<div
  [hidden]="group.controls[config.name].disabled"
  class="dynamic-field form-input container"
  [formGroup]="group"
>
  <div class="row align-items-center">
    <label class="col-xs-12 col-md-6">{{ config.label }}</label>
    <textarea
      class="col-xs-12 col-md-6"
      [attr.placeholder]="config.placeholder"
      [formControlName]="config.name"
      rows="10"
    ></textarea>
  </div>
  <fsa-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></fsa-error-notice>
</div>
