<div
  class="dynamic-field"
  [formGroup]="group"
  [hidden]="group.controls[config.name].disabled"
>
  <div [ngClass]="formConfig.cssClass.radioInputWrapperClass">
    <label [ngClass]="formConfig.cssClass.radioLabelClass">{{
      config.label
    }}</label>
    <div *ngFor="let option of config.options">
      <input
        [ngClass]="formConfig.cssClass.radioInputClass"
        type="radio"
        value="{{ option.name }}"
        [formControlName]="config.name"
      />
      <label [ngClass]="formConfig.cssClass.radioOptionLabelClass">{{
        option.label
      }}</label>
    </div>
  </div>
  <cx-form-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-form-error-notice>
</div>
