<div class="d-flex p-5">
  <ng-container *ngFor="let identificationType of identificationTypes">
    <div class="position-relative flex-grow-1 text-center pointer">
      <div class="center-icon-wrapper position-absolute">
        <div
          class="center-icon fsa-icon {{
            this.identificationType.icon
          }} image-wrapper p-3"
        ></div>
      </div>
      <div
        class="p-5 mx-2 border-color-3 box-shadow"
        (click)="setSelectedType(identificationType)"
        [ngClass]="{
          'selected fs-border-primary':
            identificationType.name === this.selected
        }"
      >
        <p class="py-2 mb-">
          {{
            'fscommon.userIdentification.' + this.identificationType.name
              | cxTranslate
          }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
<div class="row mt-5">
  <div class="col-6">
    <button class="action-button btn-block" type="button" (click)="back()">
      {{ 'common.back' | cxTranslate }}
    </button>
  </div>
  <div class="col-6">
    <button
      class="primary-button btn-block"
      (click)="setIdentificationType()"
      [disabled]="!selected"
    >
      {{ 'common.continue' | cxTranslate }}
    </button>
  </div>
</div>
