<div
  [hidden]="group.controls[config.name].disabled"
  class="dynamic-field"
  [formGroup]="group"
>
  <div [ngClass]="formConfig.cssClasess.inputWrapperClasses">
    <label [ngClass]="formConfig.cssClasess.labelClasses">{{
      config.label
    }}</label>
    <input
      [ngClass]="formConfig.cssClasess.inputClasses"
      type="text"
      [attr.placeholder]="config.placeholder"
      [formControlName]="config.name"
      name="{{ config.name }}"
    />
  </div>
  <cx-form-error-notice
    [warn]="group.controls[config.name]"
    [parentConfig]="config"
  ></cx-form-error-notice>
</div>
