<h2 class="heading-headline py-3 mt-3 mb-5 text-center">
  {{ 'premiumCalendar.premiumCalendar' | cxTranslate }}
</h2>
<ng-container *ngIf="policies$ | async as policies; else noPolicies">
  <ng-container *ngIf="policiesLoaded$ | async; else loading">
    <ng-container
      *ngIf="policies?.insurancePolicies?.length > 0; else noPolicies"
    >
      <div class="container-fluid d-none d-lg-block">
        <!-- Desktop Layout-->
        <div class="section-header-heading row">
          <h5 class="col">{{ 'policy.policy' | cxTranslate }}</h5>
          <h5 class="col">{{ 'fscommon.paymentFrequency' | cxTranslate }}</h5>
          <h5 class="col">{{ 'premiumCalendar.dueDate' | cxTranslate }}</h5>
          <h5 class="col">{{ 'fscommon.premium' | cxTranslate }}</h5>
          <h5 class="col">{{ 'fscommon.paymentMethod' | cxTranslate }}</h5>
        </div>
        <div *ngFor="let policy of policies.insurancePolicies">
          <div
            class="premium-data-row row border boder-color-3"
            (click)="opened = !opened"
            [ngClass]="{
              clickable: policy.billingData?.length > 1,
              active: opened
            }"
          >
            <div class="col">
              <div class="row">
                <div class="col-4">
                  <div class="image-wrapper">
                    <img
                      class="image-item"
                      [src]="
                        getBaseUrl() +
                        policy.mainProduct.coverageProduct.images[0]?.url
                      "
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-8">
                  {{ policy.categoryData?.name }} <br />
                  {{ policy.contractNumber }}
                </div>
              </div>
            </div>
            <div class="col">
              {{ policy.paymentFrequency }}
            </div>
            <div
              class="col"
              [ngClass]="
                policy.billingData[0]?.paymentStatus == 'Overdue'
                  ? 'warn'
                  : 'notice'
              "
            >
              {{ policy.billingData[0]?.dueDate | cxDate: 'dd MMM yyyy' }}
              <div
                class="warn"
                *ngIf="policy.billingData[0]?.paymentStatus == 'Overdue'"
              >
                {{ 'premiumCalendar.overdue' | cxTranslate }}
              </div>
            </div>
            <div
              class="col"
              [ngClass]="
                policy.billingData[0]?.paymentStatus == 'Overdue'
                  ? 'warn'
                  : 'notice'
              "
            >
              {{ policy.policyPremium?.formattedValue }}
            </div>
            <div class="col">
              <ng-container *ngIf="policy.paymentMethod; else NA">
                {{ policy.paymentMethod.cardType?.code | uppercase }}
                {{ policy.paymentMethod?.cardNumber }}
              </ng-container>
            </div>
          </div>
          <div
            class="accordion row"
            *ngIf="policy.billingData?.length > 1"
            [ngClass]="opened ? 'opened' : ''"
          >
            <div class="container-fluid">
              <ng-container
                *ngFor="let dueDate of policy.billingData | slice: 1"
              >
                <div class="row">
                  <div class="col"></div>
                  <div class="col"></div>
                  <div class="col color-dot">
                    {{ dueDate.dueDate | cxDate: 'dd MMM yyyy' }}
                  </div>
                  <div class="col color-dot">
                    {{ dueDate.paymentAmount }}
                  </div>
                  <div class="col"></div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Desktop Layout-->
      <div class="container-fluid">
        <!-- Mobile layout-->
        <div class="row">
          <ng-container *ngFor="let policy of policies.insurancePolicies">
            <div class="col-12 col-sm-6 d-block d-lg-none">
              <div class="cards__wrapper">
                <div class="cards__title cards__title--gradient-background">
                  <span
                    class="images images__wrapper images__wrapper--white-bck"
                  >
                    <img
                      class="image-item"
                      [src]="
                        getBaseUrl() +
                        policy.mainProduct.coverageProduct.images[0]?.url
                      "
                      alt=""
                    />
                  </span>
                  <h4 class="cards__caption cards__caption--color-white">
                    {{ policy.categoryData?.name }}
                  </h4>
                  <div class="cards__info cards__info--color-white">
                    {{ policy.policyNumber }}
                  </div>
                </div>
                <div class="cards__details-wrapper">
                  <div class="cards__data border-bottom border-color-3">
                    <span class="title">
                      {{ 'fscommon.paymentFrequency' | cxTranslate }}
                    </span>
                    <span class="value">
                      {{ policy.paymentFrequency }}
                    </span>
                  </div>
                  <div
                    class="container cards__data border-bottom border-color-3"
                    (click)="opened = !opened"
                    [ngClass]="{
                      clickable: policy.billingData.length > 1,
                      active: opened
                    }"
                  >
                    <div class="row">
                      <div class="col-6">
                        <div class="title">
                          <div
                            class="cell-text text-left d-flex justify-content-around"
                          >
                            {{ 'premiumCalendar.dueDate' | cxTranslate }}
                          </div>
                        </div>
                        <div
                          class="title text-left d-flex justify-content-around"
                          [ngClass]="
                            policy.billingData[0]?.paymentStatus == 'Overdue'
                              ? 'warn'
                              : 'notice'
                          "
                        >
                          {{
                            policy.billingData[0]?.dueDate
                              | cxDate: 'dd MMM yyyy'
                          }}
                          <div
                            class="warn"
                            *ngIf="
                              policy.billingData[0]?.paymentStatus == 'Overdue'
                            "
                          >
                            {{ 'premiumCalendar.overdue' | cxTranslate }}
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div
                          class="title text-left d-flex justify-content-around"
                        >
                          <div class="cell-text">
                            {{ 'fscommon.premium' | cxTranslate }}
                          </div>
                        </div>
                        <div
                          class="title text-left d-flex justify-content-around"
                          [ngClass]="
                            policy.billingData[0]?.paymentStatus == 'Overdue'
                              ? 'warn'
                              : 'notice'
                          "
                        >
                          {{ policy.billingData[0]?.paymentAmount }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-container *ngIf="policy.billingData.length > 1">
                    <div
                      class="accordion container"
                      [ngClass]="opened ? 'opened' : ''"
                    >
                      <ul class="list-data">
                        <ng-container
                          *ngFor="let dueDate of policy.billingData | slice: 1"
                        >
                          <li
                            class="row list-item border-bottom border-color-3"
                          >
                            <div
                              class="col-6 text-left d-flex justify-content-around"
                            >
                              {{ dueDate.dueDate | cxDate: 'dd MMM yyyy' }}
                            </div>
                            <div
                              class="col-6 text-left d-flex justify-content-around"
                            >
                              {{ dueDate.paymentAmount }}
                            </div>
                          </li>
                        </ng-container>
                      </ul>
                    </div>
                  </ng-container>
                  <div class="cards__data">
                    <span class="title">
                      {{ 'fscommon.paymentMethod' | cxTranslate }}
                    </span>
                    <ng-container *ngIf="policy.paymentMethod; else NA">
                      {{ policy.paymentMethod.cardType?.code | uppercase }}
                      {{ policy.paymentMethod?.cardNumber }}
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #NA>
  {{ 'fscommon.notAvailable' | cxTranslate }}
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
<ng-template #noPolicies>
  <p>
    {{ 'premiumCalendar.noPremiumsAwaitingPayment' | cxTranslate }}
  </p>
</ng-template>
