<h2 class="heading-headline py-3 mt-3 mb-5 text-center">
  {{ 'premiumCalendar.premiumCalendar' | cxTranslate }}
</h2>
<ng-container *ngIf="policies$ | async as policies; else noPolicies">
  <ng-container *ngIf="policiesLoaded$ | async; else loading">
    <ng-container
      *ngIf="policies?.insurancePolicies?.length > 0; else noPolicies"
    >
      <div class="container-fluid">
        <!-- Desktop Layout-->
        <div class="section-header-heading row d-none d-lg-flex text-left">
          <h5 class="col text-center">{{ 'policy.policy' | cxTranslate }}</h5>
          <h5 class="col">{{ 'fscommon.paymentFrequency' | cxTranslate }}</h5>
          <h5 class="col">{{ 'premiumCalendar.dueDate' | cxTranslate }}</h5>
          <h5 class="col">{{ 'fscommon.premium' | cxTranslate }}</h5>
          <h5 class="col">{{ 'fscommon.paymentMethod' | cxTranslate }}</h5>
        </div>
        <div *ngFor="let policy of policies.insurancePolicies; let i = index">
          <div
            class="premium-data-row row border boder-color-3"
            (click)="toggleActiveAccordion(i)"
            [ngClass]="{
              clickable: policy.billingData?.length > 1,
              active: selectedIndexes.includes(i)
            }"
          >
            <div class="col">
              <div class="row">
                <div class="col-4">
                  <div class="image-wrapper small">
                    <img
                      class="image-item"
                      [src]="
                        getBaseUrl() +
                        policy.mainProduct.coverageProduct.images[0]?.url
                      "
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-8 mw-100">
                  {{ policy.categoryData?.name }} <br />
                  {{ policy.contractNumber }}
                </div>
              </div>
            </div>
            <div class="col">
              <h5 class="d-lg-none m-0">
                {{ 'fscommon.paymentFrequency' | cxTranslate }}
              </h5>
              {{ policy.paymentFrequency }}
            </div>
            <div
              class="col text-left"
              [ngClass]="
                policy.billingData[0]?.paymentStatus == 'Overdue'
                  ? 'warn'
                  : 'notice'
              "
            >
              <h5 class="d-lg-none p-0 m-0">
                {{ 'premiumCalendar.dueDate' | cxTranslate }}
              </h5>
              {{ policy.billingData[0]?.dueDate | cxDate: 'dd MMM yyyy' }}
              <div
                class="warn"
                *ngIf="policy.billingData[0]?.paymentStatus == 'Overdue'"
              >
                {{ 'premiumCalendar.overdue' | cxTranslate }}
              </div>
            </div>
            <div
              class="col"
              [ngClass]="
                policy.billingData[0]?.paymentStatus == 'Overdue'
                  ? 'warn'
                  : 'notice'
              "
            >
              <h5 class="d-lg-none p-0 m-0">
                {{ 'fscommon.premium' | cxTranslate }}
                <span
                  class="position-absolute fs-icon icon-triangle-bottom"
                  [ngClass]="selectedIndexes.includes(i) ? 'rotate' : ''"
                ></span>
              </h5>
              {{ policy.policyPremium?.formattedValue }}
            </div>
            <div class="col d-none d-lg-block">
              <ng-container *ngIf="policy.paymentMethod; else NA">
                {{ policy.paymentMethod.cardType?.code | uppercase }}
                {{ policy.paymentMethod?.cardNumber }}
              </ng-container>
            </div>
          </div>
          <div
            class="accordion row"
            *ngIf="policy.billingData?.length > 1"
            [ngClass]="selectedIndexes.includes(i) ? 'opened' : ''"
          >
            <div class="container-fluid">
              <ng-container
                *ngFor="let dueDate of policy.billingData | slice: 1"
              >
                <div class="row">
                  <div class="col"></div>
                  <div class="col"></div>
                  <div class="col color-dot text-left mw-md-100">
                    {{ dueDate.dueDate | cxDate: 'dd MMM yyyy' }}
                  </div>
                  <div class="col color-dot text-left">
                    {{ dueDate.paymentAmount }}
                  </div>
                  <div class="col"></div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col border border-top-0 d-lg-none text-center">
            <h5 class="d-lg-none m-0">
              {{ 'fscommon.paymentMethod' | cxTranslate }}
            </h5>
            <span *ngIf="policy.paymentMethod; else NA">
              {{ policy.paymentMethod.cardType?.code | uppercase }}
              {{ policy.paymentMethod?.cardNumber }}
            </span>
          </div>
        </div>
      </div>
      <!-- End of Desktop Layout-->
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #NA>
  {{ 'fscommon.notAvailable' | cxTranslate }}
</ng-template>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
<ng-template #noPolicies>
  <p>
    {{ 'premiumCalendar.noPremiumsAwaitingPayment' | cxTranslate }}
  </p>
</ng-template>
