<ng-container *ngIf="component$ | async as component; else loading">
  <ng-container *ngIf="formDefinition$ | async as formDefinition; else loading">
    <ng-container *ngIf="formConfig">
      <cx-form-component
        [formId]="component.formId"
        [formConfig]="formConfig"
        [applicationId]="component.applicationId"
        [formData]="formData$"
      ></cx-form-component>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
